@import url('https://rsms.me/inter/inter-ui.css');
@supports (font-variation-settings: normal) {
  :root { --mainFont: 'Inter UI var alt'; }
}
:root {
	/* Font family */
	--systemFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica Neue, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--customFonts: var(--mainFont);
	--mainFont: "Inter UI"; /* default: "none" */
	/* --mainFont: "none"; /1* default: "none" *1/ */

	--chosenFonts: var(--customFonts), var(--systemFont);

	--radiusSmall: .3em;
	--radiusMedium: .4em;
	--radiusLarge: .8em;

	--navRadius: 0;

	/*     Media Breakpoints     */
	--vwPalm: 640;  /* for phablets */
	--vwLap: 960;   /* for tablets in portrait mode */
	--vwDesk: 1280; /* for laptops and tablets in landscape mode */
	--vwWall: 1600; /* for desktops */
	--vwMall: 1920; /* for wide screen monitors and TVs */
	--vwTitan: 2400;/* for 4K, 8K, VR?... */

	/* o-grid Gutter Width */
	--gridGutter: 1em;

	/* 1920 / 16 */
	--maxContentWidth: 1920px;


	/*  Modular Scale */

	--modBase: 1;
	--modRatio: 1.272;
	@media (--lap) {
		--modBase: 1.125;
	}

	--mod1up: calc( var(--modBase) * var(--modRatio) );
	--mod2up: calc( var(--mod1up) * var(--modRatio) );
	--mod3up: calc( var(--mod2up) * var(--modRatio) );

	--mod1down: calc( var(--modBase) / var(--modRatio) );
	--mod2down: calc( var(--mod1down) / var(--modRatio) );


	/*  Geometry */
	/* --sidebarWidth: 12em; */
	--sidebarWidth: 50vw;
	@media (--palm) {
		--sidebarWidth: 33vw;
	}
	@media (--lap) {
		--sidebarWidth: 25vw;
	}
	@media (--desk) {
		/* --sidebarWidth: 25vw; */
		--sidebarWidth: 12em;
	}

	/* --footerHeight: 3em; */
}
/* Font sizes */
/* Note: I used mixins here instead of extends because of the compression delta. (facsst) */
@define-mixin fontSize1 {
	font-size: calc(var(--mod3up)*1em);
	line-height: calc(2.5/var(--mod3up));
	/*           32px ^ */
	/* padding-top: .11111em; */
	/*    font-size/20  ^ */
}
@define-mixin fontSize2 {
	font-size: calc(var(--mod2up)*1em);
	line-height: calc(2/var(--mod2up));
	/*           32px ^ */
	padding-top: .24em;
	padding-bottom: .0808em;
/* font-size/20  ^ */
}
@define-mixin fontSize3 {
	font-size: calc(var(--mod1up)*1em);
	line-height: calc(1.908/var(--mod2up));
	/*       mod1up*1,5  ^ */
	padding-top: .2em;
	padding-bottom: .2em;
}
@define-mixin fontSize4 {
	font-size: 1em;
	line-height: 1.5;
	padding-top: .3333em;
	padding-bottom: .1777em;
}
@define-mixin fontSize5 {
	font-size: calc(var(--mod1down)*1em);
	line-height: calc(1/var(--mod1down));
	padding-top: .25em;
	padding-bottom: .35em;
}
@define-mixin fontSize6 {
	font-size: calc(var(--mod2down)*1em);
	line-height: calc(1/var(--mod2down));
}

@define-mixin wrongCombination {
	position: relative !important;
	display: block !important;
	height: 120px !important;
	&:after {
		z-index: 9999;
		position: absolute;
		top: 0;
		left: 0;
		content: "This combination doesn't supported and look good.";
		font-weight: 700;
		text-align: center;
		width: 100%;
		height: 100%;
		line-height: 100%;
		background-color: brown;
		color: #fff;
	}
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
