<!-- <header id="mainHeader" class='c-header -viewWithMedia' role='banner'> -->
<header id="mainHeader" class='c-header' role='banner'>
<!-- Header Image -->
<!-- <img src="img/avengers.jpg"/> -->

<!-- Site Title + Page Title (Directory Path Style) -->
<!-- <h1 style="text-align:center"><span style='font-weight:300;'><a href="/">egeesin</a>/<a href="/drawings">çizimler</a>/<a href="">dijital</a></span>/<a href="">önemsiz</a></h1> -->


<!-- Site Title -->
<!-- <h1 style="text-align:center"><a href="/"><span style='font-weight:300;'>ege</span>esin</a></h1> -->

<!-- Theme/Site Logo -->
<a href="/" style="display:block;margin: 1em auto 0;width: 8em;"><svg viewBox="0 0 160 81" fill="var(--textColorBolder)"><use xlink:href="./img/filler/pxl-logo.svg#pxl"></use></svg></a>

<!-- Site Description -->
<h4 style="margin-top:.5rem;text-align:center">Just a simple, customizable blog theme</h4>
</header>
