<!-- <header id="mainHeader" class='c-header -viewWithMedia' role='banner'> -->
<header id="mainHeader" class='c-header' role='banner'>
<!-- Header Image -->
<!-- <img src="img/avengers.jpg"/> -->

<!-- Site Title + Page Title (Directory Path Style) -->
<!-- <h1 style="text-align:center"><span style='font-weight:300;'><a href="/">egeesin</a>/<a href="/drawings">çizimler</a>/<a href="">dijital</a></span>/<a href="">önemsiz</a></h1> -->

<!-- Site Title -->
<!-- <h1 style="text-align:center"><a href="/"><span style='font-weight:300;'>ege</span>esin</a></h1> -->

<!-- Theme/Site Logo -->
<a class="margin: auto;display:block" href="#"><svg class="_pxlTheLogo" viewBox="0 0 32 20" xmlns="http://www.w3.org/2000/svg"><path fill="none" fill-rule="evenodd" stroke-linecap="square" d="M4 11l2-2 2 2-2 2 2 2M14 9l4 4M14 13l4-4M22 5l7 7"/></svg></a>

<!-- Site Description -->
<h4 style="margin-top:.5rem;text-align:center">Just a simple, customizable blog theme</h4>
</header>
