# Don't track Node modules and packages
node_modules
npm-debug.log

package-lock.json
yarn.lock

# Don't track hidden cache directory and environment variable file
.cache
.env

# Don't track temporary, distribution, utility and log directories
tmp/
dist/
utility/
reports/

# Don't track Obsidian configs, plugins
view/{_en,_tr,_content}/.obsidian
view/{_en,_tr,_content}/.trash
view/{_en,_tr,_content}/.obsidian.vimrc

# Don't commit drafts yet
view/draft/

# I'd like my directory to have an icon but you do you.
desktop.ini
