/* Main theme scope for colors (t-color) for both light and dark modes
 */

/* Theme-agnostic the most bright and the most dark colors of all palettes by default
 */
/* TODO: color-mix for bolder (darker or lighter depending on theme) text color */
:where(html){--colorFrontmost:#fff;--colorTextBolder:#000}
:where(html)[data-theme=dark]{--colorBackmost:#000;--colorTextBolder: #fff}

:where(html) {
/* :root { */
/* :where(.t-color) { */
	/* color-scheme: dark light; */

	/* Special Solid Background Color Codes */
	/* --colorBg: #008080; /1* Windows95 Solid Color Turquise *1/ */
	/* --colorBg: #4169AA; /1* MacOSX Solid Color Blue *1/ */
	/* --colorBg: #657185; /1* MacOSX Solid Color Grayscale *1/ */
	/* --colorBg: #4A0640; /1* Ubuntu Solid Color Purple *1/ */

	/* Theme-Agnostic Custom Properties for All Color Palettes */
	--colorAccent: var(--blue); /* Blue as defualt accent color, opinionated */

	/* TODO: color-mix for colorAccentBrighter and Opac60 */
	--colorAccentBrighter: var(--colorAccent);
	--colorAccentBrighterOpac60: var(--colorAccent);
	--colorBg: var(--colorBack, --colorBase);

	--colorText:        rgb(var(--colorTextVal));
	/* --colorTextBolder:  var(--colorText); */

	/* Text color with different transparency/alpha values */
	--colorTextOpac80:  rgb(var(--colorTextVal) / .8);
	--colorTextOpac60:  rgb(var(--colorTextVal) / .6);
	--colorTextOpac40:  rgb(var(--colorTextVal) / .4);
	--colorTextOpac20:  rgb(var(--colorTextVal) / .2);
	--colorTextOpac075: rgb(var(--colorTextVal) / .075);

	/* Base color with different transparency/alpha values */
	--colorBase:        rgb(var(--colorBaseVal));
	--colorBaseOpac80:  rgb(var(--colorBaseVal) / .8);
	--colorBaseOpac0:   rgb(var(--colorBaseVal) / 0);

	--colorLinkDead: var(--red, #F00); /* Red as default dead link color */

	/*
	 *
	 * Default Light Theme (Selenized White)
	 * Jan Warchol (https://github.com/jan-warchol/selenized)
	 *
	 */
	/* &:where(.-schemeLightSelenizedWhite) { */
	--colorBaseVal:248 248 248;
	--colorFront:rgb(252 252 252);
	/* --colorFrontmost:rgb(255 255 255); */
	/* TODO: Add color-mix for colorBack + colorBackmost (and Front + Frontmost) as fallback. */
	--colorBack:rgb(235 235 235);
	--colorBackmost:rgb(205 205 205);
	--colorTextVal:71 71 71;

	/* Hues might differ among various Base16 color schemes. */
	--red:rgb(191 0 0);
	--orange:rgb(186 55 0);
	--yellow:rgb(175 133 0);
	--green:rgb(0 132 0);
	--cyan:rgb(0 154 138); /* or Teal, Aqua */
	--blue:rgb(0 84 207);
	--hue01:rgb(107 64 195); /* usually Purple or Magenta */
	--hue02:rgb(221 15 157); /* usually Brown, might be Magenta, Pink */
	/* } */
}

/*
 *
 * Default Dark Theme (Selenized Black)
 * Jan Warchol (https://github.com/jan-warchol/selenized)
 *
 */
:where(html)[data-theme=dark] {
	/* @media (prefers-color-scheme: dark) { */
	/* &:where(.-schemeDarkSelenizedBlack) { */
		--colorBaseVal:24 24 24;
		--colorFront:rgb(37 37 37);
		--colorFrontmost:rgb(59 59 59);
		--colorBack:rgb(14 14 14);
		/* --colorBackmost:rgb(0 0 0); */
		--colorTextVal:185 185 185;
		--red:rgb(237 74 70);
		--orange:rgb(230 127 67);
		--yellow:rgb(219 179 45);
		--green:rgb(112 180 51);
		--cyan:rgb(63 197 183);
		--blue:rgb(54 138 235);
		--hue01:rgb(165 128 226);
		--hue02:rgb(235 110 183);

		/* TODO: Need color-mix for brighter accent colors instead of fix values */
		/* --colorAccentBrighter: hsl(198 82% 74%); */
		/* --colorAccentBrighterOpac60: hsl(198 82% 74% / .6); */
	/* } */
	/* } */
}

/*
 * Light Color Schemes
 */
:where(.t-color)[data-theme=light]{
	&:where(.-schemeLightAtelierCave) {
	/* Bram de Haan (http://atelierbramdehaan.nl) */
	--colorBaseVal:239 236 244;
	--colorFront:rgb(247 245 249);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(226 223 231);
	--colorBackmost:rgb(196 193 202);
	--colorTextVal:88 82 96;
	--red:rgb(190 70 120);
	--orange:rgb(170 87 60);
	--yellow:rgb(160 110 59);
	--green:rgb(42 146 146);
	--cyan:rgb(57 139 198);
	--blue:rgb(87 109 219);
	--hue01:rgb(149 90 231);
	--hue02:rgb(191 64 191);
	}
	&:where(.-schemeLightAtelierDune) {
	/* Bram de Haan (http://atelierbramdehaan.nl) */

	--colorBaseVal:254 251 236;
	--colorFront:rgb(255 253 245);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(232 228 207);
	--colorBackmost:rgb(210 206 184);
	--colorTextVal:110 107 94;
	--red:rgb(215 55 55);
	--orange:rgb(182 86 17);
	--yellow:rgb(174 149 19);
	--green:rgb(96 172 57);
	--cyan:rgb(31 173 131);
	--blue:rgb(102 132 225);
	--hue01:rgb(184 84 212);
	--hue02:rgb(212 53 82);
	}
	&:where(.-schemeLightAtelierForest) {
	/* Bram de Haan (http://atelierbramdehaan.nl) */

	--colorBaseVal:241 239 238;
	--colorFront:rgb(248 247 246);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(230 226 224);
	--colorBackmost:rgb(209 204 202);
	--colorTextVal:104 97 94;
	--red:rgb(242 44 64);
	--orange:rgb(223 83 32);
	--yellow:rgb(195 132 24);
	--green:rgb(123 151 38);
	--cyan:rgb(61 151 184);
	--blue:rgb(64 126 231);
	--hue01:rgb(102 102 234);
	--hue02:rgb(195 63 243);
	}
	&:where(.-schemeLightAtelierHeath) {
	/* Bram de Haan (http://atelierbramdehaan.nl) */

	--colorBaseVal:247 243 247;
	--colorFront:rgb(251 249 251);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(231 222 231);
	--colorBackmost:rgb(216 202 216);
	--colorTextVal:105 93 105;
	--red:rgb(202 64 43);
	--orange:rgb(166 89 38);
	--yellow:rgb(187 138 53);
	--green:rgb(145 139 59);
	--cyan:rgb(21 147 147);
	--blue:rgb(81 106 236);
	--hue01:rgb(123 89 192);
	--hue02:rgb(204 51 204);
	}
	&:where(.-schemeLightAtelierLakeside) {
	/* Bram de Haan (http://atelierbramdehaan.nl) */

	--colorBaseVal:235 248 255;
	--colorFront:rgb(245 251 255);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(214 238 251);
	--colorBackmost:rgb(193 228 246);
	--colorTextVal:81 109 123;
	--red:rgb(210 45 114);
	--orange:rgb(147 92 37);
	--yellow:rgb(138 138 15);
	--green:rgb(86 140 59);
	--cyan:rgb(45 143 111);
	--blue:rgb(37 127 173);
	--hue01:rgb(107 107 184);
	--hue02:rgb(183 45 210);
	}
	&:where(.-schemeLightAtelierPlateau) {
	/* Bram de Haan (http://atelierbramdehaan.nl) */

	--colorBaseVal:244 236 236;
	--colorBack:rgb(231 223 223);
	--colorBackmost:rgb(212 204 204);
	--colorTextVal:88 80 80;
	--red:rgb(202 73 73);
	--orange:rgb(180 90 60);
	--yellow:rgb(160 110 59);
	--green:rgb(75 139 139);
	--cyan:rgb(84 133 182);
	--blue:rgb(114 114 202);
	--hue01:rgb(132 100 196);
	--hue02:rgb(189 81 135);
	}
	&:where(.-schemeLightAtelierSeaside) {
	/* Bram de Haan (http://atelierbramdehaan.nl) */

	--colorBaseVal:244 251 244;
	--colorFront:rgb(245 251 255);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(225 242 225);
	--colorBackmost:rgb(207 232 207);
	--colorTextVal:94 110 94;
	--red:rgb(230 25 60);
	--orange:rgb(135 113 29);
	--yellow:rgb(152 152 27);
	--green:rgb(41 163 41);
	--cyan:rgb(25 153 179);
	--blue:rgb(61 98 245);
	--hue01:rgb(173 43 238);
	--hue02:rgb(230 25 195);
	}
	&:where(.-schemeLightAtelierSulphurpool) {
	/* Bram de Haan (http://atelierbramdehaan.nl) */

	--colorBaseVal:245 247 255;
	--colorFront:rgb(250 251 255);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(223 226 241);
	--colorBackmost:rgb(199 202 220);
	--colorTextVal:94 102 135;
	--red:rgb(201 73 34);
	--orange:rgb(199 107 41);
	--yellow:rgb(192 139 48);
	--green:rgb(172 151 57);
	--cyan:rgb(34 162 201);
	--blue:rgb(61 143 209);
	--hue01:rgb(102 121 204);
	--hue02:rgb(156 99 122);
	}
	&:where(.-schemeLightAtomOne) {
	/* Daniel Pfeifer (http://github.com/purpleKarrot) */

	--colorBaseVal:245 245 246;
	--colorFront:rgb(250 250 250);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(240 240 241);
	--colorBackmost:rgb(229 229 230);
	--colorTextVal:56 58 66;
	--red:rgb(202 18 67);
	--orange:rgb(215 95 0);
	--yellow:rgb(193 132 1);
	--green:rgb(80 161 79);
	--cyan:rgb(1 132 188);
	--blue:rgb(64 120 242);
	--hue01:rgb(166 38 164);
	--hue02:rgb(152 104 1);
	}
	&:where(.-schemeLightAyu) {
	/* Khue Nguyen */

	--colorBaseVal:243 244 245;
	--colorFront:rgb(250 250 250);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(225 227 229);
	--colorBackmost:rgb(206 209 213);
	--colorTextVal:92 103 115;
	--red:rgb(240 113 120);
	--orange:rgb(250 141 62);
	--yellow:rgb(242 174 73);
	--green:rgb(134 179 0);
	--cyan:rgb(76 191 153);
	--blue:rgb(54 163 217);
	--hue01:rgb(163 122 204);
	--hue02:rgb(230 186 126);
	}
	&:where(.-schemeLightBrushtrees) {
	/* Abraham White */

	--colorBaseVal:227 239 239;
	--colorFront:rgb(241 247 247);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(201 219 220);
	--colorBackmost:rgb(176 197 200);
	--colorTextVal:109 130 142;
	--red:rgb(179 134 134);
	--orange:rgb(216 187 162);
	--yellow:rgb(170 179 134);
	--green:rgb(135 179 134);
	--cyan:rgb(134 179 179);
	--blue:rgb(134 140 179);
	--hue01:rgb(179 134 178);
	--hue02:rgb(179 159 159);
	}
	&:where(.-schemeLightCatppuccinLatte) {
	/* https://github.com/catppuccin/catppuccin */

	--colorBaseVal:239 241 245;
	--colorFront:rgb(247 248 250);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(213 216 224);
	--colorBackmost:rgb(188 192 204);
	--colorTextVal:76 79 105;
	--red:rgb(210 15 57);
	--orange:rgb(254 100 11);
	--yellow:rgb(223 142 29);
	--green:rgb(64 160 43);
	--cyan:rgb(23 146 153);
	--blue:rgb(30 102 245);
	--hue01:rgb(136 57 239);
	--hue02:rgb(221 120 120);
	}
	&:where(.-schemeLightCupcake) {
	/* Chris Kempson (http://chriskempson.com) */

	--colorBaseVal:251 241 242;
	--colorFront:rgb(253 248 248);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(216 213 221);
	--colorBackmost:rgb(191 185 198);
	--colorTextVal:165 157 175;
	--red:rgb(213 126 133);
	--orange:rgb(235 183 144);
	--yellow:rgb(220 177 108);
	--green:rgb(163 179 103);
	--cyan:rgb(105 169 167);
	--blue:rgb(114 151 185);
	--hue01:rgb(187 153 180);
	--hue02:rgb(186 165 140);
	}
	&:where(.-schemeLightDaOnePaper) {
	/* NNB (https://github.com/NNBnh) */

	--colorBaseVal:250 240 220;
	--colorFront:rgb(252 245 232);
	--colorFrontmost:rgb(254 250 243);
	--colorBack:rgb(225 220 210);
	--colorBackmost:rgb(200 200 200);
	--colorTextVal:24 24 24;
	--red:rgb(222 93 110);
	--orange:rgb(255 148 112);
	--yellow:rgb(179 104 79);
	--green:rgb(118 168 93);
	--cyan:rgb(100 181 167);
	--blue:rgb(88 144 248);
	--hue01:rgb(193 115 209);
	--hue02:rgb(179 104 79);
	}
	&:where(.-schemeLightEverforest) {
	/* Sainnhe Park (https://github.com/sainnhe) */

	--colorBaseVal:253 246 227;
	--colorFront:rgb(254 250 241);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(230 226 204);
	--colorBackmost:rgb(189 195 175);
	--colorTextVal:92 106 114;
	--red:rgb(248 85 82);
	--orange:rgb(245 125 38);
	--yellow:rgb(223 160 0);
	--green:rgb(141 161 1);
	--cyan:rgb(53 167 124);
	--blue:rgb(58 148 197);
	--hue01:rgb(223 105 186);
	--hue02:rgb(234 237 200);
	}
	&:where(.-schemeLightFlexoki) {
	/* Steph Ango (kepano) (https://github.com/kepano/flexoki & https://stephango.com/flexoki) */

	--colorBaseVal:255 252 240;
	--colorFront:rgb(255 253 245);
	--colorFrontmost:rgb(255 254 250);
	--colorBack:rgb(242 240 230);
	--colorBackmost:rgb(218 216 207);
	--colorTextVal:16 15 15;
	--red:rgb(175 48 41);
	--orange:rgb(188 82 21);
	--yellow:rgb(173 131 0);
	--green:rgb(102 128 12);
	--cyan:rgb(76 122 93);
	--blue:rgb(32 94 166);
	--hue01:rgb(94 64 157);
	--hue02:rgb(161 47 111);
	}

	&:where(.-schemeLightGruvboxMaterialMedium) {
	/* Mayush Kumar (https://github.com/MayushKumar) */

	--colorBaseVal:251 241 199;
	--colorFront:rgb(253 246 218);
	--colorFrontmost:rgb(254 250 236);
	--colorBack:rgb(242 229 188);
	--colorBackmost:rgb(213 196 161);
	--colorTextVal:101 71 53;
	--red:rgb(193 74 74);
	--orange:rgb(195 94 10);
	--yellow:rgb(180 113 9);
	--green:rgb(108 120 46);
	--cyan:rgb(76 122 93);
	--blue:rgb(69 112 122);
	--hue01:rgb(148 94 128);
	--hue02:rgb(231 138 78);
	}
	&:where(.-schemeLightGruvboxMedium) {
	/* Dawid Kurek, morhetz (https://github.com/morhetz/gruvbox) */

	--colorBaseVal:251 241 199;
	--colorFront:rgb(253 246 218);
	--colorFrontmost:rgb(254 250 236);
	--colorBack:rgb(235 219 178);
	--colorBackmost:rgb(213 196 161);
	--colorTextVal:80 73 69;
	--red:rgb(157 0 6);
	--orange:rgb(175 58 3);
	--yellow:rgb(181 118 20);
	--green:rgb(121 116 14);
	--cyan:rgb(66 123 88);
	--blue:rgb(7 102 120);
	--hue01:rgb(143 63 113);
	--hue02:rgb(214 93 14);
	}
	&:where(.-schemeLightHarmonic16) {
	/* Jannik Siebert (https://github.com/janniks) */

	--colorBaseVal:247 249 251;
	--colorFront:rgb(251 252 253);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(229 235 241);
	--colorBackmost:rgb(203 214 226);
	--colorTextVal:64 92 121;
	--red:rgb(191 86 86);
	--orange:rgb(191 139 86);
	--yellow:rgb(191 191 86);
	--green:rgb(139 191 86);
	--cyan:rgb(86 191 139);
	--blue:rgb(86 139 191);
	--hue01:rgb(139 86 191);
	--hue02:rgb(191 86 139);
	}
	&:where(.-schemeLightHumanoid) {
	/* Thomas (tasmo) Friese */

	--colorBaseVal:248 248 242;
	--colorFront:rgb(252 251 248);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(239 239 233);
	--colorBackmost:rgb(222 222 216);
	--colorTextVal:35 38 41;
	--red:rgb(176 21 26);
	--orange:rgb(255 61 0);
	--yellow:rgb(255 182 39);
	--green:rgb(56 142 60);
	--cyan:rgb(0 142 142);
	--blue:rgb(0 130 201);
	--hue01:rgb(112 15 152);
	--hue02:rgb(178 119 1);
	}
	&:where(.-schemeLightIa) {
	/* iA Inc. (modified by aramisgithub) */

	--colorBaseVal:246 246 246;
	--colorFront:rgb(250 250 250);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(222 222 222);
	--colorBackmost:rgb(193 193 193);
	--colorTextVal:24 24 24;
	--red:rgb(196 62 24);
	--orange:rgb(156 90 2);
	--yellow:rgb(196 130 24);
	--green:rgb(56 120 28);
	--cyan:rgb(45 107 177);
	--blue:rgb(72 186 194);
	--hue01:rgb(169 69 152);
	--hue02:rgb(139 108 55);
	}
	&:where(.-schemeLightLightOwl) {
	/* Sarah Drasner */

	--colorBaseVal:246 246 246;
	--colorFront:rgb(250 250 250);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(235 235 235);
	--colorBackmost:rgb(224 224 224);
	--colorTextVal:64 63 83;
	--red:rgb(222 61 59);
	--orange:rgb(222 122 44);
	--yellow:rgb(218 170 1);
	--green:rgb(8 145 106);
	--cyan:rgb(42 162 152);
	--blue:rgb(40 142 215);
	--hue01:rgb(214 67 138);
	--hue02:rgb(150 150 150);
	}
	&:where(.-schemeLightMaterialLighter) {
	/* Nate Peterson */

	--colorBaseVal:240 242 243;
	--colorFront:rgb(247 248 249);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(231 234 236);
	--colorBackmost:rgb(199 205 216);
	--colorTextVal:135 150 176;
	--red:rgb(255 83 112);
	--orange:rgb(247 109 71);
	--yellow:rgb(255 182 44);
	--green:rgb(145 184 89);
	--cyan:rgb(57 173 181);
	--blue:rgb(97 130 184);
	--hue01:rgb(124 77 255);
	--hue02:rgb(229 57 53);
	}
	&:where(.-schemeLightSagelight) {
	/* Carter Veldhuizen */

	--colorBaseVal:240 240 240;
	--colorFront:rgb(247 248 249);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(232 232 232);
	--colorBackmost:rgb(216 216 216);
	--colorTextVal:56 56 56;
	--red:rgb(250 132 128);
	--orange:rgb(255 170 97);
	--yellow:rgb(255 220 97);
	--green:rgb(160 210 200);
	--cyan:rgb(162 214 245);
	--blue:rgb(160 167 210);
	--hue01:rgb(200 160 210);
	--hue02:rgb(210 178 160);
	}
	&:where(.-schemeLightSakura) {
	/* Misterio77 (http://github.com/Misterio77) */

	--colorBaseVal:254 237 243;
	--colorFront:rgb(255 246 249);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(248 226 231);
	--colorBackmost:rgb(224 204 209);
	--colorTextVal:86 68 72;
	--red:rgb(223 45 82);
	--orange:rgb(246 102 30);
	--yellow:rgb(194 148 97);
	--green:rgb(46 145 109);
	--cyan:rgb(29 137 145);
	--blue:rgb(0 110 147);
	--hue01:rgb(94 33 128);
	--hue02:rgb(186 13 53);
	}
	&:where(.-schemeLightSelenized) {
	/* Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali */

	--colorBaseVal:251 243 219;
	--colorFront:rgb(253 247 231);
	--colorFrontmost:rgb(254 251 243);
	--colorBack:rgb(236 227 204);
	--colorBackmost:rgb(213 205 182);
	--colorTextVal:83 103 109;
	--red:rgb(204 23 41);
	--orange:rgb(188 88 25);
	--yellow:rgb(167 131 0);
	--green:rgb(66 139 0);
	--cyan:rgb(0 151 138);
	--blue:rgb(0 109 206);
	--hue01:rgb(130 93 192);
	--hue02:rgb(196 67 146);
	}
	&:where(.-schemeLightSolarized) {
	/* Ethan Schoonover (modified by aramisgithub) */

	--colorBaseVal:253 246 227;
	--colorFront:rgb(254 250 241);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(238 232 213);
	--colorBackmost:rgb(215 214 200);
	--colorTextVal:88 110 117;
	--red:rgb(220 50 47);
	--orange:rgb(203 75 22);
	--yellow:rgb(181 137 0);
	--green:rgb(133 153 0);
	--cyan:rgb(42 161 152);
	--blue:rgb(38 139 210);
	--hue01:rgb(108 113 196);
	--hue02:rgb(211 54 130);
	}
	&:where(.-schemeLightStandardized) {
	/* ali (https://github.com/ali-githb/base16-standardized-scheme) */

	--colorBaseVal:244 244 244;
	--colorFront:rgb(249 249 249);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(238 238 238);
	--colorBackmost:rgb(204 204 204);
	--colorTextVal:68 68 68;
	--red:rgb(208 62 62);
	--orange:rgb(215 105 29);
	--yellow:rgb(173 130 0);
	--green:rgb(49 134 31);
	--cyan:rgb(0 153 143);
	--blue:rgb(49 115 197);
	--hue01:rgb(158 87 194);
	--hue02:rgb(137 80 37);
	}
	&:where(.-schemeLightSummerfruit) {
	/* Christopher Corley (http://christop.club/) */

	--colorBaseVal:245 245 245;
	--colorFront:rgb(250 250 250);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(224 224 224);
	--colorBackmost:rgb(208 208 208);
	--colorTextVal:16 16 16;
	--red:rgb(255 0 134);
	--orange:rgb(253 137 0);
	--yellow:rgb(171 168 0);
	--green:rgb(0 201 24);
	--cyan:rgb(31 170 170);
	--blue:rgb(55 119 230);
	--hue01:rgb(173 0 161);
	--hue02:rgb(204 102 51);
	}
	&:where(.-schemeLightTokyoNight) {
	/* enkia */

	--colorBaseVal:213 214 219;
	--colorFront:rgb(227 228 231);
	--colorFrontmost:rgb(241 241 243);
	--colorBack:rgb(181 183 191);
	--colorBackmost:rgb(150 153 163);
	--colorTextVal:52 59 88;
	--red:rgb(140 67 81);
	--orange:rgb(150 80 39);
	--yellow:rgb(143 94 21);
	--green:rgb(72 94 48);
	--cyan:rgb(22 103 117);
	--blue:rgb(52 84 138);
	--hue01:rgb(90 74 120);
	--hue02:rgb(99 79 48);
	}
	&:where(.-schemeLightTomorrow) {
	/* Chris Kempson (http://chriskempson.com) */

	--colorBaseVal:245 245 245;
	--colorFront:rgb(250 250 250);
	/* --colorFrontmost:rgb(255 255 255); */
	--colorBack:rgb(224 224 224);
	--colorBackmost:rgb(214 214 214);
	--colorTextVal:77 77 76;
	--red:rgb(200 40 41);
	--orange:rgb(245 135 31);
	--yellow:rgb(234 183 0);
	--green:rgb(113 140 0);
	--cyan:rgb(62 153 159);
	--blue:rgb(66 113 174);
	--hue01:rgb(137 89 168);
	--hue02:rgb(163 104 90);
	}
	&:where(.-schemeLightUnikitty) {
	/* Josh W Lewis (@joshwlewis) */

	--colorBaseVal:240 240 240;
	--colorFront:rgb(245 245 245);
	--colorFrontmost:rgb(250 250 250);
	--colorBack:rgb(225 225 226);
	--colorBackmost:rgb(196 195 197);
	--colorTextVal:108 105 110;
	--red:rgb(216 19 127);
	--orange:rgb(214 84 7);
	--yellow:rgb(220 138 14);
	--green:rgb(23 173 152);
	--cyan:rgb(20 155 218);
	--blue:rgb(119 93 255);
	--hue01:rgb(170 23 230);
	--hue02:rgb(224 19 208);
	}
}
/*
 * Dark Color Schemes
 */
.t-color[data-theme=dark]{
	&:where(.-schemeDarkAshes) {
	/* Jannik Siebert (https://github.com/janniks) */

	--colorBaseVal:28 32 35;
	--colorFront:rgb(57 63 69);
	--colorFrontmost:rgb(86 94 101);
	--colorBack:rgb(17 20 21);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:199 204 209;
	--red:rgb(199 174 149);
	--orange:rgb(199 199 149);
	--yellow:rgb(174 199 149);
	--green:rgb(149 199 174);
	--cyan:rgb(149 174 199);
	--blue:rgb(174 149 199);
	--hue01:rgb(199 149 174);
	--hue02:rgb(199 149 149);
	}
	&:where(.-schemeDarkAtelierCave) {
	/* Bram de Haan (http://atelierbramdehaan.nl) */

	--colorBaseVal:25 23 28;
	--colorFront:rgb(38 35 42);
	--colorFrontmost:rgb(56 52 61);
	--colorBack:rgb(15 14 17);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:139 135 146;
	--red:rgb(190 70 120);
	--orange:rgb(170 87 60);
	--yellow:rgb(160 110 59);
	--green:rgb(42 146 146);
	--cyan:rgb(57 139 198);
	--blue:rgb(87 109 219);
	--hue01:rgb(149 90 231);
	--hue02:rgb(191 64 191);
	}
	&:where(.-schemeDarkAtelierDune) {
	/* Bram de Haan (http://atelierbramdehaan.nl) */

	--colorBaseVal:32 32 29;
	--colorFront:rgb(41 40 36);
	--colorFrontmost:rgb(63 61 54);
	--colorBack:rgb(20 20 18);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:166 162 140;
	--red:rgb(215 55 55);
	--orange:rgb(182 86 17);
	--yellow:rgb(174 149 19);
	--green:rgb(96 172 57);
	--cyan:rgb(31 173 131);
	--blue:rgb(102 132 225);
	--hue01:rgb(184 84 212);
	--hue02:rgb(212 53 82);
	}
	&:where(.-schemeDarkAtelierForest) {
	/* Bram de Haan (http://atelierbramdehaan.nl) */

	--colorBaseVal:27 25 24;
	--colorFront:rgb(44 36 33);
	--colorFrontmost:rgb(63 55 52);
	--colorBack:rgb(17 15 14);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:168 161 159;
	--red:rgb(242 44 64);
	--orange:rgb(223 83 32);
	--yellow:rgb(195 132 24);
	--green:rgb(123 151 38);
	--cyan:rgb(61 151 184);
	--blue:rgb(64 126 231);
	--hue01:rgb(102 102 234);
	--hue02:rgb(195 63 243);
	}
	&:where(.-schemeDarkAtelierHeath) {
	/* Bram de Haan (http://atelierbramdehaan.nl) */

	--colorBaseVal:27 24 27;
	--colorFront:rgb(41 35 41);
	--colorFrontmost:rgb(61 53 61);
	--colorBack:rgb(17 14 17);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:171 155 171;
	--red:rgb(202 64 43);
	--orange:rgb(166 89 38);
	--yellow:rgb(187 138 53);
	--green:rgb(145 139 59);
	--cyan:rgb(21 147 147);
	--blue:rgb(81 106 236);
	--hue01:rgb(123 89 192);
	--hue02:rgb(204 51 204);
	}
	&:where(.-schemeDarkAtelierLakeside) {
	/* Bram de Haan (http://atelierbramdehaan.nl) */

	--colorBaseVal:22 27 29;
	--colorFront:rgb(31 41 46);
	--colorFrontmost:rgb(47 62 70);
	--colorBack:rgb(13 17 18);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:126 162 180;
	--red:rgb(210 45 114);
	--orange:rgb(147 92 37);
	--yellow:rgb(138 138 15);
	--green:rgb(86 140 59);
	--cyan:rgb(45 143 111);
	--blue:rgb(37 127 173);
	--hue01:rgb(107 107 184);
	--hue02:rgb(183 45 210);
	}
	&:where(.-schemeDarkAtelierPlateau) {
	/* Bram de Haan (http://atelierbramdehaan.nl) */

	--colorBaseVal:27 24 24;
	--colorFront:rgb(41 36 36);
	--colorFrontmost:rgb(56 50 50);
	--colorBack:rgb(17 14 14);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:138 133 133;
	--red:rgb(202 73 73);
	--orange:rgb(180 90 60);
	--yellow:rgb(160 110 59);
	--green:rgb(75 139 139);
	--cyan:rgb(84 133 182);
	--blue:rgb(114 114 202);
	--hue01:rgb(132 100 196);
	--hue02:rgb(189 81 135);
	}
	&:where(.-schemeDarkAtelierSeaside) {
	/* Bram de Haan (http://atelierbramdehaan.nl) */

	--colorBaseVal:19 21 19;
	--colorFront:rgb(36 41 36);
	--colorFrontmost:rgb(54 63 54);
	--colorBack:rgb(11 12 11);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:140 166 140;
	--red:rgb(230 25 60);
	--orange:rgb(135 113 29);
	--yellow:rgb(152 152 27);
	--green:rgb(41 163 41);
	--cyan:rgb(25 153 179);
	--blue:rgb(61 98 245);
	--hue01:rgb(173 43 238);
	--hue02:rgb(230 25 195);
	}
	&:where(.-schemeDarkAtelierSulphurpool) {
	/* Bram de Haan (http://atelierbramdehaan.nl) */

	--colorBaseVal:32 39 70;
	--colorFront:rgb(41 50 86);
	--colorFrontmost:rgb(59 67 102);
	--colorBack:rgb(21 23 38);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:151 157 180;
	--red:rgb(201 73 34);
	--orange:rgb(199 107 41);
	--yellow:rgb(192 139 48);
	--green:rgb(172 151 57);
	--cyan:rgb(34 162 201);
	--blue:rgb(61 143 209);
	--hue01:rgb(102 121 204);
	--hue02:rgb(156 99 122);
	}
	&:where(.-schemeDarkAtlas) {
	/* Alex Lende (https://ajlende.com) */

	--colorBaseVal:0 38 53;
	--colorFront:rgb(0 56 77);
	--colorFrontmost:rgb(32 79 98);
	--colorBack:rgb(21 34 40);
	--colorBackmost:rgb(19 26 29);
	--colorTextVal:161 161 154;
	--red:rgb(255 90 103);
	--orange:rgb(240 142 72);
	--yellow:rgb(255 204 27);
	--green:rgb(127 192 110);
	--blue:rgb(93 215 185);
	--cyan:rgb(20 116 126);
	--hue01:rgb(154 112 164);
	--hue02:rgb(196 48 96);
	}
	&:where(.-schemeDarkAtomOne) {
	/* Lalit Magant (http://github.com/tilal6991) */

	--colorBaseVal:40 44 52;
	--colorFront:rgb(61 65 74);
	--colorFrontmost:rgb(84 88 98);
	--colorBack:rgb(36 37 40);
	--colorBackmost:rgb(28 28 29);
	--colorTextVal:171 178 191;
	--red:rgb(224 108 117);
	--orange:rgb(209 154 102);
	--yellow:rgb(229 192 123);
	--green:rgb(152 195 121);
	--cyan:rgb(86 182 194);
	--blue:rgb(97 175 239);
	--hue01:rgb(198 120 221);
	--hue02:rgb(190 80 70);
	}
	&:where(.-schemeDarkAyuMirage) {
	/* Khue Nguyen */

	--colorBaseVal:23 27 36;
	--colorFront:rgb(36 41 54);
	--colorFrontmost:rgb(60 66 81);
	--colorBack:rgb(27 28 32);
	--colorBackmost:rgb(21 23 25);
	--colorTextVal:204 202 194;
	--red:rgb(242 135 121);
	--orange:rgb(255 173 102);
	--yellow:rgb(255 209 115);
	--green:rgb(213 255 128);
	--cyan:rgb(149 230 203);
	--blue:rgb(92 207 230);
	--hue01:rgb(212 191 255);
	--hue02:rgb(242 158 116);
	}
	&:where(.-schemeDarkAyu) {
	/* Khue Nguyen */

	--colorBaseVal:15 20 25;
	--colorFront:rgb(39 45 56);
	--colorFrontmost:rgb(62 75 89);
	--colorBack:rgb(19 22 24);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:230 225 207;
	--red:rgb(240 113 120);
	--orange:rgb(255 143 64);
	--yellow:rgb(255 180 84);
	--green:rgb(184 204 82);
	--cyan:rgb(149 230 203);
	--blue:rgb(89 194 255);
	--hue01:rgb(210 166 255);
	--hue02:rgb(230 182 115);
	}
	&:where(.-schemeDarkBespin) {
	/* Jan T. Sott */

	--colorBaseVal:40 33 28;
	--colorFront:rgb(54 49 46);
	--colorFrontmost:rgb(67 63 61);
	--colorBack:rgb(35 31 29);
	--colorBackmost:rgb(27 25 22);
	--colorTextVal:157 155 151;
	--red:rgb(207 106 76);
	--orange:rgb(207 125 52);
	--yellow:rgb(249 238 152);
	--green:rgb(84 190 13);
	--cyan:rgb(175 196 219);
	--blue:rgb(94 166 234);
	--hue01:rgb(155 133 157);
	--hue02:rgb(147 113 33);
	}
	&:where(.-schemeDarkBrushtrees) {
	/* Abraham White */

	--colorBaseVal:72 88 103;
	--colorFront:rgb(90 109 122);
	--colorFrontmost:rgb(109 130 142);
	--colorBack:rgb(61 73 85);
	--colorBackmost:rgb(49 59 69);
	--colorTextVal:176 197 200;
	--red:rgb(179 134 134);
	--orange:rgb(216 187 162);
	--yellow:rgb(170 179 134);
	--green:rgb(135 179 134);
	--cyan:rgb(134 179 179);
	--blue:rgb(134 140 179);
	--hue01:rgb(179 134 178);
	--hue02:rgb(179 159 159);
	}
	&:where(.-schemeDarkC64) {
	/*  */

	--colorBaseVal:64 49 141;
	--colorFront:rgb(72 57 149);
	--colorFrontmost:rgb(80 65 156);
	--colorBack:rgb(55 42 116);
	--colorBackmost:rgb(46 35 92);
	--colorTextVal:120 105 196;
	--red:rgb(136 57 50);
	--orange:rgb(167 132 81);
	--yellow:rgb(191 206 114);
	--green:rgb(85 160 73);
	--cyan:rgb(103 182 189);
	--blue:rgb(64 49 141);
	--hue01:rgb(139 63 150);
	--hue02:rgb(191 206 114);
	}
	&:where(.-schemeDarkCatppuccinMacchiato) {
	/* https://github.com/catppuccin/catppuccin */

	--colorBaseVal:36 39 58;
	--colorFront:rgb(54 58 79);
	--colorFrontmost:rgb(98 104 128);
	--colorBack:rgb(27 28 40);
	--colorBackmost:rgb(17 17 24);
	--colorTextVal:202 211 245;
	--red:rgb(237 135 150);
	--orange:rgb(245 169 127);
	--yellow:rgb(238 212 159);
	--green:rgb(166 218 149);
	--cyan:rgb(139 213 202);
	--blue:rgb(138 173 244);
	--hue01:rgb(198 160 246);
	--hue02:rgb(240 198 198);
	}
	&:where(.-schemeDarkColors) {
	/* mrmrs (http://clrs.cc) */

	--colorBaseVal:17 17 17;
	--colorFront:rgb(51 51 51);
	--colorFrontmost:rgb(85 85 85);
	--colorBack:rgb(9 9 9);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:187 187 187;
	--red:rgb(255 65 54);
	--orange:rgb(255 133 27);
	--yellow:rgb(255 220 0);
	--green:rgb(46 204 64);
	--cyan:rgb(127 219 255);
	--blue:rgb(0 116 217);
	--hue01:rgb(177 13 201);
	--hue02:rgb(133 20 75);
	}
	&:where(.-schemeDarkDaOneGray) {
	/* NNB (https://github.com/NNBnh) */

	--colorBaseVal:24 24 24;
	--colorFront:rgb(40 40 40);
	--colorFrontmost:rgb(88 88 88);
	--colorBack:rgb(14 14 14);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:255 255 255;
	--red:rgb(250 120 131);
	--orange:rgb(255 148 112);
	--yellow:rgb(255 195 135);
	--green:rgb(152 195 121);
	--cyan:rgb(138 245 255);
	--blue:rgb(107 184 255);
	--hue01:rgb(231 153 255);
	--hue02:rgb(179 104 79);
	}
	&:where(.-schemeDarkDaOneOcean) {
	/* NNB (https://github.com/NNBnh) */

	--colorBaseVal:23 23 38;
	--colorFront:rgb(34 39 61);
	--colorFrontmost:rgb(82 88 102);
	--colorBack:rgb(15 14 23);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:255 255 255;
	--red:rgb(250 120 131);
	--orange:rgb(255 148 112);
	--yellow:rgb(255 195 135);
	--green:rgb(152 195 121);
	--cyan:rgb(138 245 255);
	--blue:rgb(107 184 255);
	--hue01:rgb(231 153 255);
	--hue02:rgb(179 104 79);
	}
	&:where(.-schemeDarkDaOneSea) {
	/* NNB (https://github.com/NNBnh) */

	--colorBaseVal:34 39 61;
	--colorFront:rgb(55 64 89);
	--colorFrontmost:rgb(82 88 102);
	--colorBack:rgb(21 23 33);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:255 255 255;
	--red:rgb(250 120 131);
	--orange:rgb(255 148 112);
	--yellow:rgb(255 195 135);
	--green:rgb(152 195 121);
	--cyan:rgb(138 245 255);
	--blue:rgb(107 184 255);
	--hue01:rgb(231 153 255);
	--hue02:rgb(179 104 79);
	}
	&:where(.-schemeDarkDanqing) {
	/* Wenhan Zhu (Cosmos) */

	--colorBaseVal:45 48 47;
	--colorFront:rgb(67 72 70);
	--colorFrontmost:rgb(90 96 93);
	--colorBack:rgb(26 27 27);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:224 240 239;
	--red:rgb(249 144 111);
	--orange:rgb(202 105 36);
	--yellow:rgb(240 194 57);
	--green:rgb(138 179 97);
	--cyan:rgb(48 223 243);
	--blue:rgb(176 164 227);
	--hue01:rgb(204 164 227);
	--hue02:rgb(179 138 97);
	}
	&:where(.-schemeDarkDarktooth) {
	/* Jason Milkins (https://github.com/jasonm23) */

	--colorBaseVal:29 32 33;
	--colorFront:rgb(50 48 47);
	--colorFrontmost:rgb(80 73 69);
	--colorBack:rgb(18 20 20);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:168 153 132;
	--red:rgb(251 84 63);
	--orange:rgb(254 134 37);
	--yellow:rgb(250 192 59);
	--green:rgb(149 192 133);
	--cyan:rgb(139 165 155);
	--blue:rgb(13 102 120);
	--hue01:rgb(143 70 115);
	--hue02:rgb(168 115 34);
	}
	&:where(.-schemeDarkDecaf) {
	/* Alex Mirrington (https://github.com/alexmirrington) */

	--colorBaseVal:45 45 45;
	--colorFront:rgb(57 57 57);
	--colorFrontmost:rgb(81 81 81);
	--colorBack:rgb(37 37 37);
	--colorBackmost:rgb(30 30 30);
	--colorTextVal:204 204 204;
	--red:rgb(255 127 123);
	--orange:rgb(255 191 112);
	--yellow:rgb(255 214 124);
	--green:rgb(190 218 120);
	--cyan:rgb(190 214 255);
	--blue:rgb(144 190 225);
	--hue01:rgb(239 179 247);
	--hue02:rgb(255 147 179);
	}
	&:where(.-schemeDarkDracula) {
	/* draculatheme.com */

	--colorBaseVal:40 42 54;
	--colorFront:rgb(48 50 71);
	--colorFrontmost:rgb(68 71 90);
	--colorBack:rgb(29 30 38);
	--colorBackmost:rgb(18 19 23);
	--colorTextVal:248 248 242;
	--red:rgb(255 85 85);
	--orange:rgb(255 184 108);
	--yellow:rgb(241 250 140);
	--green:rgb(80 250 123);
	--cyan:rgb(139 233 253);
	--blue:rgb(120 172 208);
	--hue01:rgb(189 147 249);
	--hue02:rgb(255 121 198);
	}
	&:where(.-schemeDarkEighties) {
	/* Chris Kempson (http://chriskempson.com) */

	--colorBaseVal:45 45 45;
	--colorFront:rgb(57 57 57);
	--colorFrontmost:rgb(81 81 81);
	--colorBack:rgb(32 32 32);
	--colorBackmost:rgb(20 20 20);
	--colorTextVal:211 208 200;
	--red:rgb(242 119 122);
	--orange:rgb(249 145 87);
	--yellow:rgb(255 204 102);
	--green:rgb(153 204 153);
	--cyan:rgb(102 204 204);
	--blue:rgb(102 153 204);
	--hue01:rgb(204 153 204);
	--hue02:rgb(210 123 83);
	}
	&:where(.-schemeDarkEva) {
	/* kjakapat (https://github.com/kjakapat) */

	--colorBaseVal:42 59 77;
	--colorFront:rgb(61 86 111);
	--colorFrontmost:rgb(75 105 136);
	--colorBack:rgb(31 41 52);
	--colorBackmost:rgb(20 24 29);
	--colorTextVal:159 162 166;
	--red:rgb(196 103 108);
	--orange:rgb(255 153 102);
	--yellow:rgb(255 255 102);
	--green:rgb(102 255 102);
	--cyan:rgb(75 143 119);
	--blue:rgb(21 244 238);
	--hue01:rgb(156 108 211);
	--hue02:rgb(187 100 169);
	}
	&:where(.-schemeDarkEverforest) {
	/* Sainnhe Park (https://github.com/sainnhe) */

	--colorBaseVal:45 53 59;
	--colorFront:rgb(52 63 68);
	--colorFrontmost:rgb(71 82 88);
	--colorBack:rgb(35 42 46);
	--colorBackmost:rgb(30 34 38);
	--colorTextVal:211 198 170;
	--red:rgb(230 126 128);
	--orange:rgb(230 152 117);
	--yellow:rgb(219 188 127);
	--green:rgb(167 192 128);
	--cyan:rgb(131 192 146);
	--blue:rgb(127 187 179);
	--hue01:rgb(214 153 182);
	--hue02:rgb(81 64 69);
	}
	&:where(.-schemeDarkFlat) {
	/* Chris Kempson (http://chriskempson.com) */

	--colorBaseVal:44 62 80;
	--colorFront:rgb(52 73 94);
	--colorFrontmost:rgb(77 94 109);
	--colorBack:rgb(38 52 67);
	--colorBackmost:rgb(32 43 54);
	--colorTextVal:224 224 224;
	--red:rgb(231 76 60);
	--orange:rgb(230 126 34);
	--yellow:rgb(241 196 15);
	--green:rgb(46 204 113);
	--cyan:rgb(26 188 156);
	--blue:rgb(52 152 219);
	--hue01:rgb(155 89 182);
	--hue02:rgb(190 100 60);
	}
	&:where(.-schemeDarkFlexoki) {
	/* Steph Ango (kepano) (https://github.com/kepano/flexoki & https://stephango.com/flexoki) */

	--colorBaseVal:16 15 15;
	--colorFront:rgb(28 27 26);
	--colorFrontmost:rgb(40 39 38);
	--colorBack:rgb(9 8 8);
	--colorBackmost:rgb(0 0 0);
	--colorTextVal:206 205 195;
	--red:rgb(209 77 65);
	--orange:rgb(218 112 44);
	--yellow:rgb(208 162 21);
	--green:rgb(136 154 57);
	--cyan:rgb(58 169 159);
	--blue:rgb(67 133 190);
	--hue01:rgb(139 126 200);
	--hue02:rgb(206 93 152);
	}
	&:where(.-schemeDarkGruber) {
	/* github.com/rexim/gruber-darker-theme */

	--colorBaseVal:24 24 24;
	--colorFront:rgb(69 61 65);
	--colorFrontmost:rgb(82 73 78);
	--colorBack:rgb(14 14 14);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:228 228 239;
	--red:rgb(244 56 65);
	--orange:rgb(204 140 60);
	--yellow:rgb(255 221 51);
	--green:rgb(115 201 54);
	--cyan:rgb(149 169 159);
	--blue:rgb(150 166 200);
	--hue01:rgb(158 149 199);
	--hue02:rgb(199 60 63);
	}
	&:where(.-schemeDarkGruvboxMaterialMedium) {
	/* Mayush Kumar, sainnhe (https://github.com/sainnhe/gruvbox-material-vscode) */

	--colorBaseVal:41 40 40;
	--colorFront:rgb(50 48 47);
	--colorFrontmost:rgb(80 73 69);
	--colorBack:rgb(29 32 33);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:221 199 161;
	--red:rgb(234 105 98);
	--orange:rgb(231 138 78);
	--yellow:rgb(216 166 87);
	--green:rgb(169 182 101);
	--cyan:rgb(137 180 130);
	--blue:rgb(125 174 163);
	--hue01:rgb(211 134 155);
	--hue02:rgb(189 111 62);
	}
	&:where(.-schemeDarkGruvboxMedium) {
	/* Dawid Kurek, morhetz (https://github.com/morhetz/gruvbox) */

	--colorBaseVal:40 40 40;
	--colorFront:rgb(60 56 54);
	--colorFrontmost:rgb(80 73 69);
	--colorBack:rgb(29 32 33);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:213 196 161;
	--red:rgb(251 73 52);
	--orange:rgb(254 128 25);
	--yellow:rgb(250 189 47);
	--green:rgb(184 187 38);
	--cyan:rgb(142 192 124);
	--blue:rgb(131 165 152);
	--hue01:rgb(211 134 155);
	--hue02:rgb(214 93 14);
	}
	&:where(.-schemeDarkHarmonic16) {
	/* Jannik Siebert (https://github.com/janniks) */

	--colorBaseVal:11 28 44;
	--colorFront:rgb(34 59 84);
	--colorFrontmost:rgb(64 92 121);
	--colorBack:rgb(9 17 26);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:203 214 226;
	--red:rgb(191 86 86);
	--orange:rgb(191 139 86);
	--yellow:rgb(191 191 86);
	--green:rgb(139 191 86);
	--cyan:rgb(86 191 139);
	--blue:rgb(86 139 191);
	--hue01:rgb(139 86 191);
	--hue02:rgb(191 86 139);
	}
	&:where(.-schemeDarkHelios) {
	/* Alex Meyer (https://github.com/reyemxela) */

	--colorBaseVal:29 32 33;
	--colorFront:rgb(56 60 62);
	--colorFrontmost:rgb(83 88 91);
	--colorBack:rgb(18 20 20);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:213 213 213;
	--red:rgb(215 38 56);
	--orange:rgb(235 132 19);
	--yellow:rgb(241 157 26);
	--green:rgb(136 185 45);
	--cyan:rgb(27 165 149);
	--blue:rgb(30 139 172);
	--hue01:rgb(190 66 100);
	--hue02:rgb(200 94 13);
	}
	&:where(.-schemeDarkHopscotch) {
	/* Jan T. Sott */

	--colorBaseVal:50 41 49;
	--colorFront:rgb(67 59 66);
	--colorFrontmost:rgb(92 84 91);
	--colorBack:rgb(28 24 28);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:185 181 184;
	--red:rgb(221 70 76);
	--orange:rgb(253 139 25);
	--yellow:rgb(253 204 89);
	--green:rgb(143 193 62);
	--cyan:rgb(20 155 147);
	--blue:rgb(18 144 191);
	--hue01:rgb(200 94 124);
	--hue02:rgb(179 53 8);
	}
	&:where(.-schemeDarkHumanoid) {
	/* Thomas (tasmo) Friese */

	--colorBaseVal:35 38 41;
	--colorFront:rgb(51 59 61);
	--colorFrontmost:rgb(72 78 84);
	--colorBack:rgb(21 23 24);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:248 248 242;
	--red:rgb(241 18 53);
	--orange:rgb(255 149 5);
	--yellow:rgb(255 182 39);
	--green:rgb(2 216 73);
	--cyan:rgb(13 217 214);
	--blue:rgb(0 166 251);
	--hue01:rgb(241 94 227);
	--hue02:rgb(178 119 1);
	}
	&:where(.-schemeDarkIa) {
	/* iA Inc. (modified by aramisgithub) */

	--colorBaseVal:26 26 26;
	--colorFront:rgb(34 34 34);
	--colorFrontmost:rgb(60 60 60);
	--colorBack:rgb(16 16 16);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:204 204 204;
	--red:rgb(216 104 104);
	--orange:rgb(216 133 104);
	--yellow:rgb(185 147 83);
	--green:rgb(131 164 113);
	--cyan:rgb(124 156 174);
	--blue:rgb(142 204 221);
	--hue01:rgb(185 142 178);
	--hue02:rgb(139 108 55);
	}
	&:where(.-schemeDarkKanagawa) {
	/* Tommaso Laurenzi (https://github.com/rebelot) */

	--colorBaseVal:31 31 40;
	--colorFront:rgb(34 50 73);
	--colorFrontmost:rgb(84 84 109);
	--colorBack:rgb(19 19 24);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:220 215 186;
	--red:rgb(195 64 67);
	--orange:rgb(255 160 102);
	--yellow:rgb(192 163 110);
	--green:rgb(118 148 106);
	--cyan:rgb(106 149 137);
	--blue:rgb(126 156 216);
	--hue01:rgb(149 127 184);
	--hue02:rgb(210 126 153);
	}
	&:where(.-schemeDarkMarrakesh) {
	/* Alexandre Gavioli (http://github.com/Alexx2/) */

	--colorBaseVal:32 22 2;
	--colorFront:rgb(49 44 7);
	--colorFrontmost:rgb(71 67 14);
	--colorBack:rgb(20 13 1);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:148 142 72;
	--red:rgb(195 83 89);
	--orange:rgb(179 97 68);
	--yellow:rgb(168 131 57);
	--green:rgb(24 151 78);
	--cyan:rgb(117 167 56);
	--blue:rgb(71 124 161);
	--hue01:rgb(136 104 179);
	--hue02:rgb(179 88 142);
	}
	&:where(.-schemeDarkMateria) {
	/* https://github.com/nana-4/materia-theme/ */

	--colorBaseVal:38 50 56;
	--colorFront:rgb(55 67 73);
	--colorFrontmost:rgb(74 84 91);
	--colorBack:rgb(23 28 31);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:205 211 222;
	--red:rgb(236 95 103);
	--orange:rgb(234 149 96);
	--yellow:rgb(255 204 0);
	--green:rgb(139 214 73);
	--cyan:rgb(128 203 196);
	--blue:rgb(137 221 255);
	--hue01:rgb(130 170 255);
	--hue02:rgb(236 95 103);
	}
	&:where(.-schemeDarkMaterialDarker) {
	/* Nate Peterson */

	--colorBaseVal:33 33 33;
	--colorFront:rgb(66 66 66);
	--colorFrontmost:rgb(97 97 97);
	--colorBack:rgb(20 20 20);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:238 255 255;
	--red:rgb(240 113 120);
	--orange:rgb(247 140 108);
	--yellow:rgb(255 203 107);
	--green:rgb(195 232 141);
	--cyan:rgb(137 221 255);
	--blue:rgb(130 170 255);
	--hue01:rgb(199 146 234);
	--hue02:rgb(255 83 112);
	}
	&:where(.-schemeDarkMaterialPalenight) {
	/* Nate Peterson (https://m1.material.io/style/color.html#color-color-palette) */

	--colorBaseVal:40 45 63;
	--colorFront:rgb(68 66 103);
	--colorFrontmost:rgb(103 110 149);
	--colorBack:rgb(24 26 34);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:189 199 214;
	--red:rgb(240 113 120);
	--orange:rgb(247 140 108);
	--yellow:rgb(255 203 107);
	--green:rgb(195 232 141);
	--cyan:rgb(137 221 255);
	--blue:rgb(130 170 255);
	--hue01:rgb(199 146 234);
	--hue02:rgb(255 83 112);
	}
	&:where(.-schemeDarkMaterial) {
	/* Nate Peterson (https://m1.material.io/style/color.html#color-color-palette) */

	--colorBaseVal:38 50 56;
	--colorFront:rgb(55 71 79);
	--colorFrontmost:rgb(69 90 100);
	--colorBack:rgb(23 28 31);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:238 255 255;
	--red:rgb(240 113 120);
	--orange:rgb(247 140 108);
	--yellow:rgb(255 203 107);
	--green:rgb(195 232 141);
	--cyan:rgb(137 221 255);
	--blue:rgb(130 170 255);
	--hue01:rgb(199 146 234);
	--hue02:rgb(255 83 112);
	}
	&:where(.-schemeDarkMocha) {
	/* Chris Kempson (http://chriskempson.com) */

	--colorBaseVal:59 50 40;
	--colorFront:rgb(83 70 54);
	--colorFrontmost:rgb(100 82 64);
	--colorBack:rgb(45 40 35);
	--colorBackmost:rgb(32 29 26);
	--colorTextVal:208 200 198;
	--red:rgb(203 96 119);
	--orange:rgb(210 139 113);
	--yellow:rgb(244 188 135);
	--green:rgb(190 181 91);
	--cyan:rgb(123 189 164);
	--blue:rgb(138 179 181);
	--hue01:rgb(168 155 185);
	--hue02:rgb(187 149 132);
	}
	&:where(.-schemeDarkMonokai) {
	/* Wimer Hazenberg (http://www.monokai.nl) */

	--colorBaseVal:39 40 34;
	--colorFront:rgb(63 63 53);
	--colorFrontmost:rgb(90 87 73);
	--colorBack:rgb(28 29 25);
	--colorBackmost:rgb(17 18 15);
	--colorTextVal:248 248 242;
	--red:rgb(249 38 114);
	--orange:rgb(253 151 31);
	--yellow:rgb(244 191 117);
	--green:rgb(166 226 46);
	--cyan:rgb(161 239 228);
	--blue:rgb(102 217 239);
	--hue01:rgb(174 129 255);
	--hue02:rgb(204 102 51);
	}
	&:where(.-schemeDarkMountain) {
	/* gnsfujiwara (https://github.com/gnsfujiwara) */

	--colorBaseVal:25 25 25;
	--colorFront:rgb(38 38 38);
	--colorFrontmost:rgb(76 76 76);
	--colorBack:rgb(15 15 15);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:202 202 202;
	--red:rgb(172 138 140);
	--orange:rgb(206 177 136);
	--yellow:rgb(172 169 138);
	--green:rgb(138 172 139);
	--cyan:rgb(138 171 172);
	--blue:rgb(143 138 172);
	--hue01:rgb(172 138 172);
	--hue02:rgb(172 138 140);
	}
	&:where(.-schemeDarkNightOwl) {
	/* Sarah Drasner */

	--colorBaseVal:1 22 39;
	--colorFront:rgb(14 40 60);
	--colorFrontmost:rgb(29 59 83);
	--colorBack:rgb(3 13 23);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:214 222 235;
	--red:rgb(239 83 80);
	--orange:rgb(215 160 91);
	--yellow:rgb(173 219 103);
	--green:rgb(34 218 110);
	--cyan:rgb(33 199 168);
	--blue:rgb(130 170 255);
	--hue01:rgb(199 146 234);
	--hue02:rgb(150 150 150);
	}
	&:where(.-schemeDarkNord) {
	/* arcticicestudio (https://www.nordtheme.com/) */

	--colorBaseVal:46 52 64;
	--colorFront:rgb(76 86 106);
	--colorFrontmost:rgb(98 107 126);
	--colorBack:rgb(27 29 35);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:216 222 233;
	--red:rgb(191 97 106);
	--orange:rgb(208 135 112);
	--yellow:rgb(235 203 139);
	--green:rgb(163 190 140);
	--cyan:rgb(136 192 208);
	--blue:rgb(129 161 193);
	--hue01:rgb(180 142 173);
	--hue02:rgb(94 129 172);
	}
	&:where(.-schemeDarkNova) {
	/* Trevor Miller */

	--colorBaseVal:60 76 85;
	--colorFront:rgb(72 90 100);
	--colorFrontmost:rgb(84 104 116);
	--colorBack:rgb(45 57 64);
	--colorBackmost:rgb(30 39 44);
	--colorTextVal:197 212 221;
	--red:rgb(223 140 140);
	--orange:rgb(242 195 143);
	--yellow:rgb(218 218 147);
	--green:rgb(168 206 147);
	--cyan:rgb(127 193 202);
	--blue:rgb(131 175 229);
	--hue01:rgb(154 147 225);
	--hue02:rgb(209 142 194);
	}
	&:where(.-schemeDarkOcean) {
	/* Chris Kempson (http://chriskempson.com) */

	--colorBaseVal:43 48 59;
	--colorFront:rgb(61 69 80);
	--colorFrontmost:rgb(79 91 102);
	--colorBack:rgb(25 27 32);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:192 197 206;
	--red:rgb(191 97 106);
	--orange:rgb(208 135 112);
	--yellow:rgb(235 203 139);
	--green:rgb(163 190 140);
	--cyan:rgb(150 181 180);
	--blue:rgb(143 161 179);
	--hue01:rgb(180 142 173);
	--hue02:rgb(171 121 103);
	}
	&:where(.-schemeDarkOceanicnext) {
	/* https://github.com/voronianski/oceanic-next-color-scheme */

	--colorBaseVal:27 43 52;
	--colorFront:rgb(52 61 70);
	--colorFrontmost:rgb(79 91 102);
	--colorBack:rgb(18 25 29);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:192 197 206;
	--red:rgb(236 95 103);
	--orange:rgb(249 145 87);
	--yellow:rgb(250 200 99);
	--green:rgb(153 199 148);
	--cyan:rgb(95 179 179);
	--blue:rgb(102 153 204);
	--hue01:rgb(197 148 197);
	--hue02:rgb(171 121 103);
	}
	&:where(.-schemeDarkOutrun) {
	/* Hugo Delahousse (http://github.com/hugodelahousse/) */

	--colorBaseVal:23 27 65;
	--colorFront:rgb(48 48 90);
	--colorFrontmost:rgb(72 71 114);
	--colorBack:rgb(18 17 35);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:208 208 250;
	--red:rgb(255 66 66);
	--orange:rgb(252 141 40);
	--yellow:rgb(243 232 119);
	--green:rgb(89 241 118);
	--cyan:rgb(14 240 240);
	--blue:rgb(102 176 255);
	--hue01:rgb(241 5 150);
	--hue02:rgb(240 3 239);
	}
	&:where(.-schemeDarkParaiso) {
	/* Jan T. Sott */

	--colorBaseVal:47 30 46;
	--colorFront:rgb(63 48 61);
	--colorFrontmost:rgb(79 66 76);
	--colorBack:rgb(27 19 26);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:163 158 155;
	--red:rgb(239 97 85);
	--orange:rgb(249 155 21);
	--yellow:rgb(254 196 24);
	--green:rgb(72 182 133);
	--cyan:rgb(91 196 191);
	--blue:rgb(6 182 239);
	--hue01:rgb(129 91 164);
	--hue02:rgb(233 107 168);
	}
	&:where(.-schemeDarkPhd) {
	/* Hennig Hasemann (http://leetless.de/vim.html) */

	--colorBaseVal:6 18 41;
	--colorFront:rgb(42 52 72);
	--colorFrontmost:rgb(77 86 102);
	--colorBack:rgb(6 10 25);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:184 187 194;
	--red:rgb(208 115 70);
	--orange:rgb(240 160 0);
	--yellow:rgb(251 212 97);
	--green:rgb(153 191 82);
	--cyan:rgb(114 185 191);
	--blue:rgb(82 153 191);
	--hue01:rgb(153 137 204);
	--hue02:rgb(176 128 96);
	}
	&:where(.-schemeDarkPop) {
	/* Chris Kempson (http://chriskempson.com) */

	--colorBaseVal:42 42 42;
	--colorFront:rgb(60 60 60);
	--colorFrontmost:rgb(80 80 80);
	--colorBack:rgb(25 25 25);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:208 208 208;
	--red:rgb(235 0 138);
	--orange:rgb(242 147 51);
	--yellow:rgb(248 202 18);
	--green:rgb(55 179 73);
	--cyan:rgb(0 170 187);
	--blue:rgb(14 90 148);
	--hue01:rgb(179 30 141);
	--hue02:rgb(122 45 0);
	}
	&:where(.-schemeDarkSelenized) {
	/* Jan Warchol (https://github.com/jan-warchol/selenized) */

	--colorBaseVal:16 60 72;
	--colorFront:rgb(24 73 86);
	--colorFrontmost:rgb(45 91 105);
	--colorBack:rgb(7 54 66);
	--colorBackmost:rgb(0 43 54);
	--colorTextVal:173 188 188;
	--red:rgb(250 87 80);
	--orange:rgb(237 134 73);
	--yellow:rgb(219 179 45);
	--green:rgb(117 185 56);
	--cyan:rgb(65 199 185);
	--blue:rgb(70 149 247);
	--hue01:rgb(175 136 235);
	--hue02:rgb(242 117 190);
	}
	&:where(.-schemeDarkSeti) {
	/*  */

	--colorBaseVal:21 23 24;
	--colorFront:rgb(40 42 43);
	--colorFrontmost:rgb(65 83 91);
	--colorBack:rgb(12 14 14);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:214 214 214;
	--red:rgb(205 63 69);
	--orange:rgb(219 123 85);
	--yellow:rgb(230 205 105);
	--green:rgb(159 202 86);
	--cyan:rgb(85 219 190);
	--blue:rgb(85 181 219);
	--hue01:rgb(160 116 196);
	--hue02:rgb(138 85 63);
	}
	&:where(.-schemeDarkShadesOfPurple) {
	/* ahmadawais */

	--colorBaseVal:45 43 85;
	--colorFront:rgb(66 44 165);
	--colorFrontmost:rgb(77 33 252);
	--colorBack:rgb(27 25 44);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:255 255 255;
	--red:rgb(217 4 41);
	--orange:rgb(241 142 37);
	--yellow:rgb(255 231 0);
	--green:rgb(58 217 0);
	--cyan:rgb(0 197 199);
	--blue:rgb(105 67 255);
	--hue01:rgb(255 119 255);
	--hue02:rgb(255 44 112);
	}
	&:where(.-schemeDarkSolarized) {
	/* Ethan Schoonover (modified by aramisgithub) */

	--colorBaseVal:0 43 54;
	--colorFront:rgb(7 54 66);
	--colorFrontmost:rgb(24 73 86);
	--colorBack:rgb(8 31 38);
	--colorBackmost:rgb(6 19 23);
	--colorTextVal:147 161 161;
	--red:rgb(220 50 47);
	--orange:rgb(203 75 22);
	--yellow:rgb(181 137 0);
	--green:rgb(133 153 0);
	--cyan:rgb(42 161 152);
	--blue:rgb(38 139 210);
	--hue01:rgb(108 113 196);
	--hue02:rgb(211 54 130);
	}
	&:where(.-schemeDarkSonokaiAndromeda) {
	/* Sainnhe Park (https://github.com/sainnhe) */

	--colorBaseVal:43 45 58;
	--colorFront:rgb(54 58 78);
	--colorFrontmost:rgb(63 68 91);
	--colorBack:rgb(37 38 48);
	--colorBackmost:rgb(24 26 28);
	--colorTextVal:225 227 228;
	--red:rgb(251 97 126);
	--orange:rgb(248 152 96);
	--yellow:rgb(237 199 99);
	--green:rgb(158 208 108);
	--cyan:rgb(109 202 232);
	--blue:rgb(187 151 238);
	--hue01:rgb(85 57 61);
	--hue02:rgb(78 67 47);
	}
	&:where(.-schemeDarkSonokaiDefault) {
	/* Sainnhe Park (https://github.com/sainnhe) */

	--colorBaseVal:44 46 52;
	--colorFront:rgb(54 57 68);
	--colorFrontmost:rgb(65 69 80);
	--colorBack:rgb(34 35 39);
	--colorBackmost:rgb(24 24 25);
	--colorTextVal:226 226 227;
	--red:rgb(252 93 124);
	--orange:rgb(243 150 96);
	--yellow:rgb(231 198 100);
	--green:rgb(158 208 114);
	--cyan:rgb(118 204 224);
	--blue:rgb(179 157 243);
	--hue01:rgb(85 57 61);
	--hue02:rgb(78 67 47);
	}
	&:where(.-schemeDarkSonokaiEspresso) {
	/* Sainnhe Park (https://github.com/sainnhe) */

	--colorBaseVal:49 44 43;
	--colorFront:rgb(65 57 55);
	--colorFrontmost:rgb(78 67 63);
	--colorBack:rgb(36 33 32);
	--colorBackmost:rgb(31 30 28);
	--colorTextVal:228 227 225;
	--red:rgb(248 104 130);
	--orange:rgb(240 141 113);
	--yellow:rgb(240 198 111);
	--green:rgb(166 205 119);
	--cyan:rgb(129 208 201);
	--blue:rgb(159 160 225);
	--hue01:rgb(85 57 61);
	--hue02:rgb(78 67 47);
	}
	&:where(.-schemeDarkSonokaiMaia) {
	/* Sainnhe Park (https://github.com/sainnhe) */

	--colorBaseVal:39 49 54;
	--colorFront:rgb(53 63 70);
	--colorFrontmost:rgb(65 75 83);
	--colorBack:rgb(33 40 44);
	--colorBackmost:rgb(28 30 31);
	--colorTextVal:225 226 227;
	--red:rgb(247 108 124);
	--orange:rgb(243 169 106);
	--yellow:rgb(227 211 103);
	--green:rgb(156 213 123);
	--cyan:rgb(120 206 233);
	--blue:rgb(186 160 248);
	--hue01:rgb(85 89 61);
	--hue02:rgb(78 67 47);
	}
	&:where(.-schemeDarkSpaceduck) {
	/* Guillermo Rodriguez (https://github.com/pineapplegiant) */

	--colorBaseVal:22 23 45;
	--colorFront:rgb(27 28 54);
	--colorFrontmost:rgb(48 54 95);
	--colorBack:rgb(15 14 26);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:236 240 193;
	--red:rgb(227 52 0);
	--orange:rgb(227 148 0);
	--yellow:rgb(242 206 0);
	--green:rgb(92 204 150);
	--cyan:rgb(0 163 204);
	--blue:rgb(122 92 204);
	--hue01:rgb(179 161 230);
	--hue02:rgb(206 111 143);
	}
	&:where(.-schemeDarkSpacemacs) {
	/* Nasser Alshammari (https://github.com/nashamri/spacemacs-theme) */

	--colorBaseVal:31 32 34;
	--colorFront:rgb(40 40 40);
	--colorFrontmost:rgb(68 65 85);
	--colorBack:rgb(19 20 21);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:163 163 163;
	--red:rgb(242 36 31);
	--orange:rgb(255 165 0);
	--yellow:rgb(177 149 29);
	--green:rgb(103 177 29);
	--cyan:rgb(45 149 116);
	--blue:rgb(79 151 215);
	--hue01:rgb(163 29 177);
	--hue02:rgb(176 48 96);
	}
	&:where(.-schemeDarkStandardized) {
	/* ali (https://github.com/ali-githb/base16-standardized-scheme) */

	--colorBaseVal:34 34 34;
	--colorFront:rgb(48 48 48);
	--colorFrontmost:rgb(85 85 85);
	--colorBack:rgb(21 21 21);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:192 192 192;
	--red:rgb(225 93 103);
	--orange:rgb(252 128 78);
	--yellow:rgb(225 179 26);
	--green:rgb(93 177 41);
	--cyan:rgb(33 201 146);
	--blue:rgb(0 163 242);
	--hue01:rgb(180 110 224);
	--hue02:rgb(184 125 40);
	}
	&:where(.-schemeDarkSummerfruit) {
	/* Christopher Corley (http://christop.club/) */

	--colorBaseVal:21 21 21;
	--colorFront:rgb(32 32 32);
	--colorFrontmost:rgb(48 48 48);
	--colorBack:rgb(12 12 12);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:208 208 208;
	--red:rgb(255 0 134);
	--orange:rgb(253 137 0);
	--yellow:rgb(171 168 0);
	--green:rgb(0 201 24);
	--cyan:rgb(31 170 170);
	--blue:rgb(55 119 230);
	--hue01:rgb(173 0 161);
	--hue02:rgb(204 102 51);
	}
	&:where(.-schemeDarkTokyoNightStorm) {
	/* enkia */

	--colorBaseVal:36 40 59;
	--colorFront:rgb(65 72 104);
	--colorFrontmost:rgb(86 95 137);
	--colorBack:rgb(27 29 41);
	--colorBackmost:rgb(17 18 24);
	--colorTextVal:169 177 214;
	--red:rgb(247 118 142);
	--orange:rgb(255 158 100);
	--yellow:rgb(224 175 104);
	--green:rgb(158 206 106);
	--cyan:rgb(115 218 202);
	--blue:rgb(122 162 247);
	--hue01:rgb(187 154 247);
	--hue02:rgb(207 201 194);
	}
	&:where(.-schemeDarkTomorrowNightEighties) {
	/* Chris Kempson (http://chriskempson.com) */

	--colorBaseVal:45 45 45;
	--colorFront:rgb(57 57 57);
	--colorFrontmost:rgb(81 81 81);
	--colorBack:rgb(32 32 32);
	--colorBackmost:rgb(20 20 20);
	--colorTextVal:204 204 204;
	--red:rgb(242 119 122);
	--orange:rgb(249 145 87);
	--yellow:rgb(255 204 102);
	--green:rgb(153 204 153);
	--cyan:rgb(102 204 204);
	--blue:rgb(102 153 204);
	--hue01:rgb(204 153 204);
	--hue02:rgb(163 104 90);
	}
	&:where(.-schemeDarkTomorrowNight) {
	/* Chris Kempson (http://chriskempson.com) */

	--colorBaseVal:29 31 33;
	--colorFront:rgb(40 42 46);
	--colorFrontmost:rgb(55 59 65);
	--colorBack:rgb(18 19 20);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:197 200 198;
	--red:rgb(204 102 102);
	--orange:rgb(222 147 95);
	--yellow:rgb(240 198 116);
	--green:rgb(181 189 104);
	--cyan:rgb(138 190 183);
	--blue:rgb(129 162 190);
	--hue01:rgb(178 148 187);
	--hue02:rgb(163 104 90);
	}
	&:where(.-schemeDarkTwilight) {
	/* David Hart (https://github.com/hartbit) */

	--colorBaseVal:30 30 30;
	--colorFront:rgb(50 53 55);
	--colorFrontmost:rgb(70 75 80);
	--colorBack:rgb(18 18 18);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:167 167 167;
	--red:rgb(207 106 76);
	--orange:rgb(205 168 105);
	--yellow:rgb(249 238 152);
	--green:rgb(143 157 106);
	--cyan:rgb(175 196 219);
	--blue:rgb(117 135 166);
	--hue01:rgb(155 133 157);
	--hue02:rgb(155 112 63);
	}
	&:where(.-schemeDarkUnikitty) {
	/* Josh W Lewis (@joshwlewis) */

	--colorBaseVal:46 42 49;
	--colorFront:rgb(74 70 77);
	--colorFrontmost:rgb(102 99 105);
	--colorBack:rgb(26 25 28);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:188 186 190;
	--red:rgb(216 19 127);
	--orange:rgb(214 84 7);
	--yellow:rgb(220 138 14);
	--green:rgb(23 173 152);
	--cyan:rgb(20 155 218);
	--blue:rgb(121 106 245);
	--hue01:rgb(187 96 234);
	--hue02:rgb(199 32 202);
	}
	&:where(.-schemeDarkWoodland) {
	/* Jay Cornwall (https://jcornwall.com) */

	--colorBaseVal:35 30 24;
	--colorFront:rgb(48 43 37);
	--colorFrontmost:rgb(72 65 58);
	--colorBack:rgb(22 18 15);
	/* --colorBackmost:rgb(0 0 0); */
	--colorTextVal:202 188 177;
	--red:rgb(211 92 92);
	--orange:rgb(202 127 50);
	--yellow:rgb(224 172 22);
	--green:rgb(183 186 83);
	--cyan:rgb(110 185 88);
	--blue:rgb(136 164 211);
	--hue01:rgb(187 144 226);
	--hue02:rgb(180 147 104);
	}
}
