/* Source: https://benmarshall.me/responsive-iframes/ */

/* <div class="intrinsicContainer intrinsicContainer-16x9">
  <iframe src="//www.youtube.com/embed/KMYrIi_Mt8A" allowfullscreen></iframe>
</div>
*/

.intrinsicContainer {
	position: relative;
	height: 0;
	overflow: hidden;
	& iframe {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	/* 21:9 Aspect Ratio */
	&.ratio21-9 {
		padding-bottom: 42.857%;
	}
	/* 16:9 Aspect Ratio */
	&.ratio16-9 {
		padding-bottom: 56.25%;
	}
	/* 4:3 Aspect Ratio */
	&.ratio4-3 {
		padding-bottom: 75%;
	}
	/* 1:1 Aspect Ratio */
	&.ratio1-1 {
		padding-bottom: 100%;
	}
}
