:where(html) {
	/**** Type Scale
	 **/
	/** 1. Set global values */

	--typeScaleRoot: 16px;/* Default font size: 16px */
	--typeScaleBase: 16px;
	--typeScaleRatio: 1.25; /* Modular Scale Ratio */

	/** 2. Set different root font sizes in order to get diff value */
	@media (--wrist-or-lt) {
		--typeScaleBase: 12px; /* 12px */
	}
	@media (--lap-or-gt) {
		--typeScaleBase: 18px;

		/* --typeScaleBase: clamp(16px, 0.556rem + 0.69vw, 22px) /1* from 16px (at 1024px) to 22px (at 1888px) *1/ */
		/* Generated via https://min-max-calculator.9elements.com */
		/* Warning: It renders really slow if you try to resize on older devices! */
	}
	@media (--wall-or-gt) {
		--typeScaleBase: 22px;
	}
	/* @media (--titan-or-gt) { */
	/* 	--typeScaleBase: 24px; */
	/* } */

	--typeScaleDiff: calc(var(--typeScaleBase) - var(--typeScaleRoot));/* Equation of diff value */

	/* Multiply with several powers of the ratio for bigger values */
	/* --typeScale3: calc( var(--typeScaleRoot) * pow(var(--typeScaleRatio), 3) + var(--typeScaleDiff)); */
	--typeScale3: calc( var(--typeScaleRoot) * var(--typeScaleRatio) * var(--typeScaleRatio) * var(--typeScaleRatio) + var(--typeScaleDiff));
	/* --typeScale2: calc( var(--typeScaleRoot) * pow(var(--typeScaleRatio), 2) + var(--typeScaleDiff)); */
	--typeScale2: calc( var(--typeScaleRoot) * var(--typeScaleRatio) * var(--typeScaleRatio) + var(--typeScaleDiff));
	/* --typeScale1: calc( var(--typeScaleRoot) * pow(var(--typeScaleRatio), 1) + var(--typeScaleDiff)); */
	--typeScale1: calc( var(--typeScaleRoot) * var(--typeScaleRatio) + var(--typeScaleDiff));

	/* Divide with several powers of the ratio for smaller values */
	/* --typeScale-1: calc( var(--typeScaleRoot) * pow(var(--typeScaleRatio), -1) + var(--typeScaleDiff)); */
	--typeScale-1: calc( var(--typeScaleRoot) / var(--typeScaleRatio) + var(--typeScaleDiff));
	/* --typeScale-2: calc( var(--typeScaleRoot) * pow(var(--typeScaleRatio), -2) + var(--typeScaleDiff)); */
	--typeScale-2: calc( var(--typeScaleRoot) / var(--typeScaleRatio) / var(--typeScaleRatio) + var(--typeScaleDiff));

	/**** Vertical Rhythm/Baseline Grid
	 */
	--lineHeight: 1.5rem; /* 24px */

	--rhythmUnit: calc(var(--lineHeight) / 3); /* 8px */ /* opinionated */

	/*** Set font size
	 */
	font-size: var(--typeScaleBase);

	/*** Set font and accent color (Moved to color.css)
	 */
	/* color: var(--colorText); */
	/* accent-color: var(--colorAccent); */

	/*** Theme dependant font weight defaults
	 * */
	--fontWeight: 400;
	--fontWeightMultiplier: 1;
	--letterSpacing: 0ch;
	/* Make variable fonts thinner overall and add subtle letter spacing in dark theme */
	/* &[data-theme=dark] { */
	&:where(.t-color:is([data-theme=dark],.-forceDark:not([data-theme=dark]))) {
	/* @media (prefers-color-scheme: dark) { */
		--fontWeightMultiplier: .85;
		--letterSpacing: .02ch;
	}
	font-weight: calc( var(--fontWeight, 400) * var(--fontWeightMultiplier, 1) );
}

html {
	/* Set font family */

	font-family: var(--fontMain);
	/* font-weight: calc(400 * var(--fontWeightMultiplier, 1)); */

	/* Set a highlight color for tabbed elements in iOS/iPadOS touch interfaces */
	-webkit-tap-highlight-color: var(--colorAccentBrighterOpac60);
}

body {
	/* Set line height here (if value unit is rem,
	 * line-height should be specified since
	 * it's one level lower than root element (HTML),
	 * because of Safari. */
	line-height: var(--lineHeight);

	/* Set the font rendering options
	*/
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; /* disables subpixel antialias */
    /* text-rendering: optimizeLegibility; */

/* Set the background of the webpage
	/* height: auto; */

	/* Dynamic background color based on current theme */
	/* background-color: var(--colorBack); */
	background-color: var(--colorBg, gray);


	/* Horizontal Grid (PNG) */
	/* background: var(--colorBg) repeat top left; */
	/* background-image: url("img/filler/bg/grid24.webp"); */
	/* @media (--lap-or-gt) { */
	/* 	background-image: url("img/filler/bg/grid27.webp"); */
	/* } */
	/* @media (--mall-or-gt) { */
	/* 	background-image: url("img/filler/bg/grid33.webp"); */
	/* } */

	/* Noise Texture (PNG) */
	/* background: var(--colorBg) repeat top left; */
	/* background-image: url(img/pattern/noise-product.png); */
	/* @media (--hidpi) { */
	/* 	background-size: 180px 180px; */
	/* } */

}
/* .t-modRoot:where(-stylesetAcetate, .-stylesetNeumorphism) body { */
.t-modRoot:where(-stylesetAcetate, .-stylesetNeumorphism) body {
	background-color: var(--colorBase);
}
/*** Page-Wide Gradient Background + Contour Line
 */

/* Note: Bottom color must have a fallback bg-color in body, */
/* Note: In iOS/iPadOS Safari 12, gradient isn't page-wide but viewport-wide */

/* html { */
/* 	position: relative; */
/* 	/1* Note: If background attachment is fixed, backgrounds that use repeating gradients may occur slow scrolling speed, low FPS etc. in some browsers (confirmed on Safari 12). */
/* 	/1* top:0; *1/ */
/* 	&:before { */
/* 		content: ""; */
/* 		position: absolute; */
/* 		top: 0; */
/* 		left: 0; */
/* 		width: 100%; */
/* 		height: 100%; */
/* 		z-index: -9999; */
/* 		background: linear-gradient(to bottom, transparent, var(--blue)); */
/* 	} */
/* } */


/* Set VF font weight every element except codeblock, variable, keyboard key and samples
 */
:not(code, var, kbd, samp) {
	/* --wght: calc(var(--fontWeight, 400) * var(--fontWeightMultiplier, 1)); */
	/* font-variation-settings: "wght" var(--wght); */

	/* TODO: This dark-mode friendly VF font-weight declaration might not work for non-VF fallbacks, need one. */
	font-weight: calc(var(--fontWeight, 400) * var(--fontWeightMultiplier, 1));
	letter-spacing: var(--letterSpacing, 0);
}

/* Set VF font weight for bolder elements
 */
:where(h1,h2,h3,h4,th){
	--fontWeight:600
}
/* :where(strong,b,h1,h2,h3,h4,h5,h6){ */
:where(strong,b,h5,h6){
	--fontWeight: 700;
}

/***** Global Margin/Padding Styles for Vertical Rhythm
 */
:not(p) > :where(p, cite, blockquote, summary, address, audio, video) {
	margin-block: var(--rhythmUnit);
	/* padding-block: calc(var(--rhythmUnit) / 2); */
}
:where(h1,h2,h3,h4,h5,h6,pre) {
	margin-block: var(--rhythmUnit);
}
:where(caption,dl,ol,ul){
	/* padding-top: .35em; */ /* 5,6px */
	/* padding-bottom: .15em; */ /* 2,4px */
	/* padding-block: calc(var(--rhythmUnit) / 2); */

	/* padding-top: calc((var(--lineHeight) - 1ex) / 2.4); */
	/* padding-bottom: calc(var(--lineHeight) - ((var(--lineHeight) - 1ex) / 2.4)); */
	/* /1* Default division value is 2, but I adjusted to snap to baseline and keep the rhythm at the same time. *1/ */

	/* Total intended size: 32px */

	/* Notice the total amount (.35+.15=.5) dividable with (.25) which is an selected unit for vertical rhythm */
}

/***** Header & Paragraph Styles
 */
/* p { */
/* 	max-inline-size: var(--maxTextWidth); */
/* } */
:where(h1,h2,h3,h4,h5,h6){
	max-inline-size: var(--maxHeadingWidth);
}
:where(h4,h5,h6){
	max-inline-size: calc(var(--maxHeadingWidth) * 1.5);
}

:where(h1,h2,h3,h4,h5,h6,p){
	position: relative;
	overflow-wrap: break-word;
}
cite{ /* opinionated */
	display:inline-block
}
/* Hyphenation for paragraphs (English and their derivatives only) */
/* Relevant: https://clagnut.com/blog/2395/
 *           https://caniuse.com/?search=hyphen
 */
:is([lang=en],[lang^=en-]) p {
	hyphens: auto;
}
p {
	hyphenate-limit-chars: 6 3 3;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%;
}

/* Make top margin bigger if heading placed after non-heading element */
/* :not(blockquote) > :is(h1, h2, h3, h4, h5, h6):first-child */
:not(h1,h2,h3,h4,h5,h6,legend,hr,img,figure,picture,video) + :where(h1, h2, h3, h4, h5, h6)
{
	margin-block-start: calc(var(--rhythmUnit) * 3);
}
/* Set heading sizes based on modular scale.
 *
 * Source: https://www.modularscale.com/
 */
h1 { @mixin fontSize1;}
h2 { @mixin fontSize2;}
h3 { @mixin fontSize3;}
h4 { @mixin fontSize4;}
h5 { @mixin fontSize5;}
h6 { @mixin fontSize6;}

small {
	@mixin fontSize5;
}
/* opinionated */
h1,h2,h3 {
	font-family: var(--fontHeading);
}
/* Make letter spacing adjustments to headers (except small devices). */
@media not (--wrist-or-lt) { /* opinionated */
	:where(h1,h2){
		letter-spacing: -1px;
		letter-spacing: calc(var(--letterSpacing) - 1px);
	}
	:where(h3) {
		letter-spacing: -.5px;
		letter-spacing: calc(var(--letterSpacing) - .5px);
	}
}
/* -opinionated */

/* Heading 5 and 6 styles for small (around 2 inch) smartwatch screens */
@media (--wrist-or-lt) { /* opinionated */
	:where(h5, h6) {
		@mixin fontSize5;
		/* font-variant-caps: all-small-caps; */
		text-transform: uppercase;
		letter-spacing: 1px;
		letter-spacing: calc(var(--letterSpacing) + 1px);
		--fontWeight: 400;
	}
}
li > :where(ol,ul) {
	padding-block: 0;
}
hr{
	margin-block-end: -1px;
	/* margin-top: .5em; */
	/* padding-top: .5em; */
	/* margin-block-start: calc( var(--rhythmUnit) * 2 ); */
	/* padding-block-end: calc( var(--rhythmUnit) * 2 ); */
	margin-block-start: calc( var(--rhythmUnit) * 1.5 );
	padding-block-end: calc( var(--rhythmUnit) * 1.5 );
	border: 0;
	border-block-start: 1px solid var(--colorText);
}
/* Unordered, Ordered and Definition List */
:where(ul,ol){ /* opinionated */
	/* margin-inline: 0; */
	/* padding-inline-start: calc(var(--rhythmUnit) * 5); */
	padding-inline-start: 4ch;
	li > & {
		margin-block: 0;
	}
	::marker {
		font-weight:bolder;
	}
}
:where(ul,ol,dl) {
	margin-block: calc(var(--rhythmUnit) * 2);
}
dt {
	font-weight: bolder;
	&:after {
		content: ": "
	}
}
dd {
	margin-inline-start: 4ch;
}
blockquote {
	--border:var(--borderS);
	margin-inline: calc(var(--rhythmUnit) * 1.618);
	padding: 0;
	padding-inline-start: calc(var(--rhythmUnit) * 1.618 - var(--border));
	/* border-left: 2px solid currentColor; */
	border-inline-start: var(--border) solid currentColor;
	border-color: var(--red);
	/* &:hover{ */
	/* 	--border:var(--borderM); */
	/* } */

	& & {
		margin-block:0;
		border-color: var(--yellow);
	}
	& & & {
		border-color: var(--blue);
	}
	& & & & {
		border-color: var(--orange);
		margin-inline-end: 0;
	}
	& & & & & {
		border-color: var(--green);
	}
	& & & & & &{
		border-color: var(--hue01);
	}
	& & & & & & &{
		border-color: var(--hue01);
	}
}

/* Global Anchor Styles */
:where(a[href]){
	touch-action: manipulation;
	/* Why are hyperlinks blue?:
	 * https://blog.mozilla.org/en/internet-culture/deep-dives/why-are-hyperlinks-blue/ */
	/* color: var(--colorAccent); */
	/* color: currentColor; */
	color: var(--colorAccent);
	/* color: var(--colorTextBolder); */
}
/* :where(a[href]:not([class])){ */
/* } */
a[href]:not([class]) {
	:where(&) {
		transition: .25s cubic-bezier(.08,.82,.17,1);
		transition-property: text-decoration-thickness, text-underline-offset;

		/* Style 1: Colored text with thin colored underline */
		text-decoration-thickness: .0625em;
		/* Make lines thinner in screens with higher DPI */
		@media (--hidpi) {
			text-decoration-thickness: .03125em;
		}
		text-underline-offset: .2em;
		text-decoration-skip-ink: auto;
		border-radius: var(--radiusInnerDefault);
	}
	/* :where(&:hover, &:focus-visible):not(.c-nav__anchor,.o-box__meta a[href],.o-box__title a[href]) { */
	:where(&:hover, &:focus-visible):not(:where(.c-header,.o-box__meta,.o-box__title) &) {
		color: var(--colorAccentBrighter);
		background-color: var(--colorFrontmost);
		box-shadow: 0 0 0 .1875em var(--colorFrontmost);
		text-shadow: .0625em .0625em 0 var(--colorBase);
	}
	@media (any-hover: hover) {
		:where(&:hover, &:visited:hover, &:focus-visible) {
			text-decoration-skip-ink: none;
			text-underline-offset: .125em;
			text-decoration-thickness: .15em;
			@media (--hidpi) {
				text-decoration-thickness: .09375em;
			}
		}
		:where(&:active) {
			text-underline-offset: 0;
			transition: none;
		}
	}
	/* When a visited link is selected, keep underline color intact */
	:where(&:visited, &:visited::selection) {
		color: var(--hue01);
	}

	/* Style 2: Normal text color with thick colored underline */
	/* text-decoration-thickness: .125em; */
	/* text-underline-offset: .0625em; */
	/* text-decoration-color: var(--colorAccent); */
	/* text-decoration-skip-ink: auto; */
	/* &:hover, &:focus-visible { */
	/* 	color: var(--colorAccentBrighter); */
	/**/
	/* } */
	/* @media (any-hover: hover) { */
	/* 	&:hover, &:visited:hover, &:focus-visible { */
	/* 		text-decoration-skip-ink: none; */
	/* 		text-underline-offset: .125em; */
	/* 		text-decoration-thickness: .25em; */
	/* 	} */
	/* 	&:active { */
	/* 		text-underline-offset: 0; */
	/* 		transition: none; */
	/* 	} */
	/* } */
	/* &:visited, &:visited::selection { */
	/* 	text-decoration-color: var(--hue01); */
	/* } */


	/* TODO: Create different line colors based on href */
	:where(& > svg){
		pointer-events: none;
	}
}


/*** Colorful/Emojiful Anchor Links Based on Known Hostnames of The Internet
 */
/* a:not([class]) { */
a {
	/* background-clip: border-box; */

	/* &[href=""] { */
	/* 	color: var(--colorLinkDead); */
	/* } */

	/* TODO: Make a little sign for links that goes to external links */
	/* This is from zachleat/11ty docs site, investigate script too. */
	/* &[href^="//"]:not(.minilink):not(.elv-externalexempt)::after, a[href^="http://"]:not(.minilink):not(.elv-externalexempt)::after, a[href^="https://"]:not(.minilink):not(.elv-externalexempt)::after */
	/* &[href^="//"]::after, &[href^="http://"]::after, &[href^="https://"]::after */

	/* border-radius: var(--borderDefault); */

	:where(&[href]):before{ /* opinionated */
		/* display: inline-block; */
		/* transform: scale(.83333); */

		text-decoration-line: none;
		filter: saturate(0.5);
		mix-blend-mode: multiply;
		/* .t-color[data-theme=dark] & { */
		:where(.t-color:is([data-theme=dark],.-forceDark:not([data-theme=dark]))) & {
			mix-blend-mode: plus-lighter;
		}
	}
	:where(&[href]:is(:hover,:focus)):before,
	:where(.t-color:is([data-theme=dark],.-forceDark:not([data-theme=dark]))) :where(&[href]:is(:hover,:focus)):before{
		/* transform: scale(1); */
		filter: none;
		mix-blend-mode: none;
		transition: transform .25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
	}

	/* All external links (Should be appended inside <head> so template language can process baseurl) */
	/* 	a:link[href*="//"]:not([href^="http://localhost:3000"]):not(:has( > img, > svg, > picture),[target=_blank]):after{
		content:"↗";
		white-space: nowrap;
	} */

	/* Links that opens in new tab/window */
	:where(&[target="_blank"]):after{
		/* content:'↗︎'; */
		/* content:'🚪'; */
		/* content:'📑';  */
		content: "⏩";
		/* opacity:.66; */
	}

	/* TODO: Can't pass custom property inside background svg data, using a Unicode symbol might solve this instead. */
	:where(&[href^="mailto:"]) {
		/* iOS Mail Blue */
		background-image: linear-gradient(180deg, #0a84ff00, #0a84ff40);
		&:before {
			/* content: "📧"; */
			content: "✉️";
		}
	}
	:where(&[href^="tel:"]) {
		/* iOS Phone/Message Green */
		background-image: linear-gradient(180deg, #32d74b00, #32d74b40);
		&:before {
			/* content: "📱 " */
			content: "📞";
		}
	}

	/* Search Engines */
	:where(&:is( [href*="//google.com/"], [href*="//bing.com/"], [href*="//kagi.com/"],
	[href*="//duckduckgo.com/"], [href*="//duck.com/"], [href*="//lite.duckduckgo.com/"]) ){
		&:before {
			/* content: "🔍 "; */
			content: "🔍";
		}
	}
	:where(&[href*="//kagi.com/"]){
		background-image: linear-gradient(180deg, #FFB31900, #FFB31940);
	}
	:where(&[href*="//google.com/"]){
		background-image: linear-gradient(180deg, #4285f400, #4285f440);
	}
	:where(&:is([href*="//duckduckgo.com/"], [href*="//duck.com/"])){
		background-image: linear-gradient(180deg, #de583300, #de583340);
	}

	/* Centralized Social Media Websites, Pic Sharing */
	:where( &:is([href*="//instagram.com/"], [href*="//threads.net/"], [href*="//pixelfed.social/"])){
		background-image: linear-gradient(180deg, #405de600, #c1358410, #fd1d1d30, #fcaf4540);
		&:before{
			content: "📸";
		}
	}
	:where(&[href*="//threads.net/"]){
		&:before{
			content: "🧵";
		}
	}

	/* Video Streaming Platforms */
	:where(&:is([href*="//www.youtube.com/"], [href*="//youtube.com/"], [href*="//youtu.be/"])){
		background-image: linear-gradient(180deg, #f000, #f004);
		&:before{
			/* content: "⏯️"; */
			content: "📺";
		}
	}

	/* Live Streaming Platforms */
	:where(&:is([href*="//twitch.tv/"], [href*="//kick.com/"],
	[href*="//tilvids.com/"], [href*="//spectra.video/"])){
		&:before{
			content: "📹";
		}
	}
	:where(&[href*="//twitch.tv/"]){
		background-image: linear-gradient(180deg, #9146ff00, #9146ff40);
	}
	:where(&[href*="//kick.com/"]){
		background-image: linear-gradient(180deg, #53fc1900, #53fc1940);
	}
	:where(&:is([href*="//tilvids.com/"], [href*="//spectra.video/"])){
		background-image: linear-gradient(180deg, #f1680500, #f1680540);
	}

	/* Twitter (X)*/
	:where( &:is([href*="//x.com/"], [href*="//fixupx.com/"], [href*="//twitter.com/"],
	[href*="//twittpr.com/"], [href*="//t.co/"], [href*="//fxtwitter.com/"],
	[href*="//vxtwitter.com/"])){
		background-image: linear-gradient(180deg, #1d9bf000, #1d9bf040);
		&:before{
			/* content: "𝕏"; */
			/* content: "💀"; */
			content: "🕊️";
		}
	}

	/* Bluesky and Other Social Webs */
	:where( &:is([href*="//bsky.app/"], [href*="//bsky.social/"], [href*="//tildes.net/"])){
		background-image: linear-gradient(180deg, #0886fe00, #0886fe40);
		&:before{
			content: "🦋";
		}
	}

	/* Reddit Related */
	:where( &:is([href*="//reddit.com/"], [href*="//old.reddit.com/"],
	[href*="//sh.reddit.com/"], [href*="//new.reddit.com/"])){
		background-image: linear-gradient(180deg, #ff450000, #ff450040);
		&:before{
			/* content: "💬"; */
			content: "👽";
		}
	}

	/* Social News Aggregation (Reddit-like) Websites with ActivityPub Protocol */
	:where(&:is([href*="//lemmy.ml/"], [href*="//lemmy.world/"],
	[href*="//discuss.online/"],[href*="//kbin.social/"],[href*="//beehaw.social/"])){
		background-image: linear-gradient(180deg, #ff450000, #ff450040);
		&:before{
			content: "💬";
		}
	}


	/* Discord */
	:where( &:is([href*="//discord.com/"], [href*="//discord.gg/"])) {
		background-image: linear-gradient(180deg, #5865f200, #5865f240);
		&:before{
			content: "💬";
		}
	}

	/* Shopping Related */
	:where( &:is([href*="//amazon.com/"], [href*="//amazon.de/"], [href*="//amazon.com.tr/"], [href*="//aliexpress.com/"], [href*=".aliexpress.com/"])) {
		background-image: linear-gradient(180deg, #ff990000, #ff990040);
		&:before{
			content: "🛍️";
		}
	}

	/* Gaming Related */
	:where(&:is([href*="//itch.io/"], [href*=".itch.io/"],
	[href*="//store.steampowered.com/"], [href*="//steamcommunity.com/"], [href*="//s.team/"],
	[href*="//epicgames.com/"], [href*="//store.epicgames.com/"],
	[href*="//gog.com/"], [href*="//xbox.com/"], [href*="//minecraft.net/"],
	[href*="//gaming.amazon.com/"], [href*="//monkeytype.com/"], [href*=".typeracer.com/"],
	[href*="//humblebundle.com/"])) {
		&:before{
			content: "🎮";
		}
	}

	:where(&:is([href*="//itch.io/"], [href*=".itch.io"])){
		background-image: linear-gradient(180deg, #ff244900, #ff244940);
	}
	:where(&:is([href*="//store.steampowered.com/"], [href*="//steamcommunity.com/"], [href*="//s.team/"])) {
		background-image: linear-gradient(180deg, #00143000, #00235a20, #0087ba40);
	}
	:where(&:is([href*="//epicgames.com/"], [href*="//store.epicgames.com/"])){
		/* Their brand colors are just simply black and white,
		 * so I'm gonna do Uncommon Item Blue from Fortnite instead. */
		background-image: linear-gradient(180deg, #4c51f700, #4c51f740);
	}

	/* Blog/SSG Related */
	:where(&:is( [href*="//11ty.dev/"], [href*="//wordpress.com/"], [href*="//tumblr.com/"], [href*="//flipboard.com/"])) {
		&:before{
			content: "🎺";
		}
	}

	/* Movie/TV Related */
	:where(&:is([href*="//letterboxd.com/"], [href*="//imdb.com/"], [href*="//www.imdb.com/"],
	[href*="//themoviedb.org/"], [href*="//www.themoviedb.org/"])) {
		&:before{
			/* content: "🎟️"; */
			content: "🎥";
		}
	}

	/* Git Hosts */
	:where(&:is( [href*="//gitea.com/"], [href*="//github.com/"],
	[href*="//gitlab.com/"], [href*="//codeberg.com/"], [href$=".git"])) {
		&:before{
			/* content: "🐙📔"; */
			content: "🐙";
		}
	}
	:where(&[href*="//github.com/"]){
		background-image: linear-gradient(180deg, #73599700, #73599740);
	}
	:where(&[href*="//gitlab.com/"]){
		background-image: linear-gradient(180deg, #fc6d2700, #fc6d2740);
	}
	:where(&[href*="//codeberg.com/"]){
		background-image: linear-gradient(180deg, #2889d200, #2889d240);
	}

	/* Portfolio Pages */
	:where( &:is([href*="//linkedin.com/"], [href*="//behance.com/"], [href*="//artstation.com/"],
	[href*="//deviantart.com/"], [href*="//dribble.com/"])) {
		&:before{
			content: "📂";
		}
	}
	:where( &[href*="//linkedin.com/"]){
		background-image: linear-gradient(180deg, #0077b500, #0077b540);
		&:before{
			content: "💼";
		}
	}
	:where( &[href*="//behance.com/"]){
		background-image: linear-gradient(180deg, #0067ff00, #40067ff0);
		&:before{
			content: "🗃️";
		}
	}

	/* Translation Services */
	:where( &:is([href*="//crowdin.com/"], [href*="//hosted.weblate.org/"])) {
		background-image: linear-gradient(180deg, #BACE2200, #BACE2240);
		&:before{
			content: "👅";
		}
	}

	/* Wikis */
	:where( &:is([href*="//en.wikipedia.org/"], [href*="//tr.wikipedia.org/"])) {
		background-image: linear-gradient(180deg, #c8c8c800, #c8c8c840);
		&:before{
			content: "𝐖";
		}
	}

	/* Archives */
	:where( &:is([href*="//web.archive.org/"], [href*="//archive.md/"], [href*="//archive.is/"])) {
		&:before{
			content: "🗄️";
		}
	}

	/* Microblogging (Twitter-like) Websites with ActivityPub Protocol */
	:where(&:is(
	[href*="//mastodon.social/"], [href*="//front-end.social/"], [href*="//mastodon.gamedev.place/"],
	[href*="//tech.lgbt/"], [href*="//wikis.world/"], [href*="//peoplemaking.games/"],
	[href*="//indieweb.social/"], [href*="//fosstodon.org/"], [href*="//graphics.social/"],
	[href*="//toot.cafe/"], [href*="//social.spicyweb.dev/"], [href*="//infra.social/"],
	[href*="//infosec.exchange/"], [href*="//mastodon.world/"], [href*="//metasocial.com/"],
	[href*="//fedi.software/"], [href*="//hachyderm.io/"], [href*="//flipboard.social"],
	[href*="//mas.to/"], [href*="//indieapps.space/"], [href*="//social.growyourown.services/"],
	[href*="//jammer.social/"], [href*="//tapbots.social/"], [href*="//techhub.social/"],
	[href*="//mastodon.exok.com/"], [href*="//xoxo.zone/"], [href*="//mstdn.social/"],
	[href*="//genart.social/"], [href*="//changelog.social/"], [href*="//mastodon.xyz/"],
	[href*="//w3c.social/"], [href*="//mastodon.art/"], [href*="//floss.social/"],
	[href*="//mastodon.online/"], [href*="//vis.social/"], [href*="//elk.zone/"])){
		background-image: linear-gradient(180deg, #6364ff00, #6364ff40);
		&:before{
			/* content: "⚛️"; */
			content: "🐘";
		}
	}

	/* Opinionated Favorites */
	:where(&[href*="//gnu.org/"]){
		/* background-image: linear-gradient(180deg, #81C14B00, #81C14B40); */
		&:before{
			content: "🐂";
		}
	}
	:where(&:is([href*="//play.google.com/"],[href*="//apps.apple.com/"],[href*="//itunes.apple.com/"])){
		/* background-image: linear-gradient(180deg, #81C14B00, #81C14B40); */
		&:before{
			content: "📱";
		}
	}
	:where(&:is([href*="//apple.com/"],[href*=".apple.com/"])){
		/* background-image: linear-gradient(180deg, #81C14B00, #81C14B40); */
		&:before{
			content: "🍏";
		}
	}
	:where(&:is([href*="//microsoft.com/"],[href*=".microsoft.com/"])){
		/* background-image: linear-gradient(180deg, #81C14B00, #81C14B40); */
		&:before{
			content: "🪟";
		}
	}
	:where(&:is([href*="//eksisozluk.com/"],[href*="//eksisozluk1923.com/"],
	[href*="//eksisozluk2023.com/"],[href*="//eksisozluk111.com/"])){
		background-image: linear-gradient(180deg, #81C14B00, #81C14B40);
		&:before{
			content: "🍋";
		}
	}
	:where(&:is([href*="//openai.com/"],[href*="//chat.openai.com/"],
	[href*="//phind.com/"],[href*="//www.midjourney.com/"],[href*="//midjourney.com/"])){
		background-image: linear-gradient(180deg, #0FA37F00, #0FA37F40);
		&:before{
			content: "🤖";
		}
	}
	/* Image Files */
	:where(&:is([href$=".png"],[href$=".jpg"],[href$=".jpeg"],
	[href$=".webp"],[href$=".avif"],[href$=".jxl"],
	[href$=".svg"],
	[href$=".gif"],[href$=".apng"],[href$=".gifv"])){
		&:before{
			content: "🖼️";
		}
	}
	/* Video Files */
	:where(&:is([href$=".mp4"],[href$=".mov"],
	[href$=".webm"],[href$=".mkv"])){
		&:before{
			content: "⏯️";
		}
	}
	/* Audio Files */
	:where(&:is([href$=".mp3"],[href$=".m4a"],
	[href$=".flac"],[href$=".wav"],[href$=".ogg"])){
		&:before{
			content: "🎵";
		}
	}
	/* Archive Files */
	:where(&:is([href$=".zip"],[href$=".rar"],
	[href$=".7z"],[href$=".tar.gz"])){
		&:before{
			content: "🗜️";
		}
	}
	/* Misc Files */
	:where(&:is([href$=".psd"],[href$=".ai"],[href$=".fla"],
	[href$=".kra"],[href$=".afphoto"],[href$=".afdesign"],
	[href$=".pdf"],[href$=".epub"],[href$=".cbr"],
	[href$=".ods"],[href$=".figma"],[href$=".sketch"],
	[href$=".docx"],[href$=".pptx"],[href$=".md"],[href$=".aseprite"])){
		&:before{
			content: "📄"
		}
	}
	/* Package Files */
	:where(&:is([href$=".msi"],[href$=".dmg"],[href$=".pkg"],[href$=".deb"])){
		&:before{
			content: "📦"
		}
	}

	/* RSS Feeds */
	:where(&:is([href$="/feed.xml"],[href$="/feed.json"],[href$="/atom.xml"],[href$="/feed.json"])){
		&:before{
			content: "📰"
		}
	}

	/* Storage/Cloud Services */
	:where(&:is([href*="//dropbox.com/"], [href*="//drive.google.com/"])) {
		background-image: linear-gradient(180deg, #0061fe00, #0061fe40);
		&:before{
			content: "📥";
		}
	}

}
/* Hide pseudo emojis in navigation anchor links */
.c-nav__anchor:before{
	display: none !important;
	content: "" !important;
}



/* Adjust line offset/thickness */
abbr, acronym {
	text-underline-offset: .0625em;
	text-decoration-thickness: .125em;
}

/* Deletion & Strikethrough */
/* del, s { */
/* 	text-decoration-thickness: .125em; */
/* } */
/* Insertion & Underline */
/* ins, u { */
/* 	text-underline-offset: .0625em; */
/* } */

/* Realistic Marker Element*/
/* Source: https://www.abeautifulsite.net/posts/a-clever-way-to-style-the-mark-element/ */
mark {/* opinionated */
	background: linear-gradient(-100deg, hsl(60 100% 50% / .3), hsl(60 100% 50% / .7) 95%, hsl(60 100% 50% / .1));
	color: black;
	box-shadow: 0 0 0 calc(var(--rhythmUnit) / 2) hsl(60 100% 50% / .1);
	/* padding: calc(var(--rhythmUnit)/2); */
	/* @media (prefers-color-scheme: dark) { */
	:where(.t-color:is([data-theme=dark],.-forceDark:not([data-theme=dark]))) & {
		color: hsl(60 100% 50%);
		background: linear-gradient(-100deg, hsl(60 100% 50% / .1), hsl(60 100% 50% / .2) 95%, hsl(60 100% 50% / .1));
	}
	:where(.-cornerRoundedTiny) & {
		border-radius: var(--radiusM) 0;
	}
	:where(.-cornerRounded, .-cornerRoundedInner) & {
		border-radius: var(--radiusL) 0;
	}
}

abbr[title],acronym[title]{
	cursor: help;
}

pre,code,kbd,samp{
	font-family: var(--fontMono);
}
pre {
	/* overflow: auto; */ /* Already exists in current reset */
	background-color: var(--colorBack);
	border-radius: var(--radiusInnerDefault);
	padding: var(--rhythmUnit) calc(var(--rhythmUnit) * 1.5);
	code, var {
		/* overflow: auto; */
		background-color: transparent;
		font-size: initial;
		padding: initial;
	}
}
pre code{
	font-size: 1em;
	/* Overriding sanitize.css... */
	white-space: pre-wrap
	/* Somehow normal white-space doesn't go well
	 * with auto sizable grid container. So I had to go with pre-wrap
	 * as a last resort. */
}

code, var, kbd, samp {/* opinionated */
	background-color: var(--colorBack);
	/* font-size:1em; */
	padding-block: calc(var(--rhythmUnit) / 4);
	padding-inline: calc(var(--rhythmUnit) / 2);
	border-radius: var(--radiusInnerDefault);
}

var {/* opinionated */
	padding-inline-start: .2rem; /* Lower left padding because it seem off from the center while it's slanted by default. */
	padding-inline-end: .3rem;
	/* Sum of these are connected to vertical rhythm unit (.5) */
}

figure{
	/* margin-inline: calc(var(--rhythmUnit) * 4); */
	margin-inline: 0;
	margin-block: calc(var(--rhythmUnit) * 2);
	/* margin: 0; */
	/* padding: var(--rhythmUnit); */
}
figcaption {
	@mixin fontSize5;
}

table {
	/* --tableBorderColor: var(--colorText); */
	--tableBorderColor: var(--colorTextOpac60);
	/* --tableBorderColor: var(--colorBackmost); */
	--tableBorder: var(--borderHairline); /* opinionated */
	margin-block-end: var(--rhythmUnit);
	margin-block-start: calc( var(--tableBorder) * -1);
	/* padding-block-start: var(--rhythmUnit); */
	border: var(--tableBorder) solid var(--tableBorderColor);
	/* border: var(--tableBorder) solid var(--colorTextOpac40); */
	border-collapse: collapse;
	/* TODO: Find a way to overflow large table content without any container */
	/* overflow-wrap: anywhere;  */
	:is(td, th){
		/* border: var(--tableBorder) solid currentColor; */
		border-style: solid;
		border-color: var(--tableBorderColor);
		border-width: var(--tableBorder);
		/* border: 1px solid var(--colorTextOpac40); */
		padding: calc(var(--rhythmUnit) / 2) .5ch;

		/* margin-block-start: calc(var(--tableBorder) * -1px); */
		/* It seems that doesn't work in table-cell boxes 🤷 */
	}

	&.-noBorder :is(td, th) {
		border: none;
		padding: initial;
	}
	&.-rowZebra {
		tbody tr:nth-child(odd) {
			background-color: var(--colorTextOpac075) ;
		}
		/* No horizontal borders in zebra row table except first row */
		:not(tr:first-of-type) > :is(td,th){
			border-width: 0 var(--tableBorder);
		}
	}
	&.-headerStickyBoth {
		/* Source: https://css-tricks.com/idea-simple-responsive-spreadsheet/ */

		/* Heading of the table */
		th {
			background-color: var(--colorTextOpac075) ;
			position: sticky;
			inset-block-start: calc(var(--tableBorder) * -1));
			z-index: 2;

			/* The first cell that lives in the top left of our spreadsheet */
			&:first-of-type {
				inset-inline-start: 0;
				z-index: 3;
			}
		}

		/* The first column that we want to stick to the left */
		tbody tr td:first-of-type {
			background-color: var(--colorTextOpac075) ;
			position: sticky;
			inset-inline-start: calc(var(--tableBorder) * -1));
			z-index: 1;
		}
	}
}
/* This class name may not be final */
.c-container__table-headerStickyBoth {
	overflow: scroll;
}

:is(.-cornerRounded,.-cornerRoundedInner,.-cornerRoundedTiny){
	table{
		border-collapse: separate;
		overflow:hidden;
		border-spacing: 0;
		border-block-end-width:0;
		border-inline-end-width:0
	}
	table.-rowZebra{
		border-block-end-width:var(--tableBorder);
		:is(td,th){
			border-block-end-width:0;
		}
	}
	:is(td,th){
		border-block-start-width:0;
		border-inline-start-width:0
	}
	/* :is(tr:first-child :is(td,th):last-child, tr:last-child  :is(td,th):first-child, tr:last-child  :is(td,th):last-child ) { */
	/* 	overflow:hidden; */
	/* } */
}

table{
	border-radius: var(--radiusInnerDefault);
}
/* tr:first-child :is(td,th):first-child { border-top-left-radius:     var(--radiusInnerDefault)} */
/* tr:first-child :is(td,th):last-child  { border-top-right-radius:    var(--radiusInnerDefault)} */
/* tr:last-child  :is(td,th):first-child { border-bottom-left-radius:  var(--radiusInnerDefault)} */
/* tr:last-child  :is(td,th):last-child  { border-bottom-right-radius: var(--radiusInnerDefault)} */
:where(table, thead, tbody:not:first-child, :is(caption) + tbody) > tr:first-child :is(td,th):first-child { border-start-start-radius:  var(--radiusInnerDefault)}
:where(table, thead, tbody:not:first-child, :is(caption) + tbody) > tr:first-child :is(td,th):last-child  { border-start-end-radius:    var(--radiusInnerDefault)}
:where(table, tfoot, tbody:not:first-child, :is(caption) + tbody) > tr:last-child  :is(td,th):first-child { border-end-start-radius:    var(--radiusInnerDefault)}
:where(table, tfoot, tbody:not:first-child, :is(caption) + tbody) > tr:last-child  :is(td,th):last-child  { border-end-end-radius:      var(--radiusInnerDefault)}

/***** WP compatible, CMS exclusive
 *     inline article components
 */
/* Image, Video, Picture Elements inside CMS Content */
.s-cmsContent {
	:is(img,video,picture) {
		max-width: 100%;
		width: auto;
		height: auto;
	}
	.aligncenter {
		clear: both;
		display: block;
		margin-inline: auto;
	}
	:where(.alignleft, .alignright) {
		display: inline;
	}
	.alignleft {
		float: left;
		margin-inline-end: 1ch;
		/* margin-inline-end: 1em; */
		/* margin-inline-end: var(--boxViewCard-padSide); */
	}
	.alignright {
		/* float: right; */
		/*margin-left: 1em;*/
		margin-inline-start: var(--boxViewCard-padSide);
	}
	/* If you're looking for aligning last line of paragraph with justified aligning
	* https://www.stefanjudis.com/today-i-learned/how-to-align-the-text-of-the-last-paragraph-line/
	* Warning: Min. support is Safari 16 both in desktop and mobile.
	*/
}

/*TODO: Improved headings needs testing.
 */
/* ._s-headingNestOffset { */
/* 	/1* opinionated *1/ */
	/* :is(h1,h2,h3,h4,h5) { */
	/* 	position:relative; */
	/* } */
	/* h1 { */
	/* 	left: -1.1rem */
	/* } */
	/* h2 { */
	/* 	left: -0.92rem */
	/* } */
	/* h3 { */
	/* 	left: -0.74rem */
	/* } */
	/* h4 { */
	/* 	left: -0.56rem */
	/* } */
	/* h5 { */
	/* 	left: -0.4rem */
	/* } */
/* 	/1* -opinionated *1/ */
/* 	/1* .o-box.-viewCard{ *1/ */
/* 	/1* 	padding-left: calc(var(--boxViewCard-padSide) * 1.6); *1/ */
/* 	/1* 	padding-right: calc(var(--boxViewCard-padSide) * 1.6); *1/ */
/* 	/1* } *1/ */
/* 	/1* .o-rustygrid { *1/ */
/* 	/1* 	padding: 0; *1/ */
/* 	/1* } *1/ */
/* 	h1,h2,h3,h4,h5 { */
/* 		max-width: 32ch; */
/* 	} */
/* 	p { */
/* 		max-width: 63ch; */
/* 	} */
/* } */
