:root{
	/* Source: https://makandracards.com/makandra/532661-how-to-reliably-center-block-icons-vertically-with-text */
	/* In fontforge > Element > Font Info > OS/2 */
	/* Typo Ascent/Capital Height */
	/* 2728 / 2048 for Inter V */
	/* --fontCapitalHeight: 1.332; */
	--fontCapitalHeight: .75;
	--iconColor: currentColor;
	--iconWeight: 2px;

	@media (--hidpi) {
		--iconWeight: 1.5px;
		/* --iconWeight: calc( 2px * var(--fontWeightMultiplier, 1) ); */
	}
}
/* @font-face { */
/*   font-family: "pxl-icon"; */
/*   src: url("font/pxl-icon.woff2") format("woff2"); */
/*   font-weight: normal; */
/*   font-style: normal; */
/*   font-display: block; */
/* } */
.pi{
  /* --fontWeightMultiplier: 0.5; */
  --iconSize: 18px;
  display:inline;
  width: auto;
  /* width: 1cap; */
  /* height: 1cap; */
  height: var(--iconSize);

  --iconVMiddle: calc(var(--iconSize)/2);
  --capitalVMiddle: calc(var(--fontCapitalHeight)/2 * 1em);
  vertical-align: calc(var(--capitalVMiddle) - var(--iconVMiddle));

  /* margin-block-start: calc((var(--lineHeight) - var(--iconSize))/2.5); */
  /* margin-block-end: calc((var(--lineHeight) - var(--iconSize))/1.5); */

  /* margin-block: calc(var(--lineHeight)*3 */
  /* vertical-align: -.2ex; */
  /* vertical-align: -.05rem; */
  fill:var(--iconColor);

  @media (--titan-or-gt) {
    --iconSize: 27px;
  }

  /* margin:0 0.1667em; */
  /* margin-inline: .1667rem; */

  &.-widthDuo {
    width: calc(var(--iconSize)*2));
    /* min-width: 2em; */
  }
  /* &.-size18 { */
  /* } */
  &.-size2x {
    --iconSize: 36px;
    --iconWeight: 1px;
    height: 2rem;
  }
  &.-size4x {
    --iconSize: 72px;
    --iconWeight: 1px;
  }
  &.-size8x {
    --iconSize: 144px;
    --iconWeight: 2px;
  }

  /* doesn't work since can't affect on 'use' external sources
  /* path, ellipsis, circle, rect { */
  /*   fill: red !important; */
  /*   stroke: red !important; */
  /* } */
}

