/***** Rustygrid Object
 *
 * It's called "rusty" because it contains old methods of making grids and
 * columns based on percentage of the container unlike native CSS Grid. It still
 * has some advantages that lets you handle the layout easier at some scenarios.
 *
 * Rustygrid also contains masonry layout view.
 *
 * This grid system based on CSS Wizardry Grids from a decade ago.
 * https://github.com/csswizardry/csswizardry-grids/blob/master/csswizardry-grids.scss
 *
 */
.o-rustygrid {
	list-style:none;
	margin:0;
	padding:0;
	margin-inline: auto;
	background-clip: content-box;
	inline-size:100%;
	overflow: auto; /* Floating child elements should decide height otherwise it'd be 0 height. */
	max-inline-size: var(--maxContainerWidth);

	&:not(.-viewMasonry){
		padding-inline-end: var(--gridGutter);
	}

	&.-reversed {
		direction: rtl;
		text-align: start;
		> &.o-rustygrid__item {
			direction: ltr;
			text-align: start;
		}
	}
	/* &.-reversed{ */
	/* 	display: flex; */
	/* 	flex-direction: row-reverse; */
	/* } */
	&.-reversed\@palm {
		@media (--palm-or-gt) {
			direction: rtl;
			text-align: start;
			> &.o-rustygrid__item {
				direction: ltr;
				text-align: start;
			}
		}
	}
	&.-reversed\@lap {
		@media (--palm-or-gt) {
			direction: rtl;
			text-align: start;
			> &.o-rustygrid__item {
				direction: ltr;
				text-align: start;
			}
		}
	}

	/* Gutter Modifiers */
	&.--noGutter {
		--gridGutter:0;
/* 		padding-inline-end: 0; */
/* 		.o-rustygrid__item { */
/* 			padding-inline-start: 0; */
/* 		} */
	}

	/* Align Modifiers */
	&.-alignEnd:not(.-viewMasonry) {
		text-align: end;
	}
	&.-alignCenter:not(.-viewMasonry) {
		text-align: center;
	}

	/* Reset align to defualt for the content inside */
	&:is(.-alignCenter,.-alignEnd):not(.-viewMasonry) > &__item {
		text-align: initial;
	}

	&.-alignBottom:not(.-viewMasonry) > &__item {
		vertical-align: bottom;
	}
	&.-alignMiddle:not(.-viewMasonry) > &__item {
		vertical-align: middle;
	}

	hr { /* opinionated */
		inline-size: 100%
	}

	/* Rustygrid Object with Masonry View
	 * (dependant on Colcade.js)
	 */
	&.-viewMasonry {
		/* padding:0; */
		@media (--palm-or-gt) {
			padding-inline-start: calc( var(--gridGutter) / 2 );
			padding-inline-end: calc( var(--gridGutter) / 2 + var(--gridGutter));
		}
		/* Make the direct parent element 100% width, so we can center the column. */
		*:has(> .o-rustygrid__masonryCol){
			inline-size: 100%;
			display: inline-block;
		}
		.o-rustygrid__masonryCol {
			/* box-sizing: content-box; */
			/* max-inline-size: var(--maxTextWidth); */
			/* margin-inline: auto; */
			inline-size: 100%;
			/* padding-inline-start: var(--gridGutter); */
			.o-rustygrid__item {
				padding-inline-start: 0;
			}
			/* Hide all masonry columns except first column by default */
			&:nth-child(2), &:nth-child(3), &:nth-child(4) {
				display: none;
			}
			/* In Palm breakpoint, show last column, and add related column layout properties */
			@media (--palm-or-gt) {
				float: left;
				float: inline-start;
				box-sizing: border-box;
				padding-inline-start: var(--gridGutter);
				inline-size: 50%;
				&:nth-child(4) {
					display: block;
				}
			}
			/* Show second column in desk platforms */
			@media (--desk-or-gt) {
				inline-size: calc(100%/3);
				/* &--2 { */
				&:nth-child(2) {
					display: block;
				}
			}
			/* At last, show third column in mall breakpoint */
			/* @media (--wall-or-gt) { */
			@media (--mall-or-gt) {
				inline-size: 25%;
				&:nth-child(3) {
					display: block;
				}
			}
		}
		/* Add margin to the bottom of each rustygrid item */
		.o-rustygrid__item { 
			float: none;
			margin-block-end: var(--rhythmUnit);
		}

	}
	/* .o-rustygrid__item"][class*="-col"][class*="@"] { */
	/* 	/1* To eliminate white-space for grid-item without col info *1/ */
	/* 	display: inline-block; */
	/* } */
}

/*
 * Styles for all children of Rustygrid Object
 */
.o-rustygrid .o-rustygrid__item {
	padding-inline-start: var(--gridGutter);
	float: left;
	float: inline-start;
	vertical-align: top;
	background-clip: content-box;
	background-size: cover; /* opinionated */
	inline-size: 100%;
	/* box-sizing: content-box; */
	/* box-sizing: border-box; */
	/* Required to combine fluid widths and fixed gutters. */

	/* &.col-0 + & { */
	/* 	padding-inline-start: 0; */
	/* } */

	/* Column Modifiers */
	&.-col1   {inline-size:100%}
	&.-colGold {inline-size:calc(100%/1.61803)}

	&.-col1-2  {inline-size:50%}

	&.-col1-3  {inline-size:calc(100%/3)}
	&.-col2-3  {inline-size:calc(100%/3*2)}

	&.-col1-4  {inline-size:25%}
	&.-col3-4  {inline-size:75%}

	&.-col1-5  {inline-size:20%}
	&.-col2-5  {inline-size:40%}
	&.-col3-5  {inline-size:60%}
	&.-col4-5  {inline-size:80%}

	&.-col1-6  {inline-size:calc(100%/6)}
	&.-col5-6  {inline-size:calc(100%/6*5)}

	&.-col1-7  {inline-size:calc(100%/7)}
	&.-col2-7  {inline-size:calc(100%/7*2)}
	&.-col3-7  {inline-size:calc(100%/7*3)}
	&.-col4-7  {inline-size:calc(100%/7*4)}
	&.-col5-7  {inline-size:calc(100%/7*5)}
	&.-col6-7  {inline-size:calc(100%/7*6)}

	&.-col1-8  {inline-size:calc(100%/8)}
	&.-col3-8  {inline-size:calc(100%/8*3)}
	&.-col5-8  {inline-size:calc(100%/8*5)}
	&.-col7-8  {inline-size:calc(100%/8*7)}

	&.-col1-9  {inline-size:calc(100%/9)}
	&.-col2-9  {inline-size:calc(100%/9*2)}
	&.-col4-9  {inline-size:calc(100%/9*4)}
	&.-col5-9  {inline-size:calc(100%/9*5)}
	&.-col7-9  {inline-size:calc(100%/9*7)}
	&.-col8-9  {inline-size:calc(100%/9*8)}

	&.-col1-10  {inline-size:calc(100%/10)}
	&.-col3-10  {inline-size:calc(100%/10*3)}
	&.-col7-10  {inline-size:calc(100%/10*7)}
	&.-col9-10  {inline-size:calc(100%/10*9)}

	&.-col1-11  {inline-size:calc(100%/11)}
	&.-col2-11  {inline-size:calc(100%/11*2)}
	&.-col3-11  {inline-size:calc(100%/11*3)}
	&.-col4-11  {inline-size:calc(100%/11*4)}
	&.-col5-11  {inline-size:calc(100%/11*5)}
	&.-col6-11  {inline-size:calc(100%/11*6)}
	&.-col7-11  {inline-size:calc(100%/11*7)}
	&.-col8-11  {inline-size:calc(100%/11*8)}
	&.-col9-11  {inline-size:calc(100%/11*9)}
	&.-col10-11 {inline-size:calc(100%/11*10)}

	&.-col1-12 {inline-size:calc(100%/12)}
	&.-col5-12 {inline-size:calc(100%/12*5)}
	&.-col7-12 {inline-size:calc(100%/12*7)}
	&.-col11-12 {inline-size:calc(100%/12*11)}

	@media (--palm-or-gt) {
		&.-col1\@palm   {inline-size:100%}
		&.-colGold\@palm {inline-size:calc(100%/1.61803)}

		&.-col1-2\@palm {inline-size:50%}

		&.-col1-3\@palm {inline-size:calc(100%/3)}
		&.-col2-3\@palm {inline-size:calc(100%/3*2)}

		&.-col1-4\@palm {inline-size:25%}
		&.-col3-4\@palm {inline-size:75%}

		&.-col1-5\@palm {inline-size:20%}
		&.-col2-5\@palm {inline-size:40%}
		&.-col3-5\@palm {inline-size:60%}
		&.-col4-5\@palm {inline-size:80%}

		&.-col1-6\@palm {inline-size:calc(100%/6)}
		&.-col5-6\@palm {inline-size:calc(100%/6*5)}

		&.-col1-7\@palm {inline-size:calc(100%/7)}
		&.-col2-7\@palm {inline-size:calc(100%/7*2)}
		&.-col3-7\@palm {inline-size:calc(100%/7*3)}
		&.-col4-7\@palm {inline-size:calc(100%/7*4)}
		&.-col5-7\@palm {inline-size:calc(100%/7*5)}
		&.-col6-7\@palm {inline-size:calc(100%/7*6)}

		&.-col1-8\@palm  {inline-size:calc(100%/8)}
		&.-col3-8\@palm  {inline-size:calc(100%/8*3)}
		&.-col5-8\@palm  {inline-size:calc(100%/8*5)}
		&.-col7-8\@palm  {inline-size:calc(100%/8*7)}

		&.-col1-9\@palm  {inline-size:calc(100%/9)}
		&.-col2-9\@palm  {inline-size:calc(100%/9*2)}
		&.-col4-9\@palm  {inline-size:calc(100%/9*4)}
		&.-col5-9\@palm  {inline-size:calc(100%/9*5)}
		&.-col7-9\@palm  {inline-size:calc(100%/9*7)}
		&.-col8-9\@palm  {inline-size:calc(100%/9*8)}

		&.-col1-10\@palm  {inline-size:calc(100%/10)}
		&.-col3-10\@palm  {inline-size:calc(100%/10*3)}
		&.-col7-10\@palm  {inline-size:calc(100%/10*7)}
		&.-col9-10\@palm  {inline-size:calc(100%/10*9)}

		&.-col1-11\@palm  {inline-size:calc(100%/11)}
		&.-col2-11\@palm  {inline-size:calc(100%/11*2)}
		&.-col3-11\@palm  {inline-size:calc(100%/11*3)}
		&.-col4-11\@palm  {inline-size:calc(100%/11*4)}
		&.-col5-11\@palm  {inline-size:calc(100%/11*5)}
		&.-col6-11\@palm  {inline-size:calc(100%/11*6)}
		&.-col7-11\@palm  {inline-size:calc(100%/11*7)}
		&.-col8-11\@palm  {inline-size:calc(100%/11*8)}
		&.-col9-11\@palm  {inline-size:calc(100%/11*9)}
		&.-col10-11\@palm {inline-size:calc(100%/11*10)}

		&.-col1-12\@palm {inline-size:calc(100%/12)}
		&.-col5-12\@palm {inline-size:calc(100%/12*5)}
		&.-col7-12\@palm {inline-size:calc(100%/12*7)}
		&.-col11-12\@palm {inline-size:calc(100%/12*11)}
	}
	@media (--lap-or-gt) {
		&.-col1\@lap   {inline-size:100%}
		&.-colGold\@lap {inline-size:calc(100%/1.61803)}

		&.-col1-2\@lap {inline-size:50%}

		&.-col1-3\@lap {inline-size:calc(100%/3)}
		&.-col2-3\@lap {inline-size:calc(100%/3*2)}

		&.-col1-4\@lap {inline-size:25%}
		&.-col3-4\@lap {inline-size:75%}

		&.-col1-5\@lap {inline-size:20%}
		&.-col2-5\@lap {inline-size:40%}
		&.-col3-5\@lap {inline-size:60%}
		&.-col4-5\@lap {inline-size:80%}

		&.-col1-6\@lap {inline-size:calc(100%/6)}
		&.-col5-6\@lap {inline-size:calc(100%/6*5)}

		&.-col1-7\@lap {inline-size:calc(100%/7)}
		&.-col2-7\@lap {inline-size:calc(100%/7*2)}
		&.-col3-7\@lap {inline-size:calc(100%/7*3)}
		&.-col4-7\@lap {inline-size:calc(100%/7*4)}
		&.-col5-7\@lap {inline-size:calc(100%/7*5)}
		&.-col6-7\@lap {inline-size:calc(100%/7*6)}

		&.-col1-8\@lap  {inline-size:calc(100%/8)}
		&.-col3-8\@lap  {inline-size:calc(100%/8*3)}
		&.-col5-8\@lap  {inline-size:calc(100%/8*5)}
		&.-col7-8\@lap  {inline-size:calc(100%/8*7)}

		&.-col1-9\@lap  {inline-size:calc(100%/9)}
		&.-col2-9\@lap  {inline-size:calc(100%/9*2)}
		&.-col4-9\@lap  {inline-size:calc(100%/9*4)}
		&.-col5-9\@lap  {inline-size:calc(100%/9*5)}
		&.-col7-9\@lap  {inline-size:calc(100%/9*7)}
		&.-col8-9\@lap  {inline-size:calc(100%/9*8)}

		&.-col1-10\@lap  {inline-size:calc(100%/10)}
		&.-col3-10\@lap  {inline-size:calc(100%/10*3)}
		&.-col7-10\@lap  {inline-size:calc(100%/10*7)}
		&.-col9-10\@lap  {inline-size:calc(100%/10*9)}

		&.-col1-11\@lap  {inline-size:calc(100%/11)}
		&.-col2-11\@lap  {inline-size:calc(100%/11*2)}
		&.-col3-11\@lap  {inline-size:calc(100%/11*3)}
		&.-col4-11\@lap  {inline-size:calc(100%/11*4)}
		&.-col5-11\@lap  {inline-size:calc(100%/11*5)}
		&.-col6-11\@lap  {inline-size:calc(100%/11*6)}
		&.-col7-11\@lap  {inline-size:calc(100%/11*7)}
		&.-col8-11\@lap  {inline-size:calc(100%/11*8)}
		&.-col9-11\@lap  {inline-size:calc(100%/11*9)}
		&.-col10-11\@lap {inline-size:calc(100%/11*10)}

		&.-col1-12\@lap {inline-size:calc(100%/12)}
		&.-col5-12\@lap {inline-size:calc(100%/12*5)}
		&.-col7-12\@lap {inline-size:calc(100%/12*7)}
		&.-col11-12\@lap {inline-size:calc(100%/12*11)}
	}
	@media (--desk-or-gt) {
		&.-col1\@desk   {inline-size:100%}
		&.-colGold\@desk {inline-size:calc(100%/1.61803)}

		&.-col1-2\@desk {inline-size:50%}

		&.-col1-3\@desk {inline-size:calc(100%/3)}
		&.-col2-3\@desk {inline-size:calc(100%/3*2)}

		&.-col1-4\@desk {inline-size:25%}
		&.-col3-4\@desk {inline-size:75%}

		&.-col1-5\@desk {inline-size:20%}
		&.-col2-5\@desk {inline-size:40%}
		&.-col3-5\@desk {inline-size:60%}
		&.-col4-5\@desk {inline-size:80%}

		&.-col1-6\@desk {inline-size:calc(100%/6)}
		&.-col5-6\@desk {inline-size:calc(100%/6*5)}

		&.-col1-7\@desk {inline-size:calc(100%/7)}
		&.-col2-7\@desk {inline-size:calc(100%/7*2)}
		&.-col3-7\@desk {inline-size:calc(100%/7*3)}
		&.-col4-7\@desk {inline-size:calc(100%/7*4)}
		&.-col5-7\@desk {inline-size:calc(100%/7*5)}
		&.-col6-7\@desk {inline-size:calc(100%/7*6)}

		&.-col1-8\@desk  {inline-size:calc(100%/8)}
		&.-col3-8\@desk  {inline-size:calc(100%/8*3)}
		&.-col5-8\@desk  {inline-size:calc(100%/8*5)}
		&.-col7-8\@desk  {inline-size:calc(100%/8*7)}

		&.-col1-9\@desk  {inline-size:calc(100%/9)}
		&.-col2-9\@desk  {inline-size:calc(100%/9*2)}
		&.-col4-9\@desk  {inline-size:calc(100%/9*4)}
		&.-col5-9\@desk  {inline-size:calc(100%/9*5)}
		&.-col7-9\@desk  {inline-size:calc(100%/9*7)}
		&.-col8-9\@desk  {inline-size:calc(100%/9*8)}

		&.-col1-10\@desk  {inline-size:calc(100%/10)}
		&.-col3-10\@desk  {inline-size:calc(100%/10*3)}
		&.-col7-10\@desk  {inline-size:calc(100%/10*7)}
		&.-col9-10\@desk  {inline-size:calc(100%/10*9)}

		&.-col1-11\@desk  {inline-size:calc(100%/11)}
		&.-col2-11\@desk  {inline-size:calc(100%/11*2)}
		&.-col3-11\@desk  {inline-size:calc(100%/11*3)}
		&.-col4-11\@desk  {inline-size:calc(100%/11*4)}
		&.-col5-11\@desk  {inline-size:calc(100%/11*5)}
		&.-col6-11\@desk  {inline-size:calc(100%/11*6)}
		&.-col7-11\@desk  {inline-size:calc(100%/11*7)}
		&.-col8-11\@desk  {inline-size:calc(100%/11*8)}
		&.-col9-11\@desk  {inline-size:calc(100%/11*9)}
		&.-col10-11\@desk {inline-size:calc(100%/11*10)}

		&.-col1-12\@desk {inline-size:calc(100%/12)}
		&.-col5-12\@desk {inline-size:calc(100%/12*5)}
		&.-col7-12\@desk {inline-size:calc(100%/12*7)}
		&.-col11-12\@desk {inline-size:calc(100%/12*11)}
	}

	/* Push Modifiers */

	/* If rusty grid has items with pull or push namespaces,
	 * make container position relative. */
	&:is([class*="-push"],[class*="-pull"]) {
		position: relative;
	}

	&.-push1   {inset-inline-start:100%}
	&.-pushGold {inset-inline-start:calc(100%/1.61803)}

	&.-push1-2  {inset-inline-start:50%}

	&.-push1-3  {inset-inline-start:calc(100%/3)}
	&.-push2-3  {inset-inline-start:calc(100%/3*2)}

	&.-push1-4  {inset-inline-start:25%}
	&.-push3-4  {inset-inline-start:75%}

	&.-push1-5  {inset-inline-start:20%}
	&.-push2-5  {inset-inline-start:40%}
	&.-push3-5  {inset-inline-start:60%}
	&.-push4-5  {inset-inline-start:80%}

	&.-push1-6  {inset-inline-start:calc(100%/6)}
	&.-push5-6  {inset-inline-start:calc(100%/6*5)}

	&.-push1-7  {inset-inline-start:calc(100%/7)}
	&.-push2-7  {inset-inline-start:calc(100%/7*2)}
	&.-push3-7  {inset-inline-start:calc(100%/7*3)}
	&.-push4-7  {inset-inline-start:calc(100%/7*4)}
	&.-push5-7  {inset-inline-start:calc(100%/7*5)}
	&.-push6-7  {inset-inline-start:calc(100%/7*6)}

	&.-push1-8  {inset-inline-start:calc(100%/8)}
	&.-push3-8  {inset-inline-start:calc(100%/8*3)}
	&.-push5-8  {inset-inline-start:calc(100%/8*5)}
	&.-push7-8  {inset-inline-start:calc(100%/8*7)}

	&.-push1-9  {inset-inline-start:calc(100%/9)}
	&.-push2-9  {inset-inline-start:calc(100%/9*2)}
	&.-push4-9  {inset-inline-start:calc(100%/9*4)}
	&.-push5-9  {inset-inline-start:calc(100%/9*5)}
	&.-push7-9  {inset-inline-start:calc(100%/9*7)}
	&.-push8-9  {inset-inline-start:calc(100%/9*8)}

	&.-push1-10  {inset-inline-start:calc(100%/10)}
	&.-push3-10  {inset-inline-start:calc(100%/10*3)}
	&.-push7-10  {inset-inline-start:calc(100%/10*7)}
	&.-push9-10  {inset-inline-start:calc(100%/10*9)}

	&.-push1-11  {inset-inline-start:calc(100%/11)}
	&.-push2-11  {inset-inline-start:calc(100%/11*2)}
	&.-push3-11  {inset-inline-start:calc(100%/11*3)}
	&.-push4-11  {inset-inline-start:calc(100%/11*4)}
	&.-push5-11  {inset-inline-start:calc(100%/11*5)}
	&.-push6-11  {inset-inline-start:calc(100%/11*6)}
	&.-push7-11  {inset-inline-start:calc(100%/11*7)}
	&.-push8-11  {inset-inline-start:calc(100%/11*8)}
	&.-push9-11  {inset-inline-start:calc(100%/11*9)}
	&.-push10-11 {inset-inline-start:calc(100%/11*10)}

	&.-push1-12 {inset-inline-start:calc(100%/12)}
	&.-push5-12 {inset-inline-start:calc(100%/12*5)}
	&.-push7-12 {inset-inline-start:calc(100%/12*7)}
	&.-push11-12 {inset-inline-start:calc(100%/12*11)}

	@media (--palm-or-gt) {inset-
		&.-push1\@palm   {inset-inline-start:100%}
		&.-pushGold\@palm {inset-inline-start:calc(100%/1.61803)}

		&.-push1-2\@palm {inset-inline-start:50%}

		&.-push1-3\@palm {inset-inline-start:calc(100%/3)}
		&.-push2-3\@palm {inset-inline-start:calc(100%/3*2)}

		&.-push1-4\@palm {inset-inline-start:25%}
		&.-push3-4\@palm {inset-inline-start:75%}

		&.-push1-5\@palm {inset-inline-start:20%}
		&.-push2-5\@palm {inset-inline-start:40%}
		&.-push3-5\@palm {inset-inline-start:60%}
		&.-push4-5\@palm {inset-inline-start:80%}

		&.-push1-6\@palm {inset-inline-start:calc(100%/6)}
		&.-push5-6\@palm {inset-inline-start:calc(100%/6*5)}

		&.-push1-7\@palm {inset-inline-start:calc(100%/7)}
		&.-push2-7\@palm {inset-inline-start:calc(100%/7*2)}
		&.-push3-7\@palm {inset-inline-start:calc(100%/7*3)}
		&.-push4-7\@palm {inset-inline-start:calc(100%/7*4)}
		&.-push5-7\@palm {inset-inline-start:calc(100%/7*5)}
		&.-push6-7\@palm {inset-inline-start:calc(100%/7*6)}

		&.-push1-8\@palm  {inset-inline-start:calc(100%/8)}
		&.-push3-8\@palm  {inset-inline-start:calc(100%/8*3)}
		&.-push5-8\@palm  {inset-inline-start:calc(100%/8*5)}
		&.-push7-8\@palm  {inset-inline-start:calc(100%/8*7)}

		&.-push1-9\@palm  {inset-inline-start:calc(100%/9)}
		&.-push2-9\@palm  {inset-inline-start:calc(100%/9*2)}
		&.-push4-9\@palm  {inset-inline-start:calc(100%/9*4)}
		&.-push5-9\@palm  {inset-inline-start:calc(100%/9*5)}
		&.-push7-9\@palm  {inset-inline-start:calc(100%/9*7)}
		&.-push8-9\@palm  {inset-inline-start:calc(100%/9*8)}

		&.-push1-10\@palm  {inset-inline-start:calc(100%/10)}
		&.-push3-10\@palm  {inset-inline-start:calc(100%/10*3)}
		&.-push7-10\@palm  {inset-inline-start:calc(100%/10*7)}
		&.-push9-10\@palm  {inset-inline-start:calc(100%/10*9)}

		&.-push1-11\@palm  {inset-inline-start:calc(100%/11)}
		&.-push2-11\@palm  {inset-inline-start:calc(100%/11*2)}
		&.-push3-11\@palm  {inset-inline-start:calc(100%/11*3)}
		&.-push4-11\@palm  {inset-inline-start:calc(100%/11*4)}
		&.-push5-11\@palm  {inset-inline-start:calc(100%/11*5)}
		&.-push6-11\@palm  {inset-inline-start:calc(100%/11*6)}
		&.-push7-11\@palm  {inset-inline-start:calc(100%/11*7)}
		&.-push8-11\@palm  {inset-inline-start:calc(100%/11*8)}
		&.-push9-11\@palm  {inset-inline-start:calc(100%/11*9)}
		&.-push10-11\@palm {inset-inline-start:calc(100%/11*10)}

		&.-push1-12\@palm {inset-inline-start:calc(100%/12)}
		&.-push5-12\@palm {inset-inline-start:calc(100%/12*5)}
		&.-push7-12\@palm {inset-inline-start:calc(100%/12*7)}
		&.-push11-12\@palm {inset-inline-start:calc(100%/12*11)}
	}
	@media (--lap-or-gt) {inset-
		&.-push1\@lap   {inset-inline-start:100%}
		&.-pushGold\@lap {inset-inline-start:calc(100%/1.61803)}

		&.-push1-2\@lap {inset-inline-start:50%}

		&.-push1-3\@lap {inset-inline-start:calc(100%/3)}
		&.-push2-3\@lap {inset-inline-start:calc(100%/3*2)}

		&.-push1-4\@lap {inset-inline-start:25%}
		&.-push3-4\@lap {inset-inline-start:75%}

		&.-push1-5\@lap {inset-inline-start:20%}
		&.-push2-5\@lap {inset-inline-start:40%}
		&.-push3-5\@lap {inset-inline-start:60%}
		&.-push4-5\@lap {inset-inline-start:80%}

		&.-push1-6\@lap {inset-inline-start:calc(100%/6)}
		&.-push5-6\@lap {inset-inline-start:calc(100%/6*5)}

		&.-push1-7\@lap {inset-inline-start:calc(100%/7)}
		&.-push2-7\@lap {inset-inline-start:calc(100%/7*2)}
		&.-push3-7\@lap {inset-inline-start:calc(100%/7*3)}
		&.-push4-7\@lap {inset-inline-start:calc(100%/7*4)}
		&.-push5-7\@lap {inset-inline-start:calc(100%/7*5)}
		&.-push6-7\@lap {inset-inline-start:calc(100%/7*6)}

		&.-push1-8\@lap  {inset-inline-start:calc(100%/8)}
		&.-push3-8\@lap  {inset-inline-start:calc(100%/8*3)}
		&.-push5-8\@lap  {inset-inline-start:calc(100%/8*5)}
		&.-push7-8\@lap  {inset-inline-start:calc(100%/8*7)}

		&.-push1-9\@lap  {inset-inline-start:calc(100%/9)}
		&.-push2-9\@lap  {inset-inline-start:calc(100%/9*2)}
		&.-push4-9\@lap  {inset-inline-start:calc(100%/9*4)}
		&.-push5-9\@lap  {inset-inline-start:calc(100%/9*5)}
		&.-push7-9\@lap  {inset-inline-start:calc(100%/9*7)}
		&.-push8-9\@lap  {inset-inline-start:calc(100%/9*8)}

		&.-push1-10\@lap  {inset-inline-start:calc(100%/10)}
		&.-push3-10\@lap  {inset-inline-start:calc(100%/10*3)}
		&.-push7-10\@lap  {inset-inline-start:calc(100%/10*7)}
		&.-push9-10\@lap  {inset-inline-start:calc(100%/10*9)}

		&.-push1-11\@lap  {inset-inline-start:calc(100%/11)}
		&.-push2-11\@lap  {inset-inline-start:calc(100%/11*2)}
		&.-push3-11\@lap  {inset-inline-start:calc(100%/11*3)}
		&.-push4-11\@lap  {inset-inline-start:calc(100%/11*4)}
		&.-push5-11\@lap  {inset-inline-start:calc(100%/11*5)}
		&.-push6-11\@lap  {inset-inline-start:calc(100%/11*6)}
		&.-push7-11\@lap  {inset-inline-start:calc(100%/11*7)}
		&.-push8-11\@lap  {inset-inline-start:calc(100%/11*8)}
		&.-push9-11\@lap  {inset-inline-start:calc(100%/11*9)}
		&.-push10-11\@lap {inset-inline-start:calc(100%/11*10)}

		&.-push1-12\@lap {inset-inline-start:calc(100%/12)}
		&.-push5-12\@lap {inset-inline-start:calc(100%/12*5)}
		&.-push7-12\@lap {inset-inline-start:calc(100%/12*7)}
		&.-push11-12\@lap {inset-inline-start:calc(100%/12*11)}
	}
	@media (--desk-or-gt) {inset-
		&.-push1\@desk   {inset-inline-start:100%}
		&.-pushGold\@desk {inset-inline-start:calc(100%/1.61803)}

		&.-push1-2\@desk {inset-inline-start:50%}

		&.-push1-3\@desk {inset-inline-start:calc(100%/3)}
		&.-push2-3\@desk {inset-inline-start:calc(100%/3*2)}

		&.-push1-4\@desk {inset-inline-start:25%}
		&.-push3-4\@desk {inset-inline-start:75%}

		&.-push1-5\@desk {inset-inline-start:20%}
		&.-push2-5\@desk {inset-inline-start:40%}
		&.-push3-5\@desk {inset-inline-start:60%}
		&.-push4-5\@desk {inset-inline-start:80%}

		&.-push1-6\@desk {inset-inline-start:calc(100%/6)}
		&.-push5-6\@desk {inset-inline-start:calc(100%/6*5)}

		&.-push1-7\@desk {inset-inline-start:calc(100%/7)}
		&.-push2-7\@desk {inset-inline-start:calc(100%/7*2)}
		&.-push3-7\@desk {inset-inline-start:calc(100%/7*3)}
		&.-push4-7\@desk {inset-inline-start:calc(100%/7*4)}
		&.-push5-7\@desk {inset-inline-start:calc(100%/7*5)}
		&.-push6-7\@desk {inset-inline-start:calc(100%/7*6)}

		&.-push1-8\@desk  {inset-inline-start:calc(100%/8)}
		&.-push3-8\@desk  {inset-inline-start:calc(100%/8*3)}
		&.-push5-8\@desk  {inset-inline-start:calc(100%/8*5)}
		&.-push7-8\@desk  {inset-inline-start:calc(100%/8*7)}

		&.-push1-9\@desk  {inset-inline-start:calc(100%/9)}
		&.-push2-9\@desk  {inset-inline-start:calc(100%/9*2)}
		&.-push4-9\@desk  {inset-inline-start:calc(100%/9*4)}
		&.-push5-9\@desk  {inset-inline-start:calc(100%/9*5)}
		&.-push7-9\@desk  {inset-inline-start:calc(100%/9*7)}
		&.-push8-9\@desk  {inset-inline-start:calc(100%/9*8)}

		&.-push1-10\@desk  {inset-inline-start:calc(100%/10)}
		&.-push3-10\@desk  {inset-inline-start:calc(100%/10*3)}
		&.-push7-10\@desk  {inset-inline-start:calc(100%/10*7)}
		&.-push9-10\@desk  {inset-inline-start:calc(100%/10*9)}

		&.-push1-11\@desk  {inset-inline-start:calc(100%/11)}
		&.-push2-11\@desk  {inset-inline-start:calc(100%/11*2)}
		&.-push3-11\@desk  {inset-inline-start:calc(100%/11*3)}
		&.-push4-11\@desk  {inset-inline-start:calc(100%/11*4)}
		&.-push5-11\@desk  {inset-inline-start:calc(100%/11*5)}
		&.-push6-11\@desk  {inset-inline-start:calc(100%/11*6)}
		&.-push7-11\@desk  {inset-inline-start:calc(100%/11*7)}
		&.-push8-11\@desk  {inset-inline-start:calc(100%/11*8)}
		&.-push9-11\@desk  {inset-inline-start:calc(100%/11*9)}
		&.-push10-11\@desk {inset-inline-start:calc(100%/11*10)}

		&.-push1-12\@desk {inset-inline-start:calc(100%/12)}
		&.-push5-12\@desk {inset-inline-start:calc(100%/12*5)}
		&.-push7-12\@desk {inset-inline-start:calc(100%/12*7)}
		&.-push11-12\@desk {inset-inline-start:calc(100%/12*11)}
	}
	/* Pull Modifiers */
	&.-pull1   {inset-inline-end:100%}
	&.-pullGold {inset-inline-end:calc(100%/1.61803)}

	&.-pull1-2  {inset-inline-end:50%}

	&.-pull1-3  {inset-inline-end:calc(100%/3)}
	&.-pull2-3  {inset-inline-end:calc(100%/3*2)}

	&.-pull1-4  {inset-inline-end:25%}
	&.-pull3-4  {inset-inline-end:75%}

	&.-pull1-5  {inset-inline-end:20%}
	&.-pull2-5  {inset-inline-end:40%}
	&.-pull3-5  {inset-inline-end:60%}
	&.-pull4-5  {inset-inline-end:80%}

	&.-pull1-6  {inset-inline-end:calc(100%/6)}
	&.-pull5-6  {inset-inline-end:calc(100%/6*5)}

	&.-pull1-7  {inset-inline-end:calc(100%/7)}
	&.-pull2-7  {inset-inline-end:calc(100%/7*2)}
	&.-pull3-7  {inset-inline-end:calc(100%/7*3)}
	&.-pull4-7  {inset-inline-end:calc(100%/7*4)}
	&.-pull5-7  {inset-inline-end:calc(100%/7*5)}
	&.-pull6-7  {inset-inline-end:calc(100%/7*6)}

	&.-pull1-8  {inset-inline-end:calc(100%/8)}
	&.-pull3-8  {inset-inline-end:calc(100%/8*3)}
	&.-pull5-8  {inset-inline-end:calc(100%/8*5)}
	&.-pull7-8  {inset-inline-end:calc(100%/8*7)}

	&.-pull1-9  {inset-inline-end:calc(100%/9)}
	&.-pull2-9  {inset-inline-end:calc(100%/9*2)}
	&.-pull4-9  {inset-inline-end:calc(100%/9*4)}
	&.-pull5-9  {inset-inline-end:calc(100%/9*5)}
	&.-pull7-9  {inset-inline-end:calc(100%/9*7)}
	&.-pull8-9  {inset-inline-end:calc(100%/9*8)}

	&.-pull1-10  {inset-inline-end:calc(100%/10)}
	&.-pull3-10  {inset-inline-end:calc(100%/10*3)}
	&.-pull7-10  {inset-inline-end:calc(100%/10*7)}
	&.-pull9-10  {inset-inline-end:calc(100%/10*9)}

	&.-pull1-11  {inset-inline-end:calc(100%/11)}
	&.-pull2-11  {inset-inline-end:calc(100%/11*2)}
	&.-pull3-11  {inset-inline-end:calc(100%/11*3)}
	&.-pull4-11  {inset-inline-end:calc(100%/11*4)}
	&.-pull5-11  {inset-inline-end:calc(100%/11*5)}
	&.-pull6-11  {inset-inline-end:calc(100%/11*6)}
	&.-pull7-11  {inset-inline-end:calc(100%/11*7)}
	&.-pull8-11  {inset-inline-end:calc(100%/11*8)}
	&.-pull9-11  {inset-inline-end:calc(100%/11*9)}
	&.-pull10-11 {inset-inline-end:calc(100%/11*10)}

	&.-pull1-12 {inset-inline-end:calc(100%/12)}
	&.-pull5-12 {inset-inline-end:calc(100%/12*5)}
	&.-pull7-12 {inset-inline-end:calc(100%/12*7)}
	&.-pull11-12 {inset-inline-end:calc(100%/12*11)}

	@media (--palm-or-gt) {inset-
		&.-pull1\@palm   {inset-inline-end:100%}
		&.-pullGold\@palm {inset-inline-end:calc(100%/1.61803)}

		&.-pull1-2\@palm {inset-inline-end:50%}

		&.-pull1-3\@palm {inset-inline-end:calc(100%/3)}
		&.-pull2-3\@palm {inset-inline-end:calc(100%/3*2)}

		&.-pull1-4\@palm {inset-inline-end:25%}
		&.-pull3-4\@palm {inset-inline-end:75%}

		&.-pull1-5\@palm {inset-inline-end:20%}
		&.-pull2-5\@palm {inset-inline-end:40%}
		&.-pull3-5\@palm {inset-inline-end:60%}
		&.-pull4-5\@palm {inset-inline-end:80%}

		&.-pull1-6\@palm {inset-inline-end:calc(100%/6)}
		&.-pull5-6\@palm {inset-inline-end:calc(100%/6*5)}

		&.-pull1-7\@palm {inset-inline-end:calc(100%/7)}
		&.-pull2-7\@palm {inset-inline-end:calc(100%/7*2)}
		&.-pull3-7\@palm {inset-inline-end:calc(100%/7*3)}
		&.-pull4-7\@palm {inset-inline-end:calc(100%/7*4)}
		&.-pull5-7\@palm {inset-inline-end:calc(100%/7*5)}
		&.-pull6-7\@palm {inset-inline-end:calc(100%/7*6)}

		&.-pull1-8\@palm  {inset-inline-end:calc(100%/8)}
		&.-pull3-8\@palm  {inset-inline-end:calc(100%/8*3)}
		&.-pull5-8\@palm  {inset-inline-end:calc(100%/8*5)}
		&.-pull7-8\@palm  {inset-inline-end:calc(100%/8*7)}

		&.-pull1-9\@palm  {inset-inline-end:calc(100%/9)}
		&.-pull2-9\@palm  {inset-inline-end:calc(100%/9*2)}
		&.-pull4-9\@palm  {inset-inline-end:calc(100%/9*4)}
		&.-pull5-9\@palm  {inset-inline-end:calc(100%/9*5)}
		&.-pull7-9\@palm  {inset-inline-end:calc(100%/9*7)}
		&.-pull8-9\@palm  {inset-inline-end:calc(100%/9*8)}

		&.-pull1-10\@palm  {inset-inline-end:calc(100%/10)}
		&.-pull3-10\@palm  {inset-inline-end:calc(100%/10*3)}
		&.-pull7-10\@palm  {inset-inline-end:calc(100%/10*7)}
		&.-pull9-10\@palm  {inset-inline-end:calc(100%/10*9)}

		&.-pull1-11\@palm  {inset-inline-end:calc(100%/11)}
		&.-pull2-11\@palm  {inset-inline-end:calc(100%/11*2)}
		&.-pull3-11\@palm  {inset-inline-end:calc(100%/11*3)}
		&.-pull4-11\@palm  {inset-inline-end:calc(100%/11*4)}
		&.-pull5-11\@palm  {inset-inline-end:calc(100%/11*5)}
		&.-pull6-11\@palm  {inset-inline-end:calc(100%/11*6)}
		&.-pull7-11\@palm  {inset-inline-end:calc(100%/11*7)}
		&.-pull8-11\@palm  {inset-inline-end:calc(100%/11*8)}
		&.-pull9-11\@palm  {inset-inline-end:calc(100%/11*9)}
		&.-pull10-11\@palm {inset-inline-end:calc(100%/11*10)}

		&.-pull1-12\@palm {inset-inline-end:calc(100%/12)}
		&.-pull5-12\@palm {inset-inline-end:calc(100%/12*5)}
		&.-pull7-12\@palm {inset-inline-end:calc(100%/12*7)}
		&.-pull11-12\@palm {inset-inline-end:calc(100%/12*11)}
	}
	@media (--lap-or-gt) {inset-
		&.-pull1\@lap   {inset-inline-end:100%}
		&.-pullGold\@lap {inset-inline-end:calc(100%/1.61803)}

		&.-pull1-2\@lap {inset-inline-end:50%}

		&.-pull1-3\@lap {inset-inline-end:calc(100%/3)}
		&.-pull2-3\@lap {inset-inline-end:calc(100%/3*2)}

		&.-pull1-4\@lap {inset-inline-end:25%}
		&.-pull3-4\@lap {inset-inline-end:75%}

		&.-pull1-5\@lap {inset-inline-end:20%}
		&.-pull2-5\@lap {inset-inline-end:40%}
		&.-pull3-5\@lap {inset-inline-end:60%}
		&.-pull4-5\@lap {inset-inline-end:80%}

		&.-pull1-6\@lap {inset-inline-end:calc(100%/6)}
		&.-pull5-6\@lap {inset-inline-end:calc(100%/6*5)}

		&.-pull1-7\@lap {inset-inline-end:calc(100%/7)}
		&.-pull2-7\@lap {inset-inline-end:calc(100%/7*2)}
		&.-pull3-7\@lap {inset-inline-end:calc(100%/7*3)}
		&.-pull4-7\@lap {inset-inline-end:calc(100%/7*4)}
		&.-pull5-7\@lap {inset-inline-end:calc(100%/7*5)}
		&.-pull6-7\@lap {inset-inline-end:calc(100%/7*6)}

		&.-pull1-8\@lap  {inset-inline-end:calc(100%/8)}
		&.-pull3-8\@lap  {inset-inline-end:calc(100%/8*3)}
		&.-pull5-8\@lap  {inset-inline-end:calc(100%/8*5)}
		&.-pull7-8\@lap  {inset-inline-end:calc(100%/8*7)}

		&.-pull1-9\@lap  {inset-inline-end:calc(100%/9)}
		&.-pull2-9\@lap  {inset-inline-end:calc(100%/9*2)}
		&.-pull4-9\@lap  {inset-inline-end:calc(100%/9*4)}
		&.-pull5-9\@lap  {inset-inline-end:calc(100%/9*5)}
		&.-pull7-9\@lap  {inset-inline-end:calc(100%/9*7)}
		&.-pull8-9\@lap  {inset-inline-end:calc(100%/9*8)}

		&.-pull1-10\@lap  {inset-inline-end:calc(100%/10)}
		&.-pull3-10\@lap  {inset-inline-end:calc(100%/10*3)}
		&.-pull7-10\@lap  {inset-inline-end:calc(100%/10*7)}
		&.-pull9-10\@lap  {inset-inline-end:calc(100%/10*9)}

		&.-pull1-11\@lap  {inset-inline-end:calc(100%/11)}
		&.-pull2-11\@lap  {inset-inline-end:calc(100%/11*2)}
		&.-pull3-11\@lap  {inset-inline-end:calc(100%/11*3)}
		&.-pull4-11\@lap  {inset-inline-end:calc(100%/11*4)}
		&.-pull5-11\@lap  {inset-inline-end:calc(100%/11*5)}
		&.-pull6-11\@lap  {inset-inline-end:calc(100%/11*6)}
		&.-pull7-11\@lap  {inset-inline-end:calc(100%/11*7)}
		&.-pull8-11\@lap  {inset-inline-end:calc(100%/11*8)}
		&.-pull9-11\@lap  {inset-inline-end:calc(100%/11*9)}
		&.-pull10-11\@lap {inset-inline-end:calc(100%/11*10)}

		&.-pull1-12\@lap {inset-inline-end:calc(100%/12)}
		&.-pull5-12\@lap {inset-inline-end:calc(100%/12*5)}
		&.-pull7-12\@lap {inset-inline-end:calc(100%/12*7)}
		&.-pull11-12\@lap {inset-inline-end:calc(100%/12*11)}
	}
	@media (--desk-or-gt) {inset-
		&.-pull1\@desk   {inset-inline-end:100%}
		&.-pullGold\@desk {inset-inline-end:calc(100%/1.61803)}

		&.-pull1-2\@desk {inset-inline-end:50%}

		&.-pull1-3\@desk {inset-inline-end:calc(100%/3)}
		&.-pull2-3\@desk {inset-inline-end:calc(100%/3*2)}

		&.-pull1-4\@desk {inset-inline-end:25%}
		&.-pull3-4\@desk {inset-inline-end:75%}

		&.-pull1-5\@desk {inset-inline-end:20%}
		&.-pull2-5\@desk {inset-inline-end:40%}
		&.-pull3-5\@desk {inset-inline-end:60%}
		&.-pull4-5\@desk {inset-inline-end:80%}

		&.-pull1-6\@desk {inset-inline-end:calc(100%/6)}
		&.-pull5-6\@desk {inset-inline-end:calc(100%/6*5)}

		&.-pull1-7\@desk {inset-inline-end:calc(100%/7)}
		&.-pull2-7\@desk {inset-inline-end:calc(100%/7*2)}
		&.-pull3-7\@desk {inset-inline-end:calc(100%/7*3)}
		&.-pull4-7\@desk {inset-inline-end:calc(100%/7*4)}
		&.-pull5-7\@desk {inset-inline-end:calc(100%/7*5)}
		&.-pull6-7\@desk {inset-inline-end:calc(100%/7*6)}

		&.-pull1-8\@desk  {inset-inline-end:calc(100%/8)}
		&.-pull3-8\@desk  {inset-inline-end:calc(100%/8*3)}
		&.-pull5-8\@desk  {inset-inline-end:calc(100%/8*5)}
		&.-pull7-8\@desk  {inset-inline-end:calc(100%/8*7)}

		&.-pull1-9\@desk  {inset-inline-end:calc(100%/9)}
		&.-pull2-9\@desk  {inset-inline-end:calc(100%/9*2)}
		&.-pull4-9\@desk  {inset-inline-end:calc(100%/9*4)}
		&.-pull5-9\@desk  {inset-inline-end:calc(100%/9*5)}
		&.-pull7-9\@desk  {inset-inline-end:calc(100%/9*7)}
		&.-pull8-9\@desk  {inset-inline-end:calc(100%/9*8)}

		&.-pull1-10\@desk  {inset-inline-end:calc(100%/10)}
		&.-pull3-10\@desk  {inset-inline-end:calc(100%/10*3)}
		&.-pull7-10\@desk  {inset-inline-end:calc(100%/10*7)}
		&.-pull9-10\@desk  {inset-inline-end:calc(100%/10*9)}

		&.-pull1-11\@desk  {inset-inline-end:calc(100%/11)}
		&.-pull2-11\@desk  {inset-inline-end:calc(100%/11*2)}
		&.-pull3-11\@desk  {inset-inline-end:calc(100%/11*3)}
		&.-pull4-11\@desk  {inset-inline-end:calc(100%/11*4)}
		&.-pull5-11\@desk  {inset-inline-end:calc(100%/11*5)}
		&.-pull6-11\@desk  {inset-inline-end:calc(100%/11*6)}
		&.-pull7-11\@desk  {inset-inline-end:calc(100%/11*7)}
		&.-pull8-11\@desk  {inset-inline-end:calc(100%/11*8)}
		&.-pull9-11\@desk  {inset-inline-end:calc(100%/11*9)}
		&.-pull10-11\@desk {inset-inline-end:calc(100%/11*10)}

		&.-pull1-12\@desk {inset-inline-end:calc(100%/12)}
		&.-pull5-12\@desk {inset-inline-end:calc(100%/12*5)}
		&.-pull7-12\@desk {inset-inline-end:calc(100%/12*7)}
		&.-pull11-12\@desk {inset-inline-end:calc(100%/12*11)}
	}
}

/* Remove border-radius from box layout primitives even if there's
 * rounded corner theme modifier */
:where(.t-modRoot.-cornerRounded) .o-rustyGrid.--noGutter .o-box.-viewCard {/* opinionated */
	border-radius: 0;
}
