/***** Rustygrid Object
 *
 * It's called "rusty" because it contains old methods of making grids and
 * columns based on percentage of the container unlike CSS Grid. It still
 * has some advantages that lets you handle easier at some scenarios.
 *
 * This grid system based on CSS Wizardry Grids.
 * Source: https://github.com/csswizardry/csswizardry-grids/blob/master/csswizardry-grids.scss
 *
 */
.o-rustygrid {
	margin-inline: auto;
	padding-inline-end: var(--gridGutter);
	background-clip: content-box;
	width:100%;
	max-width: var(--maxContainerWidth);

	&.-reversed {
		display: flex;
		flex-direction: row-reverse;
	}
	&.-reversed\@palm{
		@media (--palm-or-gt) {
			display: flex;
			flex-direction: row-reverse;
		}
	}
	&.-reversed\@lap{
		@media (--palm-or-gt) {
			display: flex;
			flex-direction: row-reverse;
		}
	}

	/* Gutter Modifiers */
	&.--noGutter {
		--gridGutter:0;
/* 		padding-inline-end: 0; */
/* 		.o-rustygrid__item { */
/* 			padding-inline-start: 0; */
/* 		} */
	}

	/* Align Modifiers */
	&.-alignEnd {
		text-align: end;
		> .o-rustygrid__item, > * > .o-rustygrid__item, .o-rustygrid__masonryCol > .o-rustygrid__item {
			/* Reset align to defualt for the content inside */
			text-align: initial;
		}
	}
	&.-alignCenter {
		text-align: center;
		> .o-rustygrid__item, > * > .o-rustygrid__item, .o-rustygrid__masonryCol > .o-rustygrid__item{
			/* Reset align to defualt for the content inside */
			text-align: initial;
		}
	}
	&.-alignBottom {
		> .o-rustygrid__item, > * > .o-rustygrid__item, .o-rustygrid__masonryCol > .o-rustygrid__item {
			vertical-align: bottom;
		}
	}
	&.-alignMiddle {
		> .o-rustygrid__item, > * > .o-rustygrid__item, .o-rustygrid__masonryCol > .o-rustygrid__item {
			vertical-align: middle;
		}
	}

	hr { /* opinionated */
		width: 100%
	}

	&.-responsive &__item { /* opinionated */
		/* margin-block-end: calc( var(--rhythmUnit)*2 ); */
		margin-block-end: var(--rhythmUnit);
	}

	/* Rustygrid Object with Masonry View
	 * (dependant on Colcade.js)
	 */
	&.-viewMasonry {
		padding-inline-start: calc( var(--gridGutter) / 2 );
		padding-inline-end: calc( var(--gridGutter) / 2 + var(--gridGutter));
		.o-rustygrid__masonryCol {
			float: left;
			float: inline-start;
			width: 50%;
			padding-inline-start: var(--gridGutter);
			.o-rustygrid__item {
				padding-inline-start: 0;
			}
			/* According to Colcade.js, second and third column should be hidden
			 * by default in smaller devices as the script will distribute
			 * children elements inside to the first and last column. */
			/* &--2, &--3 { */
			&:nth-child(2), &:nth-child(3) {
				display: none;
			}
			/* Show second column in desk platforms */
			@media (--desk-or-gt) {
				width: calc(100%/3);
				/* &--2 { */
				&:nth-child(2) {
					display: block;
				}
			}
			/* Show third column in mall platforms */
			/* @media (--wall-or-gt) { */
			@media (--mall-or-gt) {
				width: 25%;
				&:nth-child(3) {
					display: block;
				}
			}
		}
		.o-rustygrid__item {
			margin-block-end: var(--rhythmUnit);
			/* This might be redundant when parent element is grid/flexbox and has gap values. */
		}

	}
	/* .o-rustygrid__item"][class*="-col"][class*="@"] { */
	/* 	/1* To eliminate white-space for grid-item without col info *1/ */
	/* 	display: inline-block; */
	/* } */
}

/*
 * Styles for all children of Rustygrid Object
 */
.o-rustygrid__item {
	padding-inline-start: var(--gridGutter);
	display: inline-block;
	/* float: left; */
	vertical-align: top;
	background-clip: content-box;
	background-size: cover; /* opinionated */
	width: 100%;

	/* &.col-0 + & { */
	/* 	padding-inline-start: 0; */
	/* } */

	/* Column Modifiers */
	&.-col0   {width:0;padding:0}
	&.-col1   {width:100%}
	&.-colGold {width:calc(100%/1.61803)}

	&.-col1-2  {width:50%}

	&.-col1-3  {width:calc(100%/3)}
	&.-col2-3  {width:calc(100%/3*2)}

	&.-col1-4  {width:25%}
	&.-col3-4  {width:75%}

	&.-col1-5  {width:20%}
	&.-col2-5  {width:40%}
	&.-col3-5  {width:60%}
	&.-col4-5  {width:80%}

	&.-col1-6  {width:calc(100%/6)}
	&.-col5-6  {width:calc(100%/6*5)}

	&.-col1-7  {width:calc(100%/7)}
	&.-col2-7  {width:calc(100%/7*2)}
	&.-col3-7  {width:calc(100%/7*3)}
	&.-col4-7  {width:calc(100%/7*4)}
	&.-col5-7  {width:calc(100%/7*5)}
	&.-col6-7  {width:calc(100%/7*6)}

	&.-col1-8  {width:calc(100%/8)}
	&.-col3-8  {width:calc(100%/8*3)}
	&.-col5-8  {width:calc(100%/8*5)}
	&.-col7-8  {width:calc(100%/8*7)}

	&.-col1-9  {width:calc(100%/9)}
	&.-col2-9  {width:calc(100%/9*2)}
	&.-col4-9  {width:calc(100%/9*4)}
	&.-col5-9  {width:calc(100%/9*5)}
	&.-col7-9  {width:calc(100%/9*7)}
	&.-col8-9  {width:calc(100%/9*8)}

	&.-col1-10  {width:calc(100%/10)}
	&.-col3-10  {width:calc(100%/10*3)}
	&.-col7-10  {width:calc(100%/10*7)}
	&.-col9-10  {width:calc(100%/10*9)}

	&.-col1-11  {width:calc(100%/11)}
	&.-col2-11  {width:calc(100%/11*2)}
	&.-col3-11  {width:calc(100%/11*3)}
	&.-col4-11  {width:calc(100%/11*4)}
	&.-col5-11  {width:calc(100%/11*5)}
	&.-col6-11  {width:calc(100%/11*6)}
	&.-col7-11  {width:calc(100%/11*7)}
	&.-col8-11  {width:calc(100%/11*8)}
	&.-col9-11  {width:calc(100%/11*9)}
	&.-col10-11 {width:calc(100%/11*10)}

	&.-col1-12 {width:calc(100%/12)}
	&.-col5-12 {width:calc(100%/12*5)}
	&.-col7-12 {width:calc(100%/12*7)}
	&.-col11-12 {width:calc(100%/12*11)}

	@media (--palm-or-gt) {
		&.-col0\@palm   {width:0;padding: 0}
		&.-col1\@palm   {width:100%}
		&.-colGold\@palm {width:calc(100%/1.61803)}

		&.-col1-2\@palm {width:50%}

		&.-col1-3\@palm {width:calc(100%/3)}
		&.-col2-3\@palm {width:calc(100%/3*2)}

		&.-col1-4\@palm {width:25%}
		&.-col3-4\@palm {width:75%}

		&.-col1-5\@palm {width:20%}
		&.-col2-5\@palm {width:40%}
		&.-col3-5\@palm {width:60%}
		&.-col4-5\@palm {width:80%}

		&.-col1-6\@palm {width:calc(100%/6)}
		&.-col5-6\@palm {width:calc(100%/6*5)}

		&.-col1-7\@palm {width:calc(100%/7)}
		&.-col2-7\@palm {width:calc(100%/7*2)}
		&.-col3-7\@palm {width:calc(100%/7*3)}
		&.-col4-7\@palm {width:calc(100%/7*4)}
		&.-col5-7\@palm {width:calc(100%/7*5)}
		&.-col6-7\@palm {width:calc(100%/7*6)}

		&.-col1-8\@palm  {width:calc(100%/8)}
		&.-col3-8\@palm  {width:calc(100%/8*3)}
		&.-col5-8\@palm  {width:calc(100%/8*5)}
		&.-col7-8\@palm  {width:calc(100%/8*7)}

		&.-col1-9\@palm  {width:calc(100%/9)}
		&.-col2-9\@palm  {width:calc(100%/9*2)}
		&.-col4-9\@palm  {width:calc(100%/9*4)}
		&.-col5-9\@palm  {width:calc(100%/9*5)}
		&.-col7-9\@palm  {width:calc(100%/9*7)}
		&.-col8-9\@palm  {width:calc(100%/9*8)}

		&.-col1-10\@palm  {width:calc(100%/10)}
		&.-col3-10\@palm  {width:calc(100%/10*3)}
		&.-col7-10\@palm  {width:calc(100%/10*7)}
		&.-col9-10\@palm  {width:calc(100%/10*9)}

		&.-col1-11\@palm  {width:calc(100%/11)}
		&.-col2-11\@palm  {width:calc(100%/11*2)}
		&.-col3-11\@palm  {width:calc(100%/11*3)}
		&.-col4-11\@palm  {width:calc(100%/11*4)}
		&.-col5-11\@palm  {width:calc(100%/11*5)}
		&.-col6-11\@palm  {width:calc(100%/11*6)}
		&.-col7-11\@palm  {width:calc(100%/11*7)}
		&.-col8-11\@palm  {width:calc(100%/11*8)}
		&.-col9-11\@palm  {width:calc(100%/11*9)}
		&.-col10-11\@palm {width:calc(100%/11*10)}

		&.-col1-12\@palm {width:calc(100%/12)}
		&.-col5-12\@palm {width:calc(100%/12*5)}
		&.-col7-12\@palm {width:calc(100%/12*7)}
		&.-col11-12\@palm {width:calc(100%/12*11)}
	}
	@media (--lap-or-gt) {
		&.-col0\@lap   {width:0;padding: 0}
		&.-col1\@lap   {width:100%}
		&.-colGold\@lap {width:calc(100%/1.61803)}

		&.-col1-2\@lap {width:50%}

		&.-col1-3\@lap {width:calc(100%/3)}
		&.-col2-3\@lap {width:calc(100%/3*2)}

		&.-col1-4\@lap {width:25%}
		&.-col3-4\@lap {width:75%}

		&.-col1-5\@lap {width:20%}
		&.-col2-5\@lap {width:40%}
		&.-col3-5\@lap {width:60%}
		&.-col4-5\@lap {width:80%}

		&.-col1-6\@lap {width:calc(100%/6)}
		&.-col5-6\@lap {width:calc(100%/6*5)}

		&.-col1-7\@lap {width:calc(100%/7)}
		&.-col2-7\@lap {width:calc(100%/7*2)}
		&.-col3-7\@lap {width:calc(100%/7*3)}
		&.-col4-7\@lap {width:calc(100%/7*4)}
		&.-col5-7\@lap {width:calc(100%/7*5)}
		&.-col6-7\@lap {width:calc(100%/7*6)}

		&.-col1-8\@lap  {width:calc(100%/8)}
		&.-col3-8\@lap  {width:calc(100%/8*3)}
		&.-col5-8\@lap  {width:calc(100%/8*5)}
		&.-col7-8\@lap  {width:calc(100%/8*7)}

		&.-col1-9\@lap  {width:calc(100%/9)}
		&.-col2-9\@lap  {width:calc(100%/9*2)}
		&.-col4-9\@lap  {width:calc(100%/9*4)}
		&.-col5-9\@lap  {width:calc(100%/9*5)}
		&.-col7-9\@lap  {width:calc(100%/9*7)}
		&.-col8-9\@lap  {width:calc(100%/9*8)}

		&.-col1-10\@lap  {width:calc(100%/10)}
		&.-col3-10\@lap  {width:calc(100%/10*3)}
		&.-col7-10\@lap  {width:calc(100%/10*7)}
		&.-col9-10\@lap  {width:calc(100%/10*9)}

		&.-col1-11\@lap  {width:calc(100%/11)}
		&.-col2-11\@lap  {width:calc(100%/11*2)}
		&.-col3-11\@lap  {width:calc(100%/11*3)}
		&.-col4-11\@lap  {width:calc(100%/11*4)}
		&.-col5-11\@lap  {width:calc(100%/11*5)}
		&.-col6-11\@lap  {width:calc(100%/11*6)}
		&.-col7-11\@lap  {width:calc(100%/11*7)}
		&.-col8-11\@lap  {width:calc(100%/11*8)}
		&.-col9-11\@lap  {width:calc(100%/11*9)}
		&.-col10-11\@lap {width:calc(100%/11*10)}

		&.-col1-12\@lap {width:calc(100%/12)}
		&.-col5-12\@lap {width:calc(100%/12*5)}
		&.-col7-12\@lap {width:calc(100%/12*7)}
		&.-col11-12\@lap {width:calc(100%/12*11)}
	}
	@media (--desk-or-gt) {
		&.-col0\@desk   {width:0;padding: 0}
		&.-col1\@desk   {width:100%}
		&.-colGold\@desk {width:calc(100%/1.61803)}

		&.-col1-2\@desk {width:50%}

		&.-col1-3\@desk {width:calc(100%/3)}
		&.-col2-3\@desk {width:calc(100%/3*2)}

		&.-col1-4\@desk {width:25%}
		&.-col3-4\@desk {width:75%}

		&.-col1-5\@desk {width:20%}
		&.-col2-5\@desk {width:40%}
		&.-col3-5\@desk {width:60%}
		&.-col4-5\@desk {width:80%}

		&.-col1-6\@desk {width:calc(100%/6)}
		&.-col5-6\@desk {width:calc(100%/6*5)}

		&.-col1-7\@desk {width:calc(100%/7)}
		&.-col2-7\@desk {width:calc(100%/7*2)}
		&.-col3-7\@desk {width:calc(100%/7*3)}
		&.-col4-7\@desk {width:calc(100%/7*4)}
		&.-col5-7\@desk {width:calc(100%/7*5)}
		&.-col6-7\@desk {width:calc(100%/7*6)}

		&.-col1-8\@desk  {width:calc(100%/8)}
		&.-col3-8\@desk  {width:calc(100%/8*3)}
		&.-col5-8\@desk  {width:calc(100%/8*5)}
		&.-col7-8\@desk  {width:calc(100%/8*7)}

		&.-col1-9\@desk  {width:calc(100%/9)}
		&.-col2-9\@desk  {width:calc(100%/9*2)}
		&.-col4-9\@desk  {width:calc(100%/9*4)}
		&.-col5-9\@desk  {width:calc(100%/9*5)}
		&.-col7-9\@desk  {width:calc(100%/9*7)}
		&.-col8-9\@desk  {width:calc(100%/9*8)}

		&.-col1-10\@desk  {width:calc(100%/10)}
		&.-col3-10\@desk  {width:calc(100%/10*3)}
		&.-col7-10\@desk  {width:calc(100%/10*7)}
		&.-col9-10\@desk  {width:calc(100%/10*9)}

		&.-col1-11\@desk  {width:calc(100%/11)}
		&.-col2-11\@desk  {width:calc(100%/11*2)}
		&.-col3-11\@desk  {width:calc(100%/11*3)}
		&.-col4-11\@desk  {width:calc(100%/11*4)}
		&.-col5-11\@desk  {width:calc(100%/11*5)}
		&.-col6-11\@desk  {width:calc(100%/11*6)}
		&.-col7-11\@desk  {width:calc(100%/11*7)}
		&.-col8-11\@desk  {width:calc(100%/11*8)}
		&.-col9-11\@desk  {width:calc(100%/11*9)}
		&.-col10-11\@desk {width:calc(100%/11*10)}

		&.-col1-12\@desk {width:calc(100%/12)}
		&.-col5-12\@desk {width:calc(100%/12*5)}
		&.-col7-12\@desk {width:calc(100%/12*7)}
		&.-col11-12\@desk {width:calc(100%/12*11)}
	}
}

/***** Grid Object Inside CMS Content
 */
/* .s-cmsContent.o-rustygrid{ */
/* 	padding-block-end: 1rem; */
/* } */
/* .s-cmsContent.o-rustygrid:not(.-viewMasonry) .o-rustygrid__item { */
/* 	display: block; */
/* 	max-width: 44em;/1* opinionated *1/ */
/* 	margin: auto; */
/* } */

.-cornerRounded .--noGutter .c-card {/* opinionated */
	border-radius: 0;
}
