---
layout: default
---


{{ content }}

<div class="c-frame --typeMedia -themeRainbow">
	<div class="c-frame__info">
		<h1>uptown funk but every other beat is missing</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
	<div class="c-frame__content">
			<div class="intrinsicContainer ratio16-9">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/FDCMMtY3uTk?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
	</div>
</div>
