---
layout: default
---


{{ content }}

<div class="c-frame">
	<div class="o-grid --alignCenter">
		<div class="o-grid__item -col5-6 -col2-5@palm">
			<h1>A "frame" with media content</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div><!--
		--><div class="o-grid__item -col5-6 -col3-5@palm">
			<div class="intrinsicContainer ratio16-9">
				<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/w_MSFkZHNi4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
