<!DOCTYPE html>
<html
	lang=en
	dir=ltr
	class="t-color t-modRoot"
	data-theme=dark
	prefix="og: http://ogp.me/ns#">
	<include src='meta/head.html'>{
		"title":"Post - Article",
		"description": "Single-column minimal page for article posts"
	}</include>
	<body
		class="js-preload _stickyFooter t-modBody o-stack"
		itemscope itemtype="https://schema.org/WebPage"
		>
		<a style="z-index:9999;text-decoration:none;position:absolute;top:0" class="o-box u-visuallyHidden" tabindex=0 href=#content><b>Skip to the content</b> (Enter ↩︎)</a>
		<a style="z-index:9999;text-decoration:none;position:absolute;top:0" class="o-box u-visuallyHidden" tabindex=0 href="mailto:&#97;&#101;&#103;&#101;&#97;&#110;&commat;&#100;&#117;&#99;&#107;&period;&#99;&#111;&#109;?subject=Feedback%20About%20Accessibility"><b>Send feedback about accessibility</b> (Enter ↩︎)</a>
		<include src='part/header.html'></include>
		<main id=content class=s-cmsContent aria-label=Content itemprop=mainContentOfPage>
			<article class="o-box -viewCard o-center" itemscope itemtype="https://schema.org/BlogPosting">
				<hgroup class=c-header>
					<h5 class="o-box__meta -alignStart@wrist-gt" alt="Thu Jan 18 2019 12:00:00 GMT+0000 (GMT+00:00)">
						<time datetime=2019-01-18 itemprop=datePublished>Jan 18, 2019</time>
					</h5>
					<h6 class="o-box__meta -alignEnd@wrist-gt" itemprop=keywords>
						Ethics, Communication, Question
					</h6>
					<h1 class=o-box__title>
						Don't ask to ask, just ask
					</h1>
				</hgroup>
				<section itemprop=articleBody>
					<p>
					Every now and then, in online chat rooms I hang around in, someone pops
					in and says something in the lines of,
					</p>
					<blockquote>
					<span class="name">Foobar123:</span>
					<p class="message">
						Any Java experts around?
					</p>
					</blockquote>
					<p>
					This is bad form, for several reasons. What the person is
					<em>actually</em> asking here is,
					</p>
					<blockquote>
					<span class="name">Foobar123:</span>
					<p class="message">
						Any Java experts around who are willing to commit into looking into my
						problem, whatever that may turn out to be, even if it's not actually
						related to Java or if someone who doesn't know anything about Java
						could actually answer my question?
					</p>
					</blockquote>
					<p>
					There are plenty of reasons why people who DO have the knowledge would
					not admit to it. By asking, you're asking for more than what you think
					you're asking.
					</p>
					<p>
					You're asking people to take responsibility. You're questioning people's
					confidence in their abilities. You're also unnecessarily walling other
					people out. I often answer questions related to languages or libraries I
					have never used, because the answers are (in a programmer kind of way)
					common sense.
					</p>
					<p>
					Alternatively, it can be seen as..
					</p>
					<blockquote>
					<span class="name">Foobar123:</span>
					<p class="message">
						I have a question about Java but I'm too lazy to actually formalize it
						in words unless there's someone on the channel who might be able to
						answer it
					</p>
					</blockquote>
					<p>
					..which is just lazy. If you're not willing to do the work to solve your
					problem, why should we?
					</p>
					<p>
					The solution is not to ask to ask, but just to ask. Someone who is idling
					on the channel and only every now and then glances what's going on is
					unlikely to answer to your "asking to ask" question, but your actual
					problem description may pique their interest and get them to answer.
					</p>
					<p>
					So, to summarize, don't ask
					<em>"Any Java experts around?"</em>,
					but rather ask
					<em>"How do I do [problem] with Java and [other relevant info]?"</em>
					</p>
					<p>
					Other similar problems: <a href="https://xyproblem.info/">The XY Problem</a>, <a href="https://nohello.net/">No Hello</a>.
					Further reading: <a href="https://stackoverflow.com/help/how-to-ask">How do I ask a good question?</a>,
					or if you have more time: <a href="http://catb.org/~esr/faqs/smart-questions.html">How To Ask Questions The Smart Way</a>.
					</p>
				</section>
				<a class=url itemprop=url href=/layout/blog-article/ hidden=""></a>
			</article>
		</main>
		<include src='part/footer.html'></include>
	<!-- </div> --> <!-- end of c-bodygrid -->
	<include src='part/extra-background.html'></include>
	<include src='meta/script.html'></include>
</body>
</html>
