<!DOCTYPE html>
<html
	lang=en
	dir=ltr
	class="t-color t-modRoot"
	data-theme=dark
	prefix="og: http://ogp.me/ns#">
	<include src='meta/head.html'>{
		"title":"Post - Photo Post",
		"description": "Single-column/full-screen minimal page for high resolution photo"
	}</include>
	<body
		class="js-preload _stickyFooter t-modBody o-stack"
		itemscope itemtype="https://schema.org/WebPage"
		>
		<!-- 🗨️ Screen Reader Notice -->
		<include src='part/screen-reader-notice.html'></include>
		<div class="c-bodygrid -typeArticle">
		<include src='part/header.html'></include>
		<main id=content class=s-cmsContent aria-label=Content>
			<article class="o-box -viewCard o-center" itemscope itemtype=https://schema.org/CreativeWork>
				<header class="c-header">
					<!-- <img class="noLazy" sizes="(min-width: 120em) 480px, (min-width: 100em) 25vw, (min-width: 80em) 33.3vw, (min-width:60em) 50vw, (min-width:40em) 66.6vw, 100vw" srcset="https://picsum.photos/1920 1920w, https://picsum.photos/1280 1280w, https://picsum.photos/960 960w, https://picsum.photos/640 640w"/> -->
					<!-- <img srcset="/static/asset/filler/resp/1920.webp 1920w, /static/asset/filler/resp/1280.webp 1280w, /static/asset/filler/resp/960.webp 960w, /static/asset/filler/resp/640.webp 640w"/> -->
					<h6 class="o-box__meta -alignStart@wrist-gt">
						<time datetime="2015-08-19" itemprop=datePublished>August 19th, 2015</time> • <span itemprop=commentCount>2</span> Comments • Edit
					</h6>
					<h6 class="o-box__meta -alignEnd@wrist-gt" itemprop=keywords>
						Meaningless, Filler, Categories
					</h6>
					<h2 class=o-box__title>
						Post Example with Featured Image
					</h2>
				</header>
				<section itemscope itemprop=https://schema.org/Photograph style="border-radius:var(--radiusDefault);overflow:hidden;margin-inline:auto;display:block;width:100%;background-color:var(--colorBack)">
					<img style=margin-inline:auto;display:block srcset="//picsum.photos/1920 1920w, //picsum.photos/1280 1280w, //picsum.photos/960 960w, //picsum.photos/640 640w" itemprop=primaryImageOfPage>
				</section>
				<section itemprop=text>
				<md>
				**A person who doesn't** make *any mistake* is ``a person`` who doesn't do anything. And biggest mistake in the world is to thought you're perfect.

				I think we really should give a crap to these idioms, especially when I type meaningless paragraphs like these, I see a reason to explain [this](//google.com) sometimes. Thanks to me, I stretched my fingers a little and I am typing really something random things right now instead of being too lazy to copy-paste from Lorem Ipsum generators. Probably, this is should be longest sentence of the existence. I can't understand but that's really is.
				</md>
				<img class=alignleft src=//picsum.photos/128>
				<md>
		So let's try to type longest paragraph of the world. To ease the process of breaking record I will make a list of names of all prime ministers irrelevently in here. Of course, I am too lazy to not remember name of prime ministers so I can make up this list. Let's see!
- John Jonathan
- Anne Anderson
- Jake Jackathon
- Michel Michelson

				</md>
				</section>
				<a class=url itemprop=url href=/layout/blog-photo/ hidden=""></a>
				<footer class=o-box__footer>
					<ul class="c-nav -layoutHorizontal -typeTag" itemprop=keywords>
						<span class=c-nav__item><b>Tags:</b></span>
						<li class=c-nav__item><a class=c-nav__anchor href=#!>FusionFall</a></li>
						<li class=c-nav__item><a class=c-nav__anchor href=#!>Fortnite</a></li>
						<li class=c-nav__item><a class=c-nav__anchor href=#!>Minecraft</a></li>
					</ul>
				</footer>
				<a class=url itemprop=url href=/layout/blog-photo/ hidden=""></a>
			</article>
		</main>
		<include src='part/footer.html'></include>
	</div> <!-- end of c-bodygrid -->
	<include src='part/extra-background.html'></include>
	<include src='meta/script.html'></include>
</body>
</html>
