---
title: "404 Not Found"
layout: default
permalink: '/404.html'
hidden: true
append-class-to-root: "-stylesetAcetate -borderValNone"
---
<section aria-label="Content" class="o-box -viewCard o-center">
	<div style="text-align:center">
		<h1>404</h1>
		<svg width="18" class="pi -size4x" viewBox="0 0 18 18"><use href="/pi.svg#general-bench"></use></svg>
		<p><strong>So that number says current page is in fact, doesn't exist. </strong></p>
	</div>
	<p>If you're looking for a specific content in this website:</p>
	<ul>
		<li>Check <label for=toggleNav-000 onclick>the menu</label>.</li>
		<li>Type "<code>site:example.com search phrase</code>" in the search bar. (<a href="//duck.com/lite?q=site:example.com+search+phrase" target="_blank">DuckDuckGo</a>, <a href="//bing.com/?q=site:example.com+search+phrase" target="_blank">Bing</a>, <a href="//kagi.com/search?q=site:example.com+search+phrase" target="_blank">Kagi</a> or <a href="//google.com/search?q=site:example.com+search+phrase" target="_blank">Google</a>)</li>
		<li>If the page is missing, browse older snapshots of the page you're looking for in archives like <a href="https://web.archive.org/" target="_blank">The Internet Archive</a> or <a href="https://archive.md/" target="_blank">archive.today</a>.</li>
		{% comment %} TODO: Add a search bar here later {% endcomment %}
	</ul>
</section>
