:root{
	/* Note: Text color is too saturated, a few colors missing */
	--red:     #ED2F74;
	--orange:  #F79524;
	--yellow:  #E4DA74;
	--green:   #a6cd39;
	--blue:    #71cce4;
	--violet:  #9680bb;

	--baseColor: #272822;
	--textColor: #76725F;
	--textColorBolder: #BFB899;
	--backColor: color-mod(var(--baseColor) l(-3%));
	--deepColor: #000;
	--accentColor: var(--green);

	--foreColor: #31322C;
	--foreColorBrighter: #49483E;

	--accentColorBrighter: color-mod(var(--accentColor) lightness(+20%));
	--accentColorBrighterTranslucent: color-mod(var(--accentColor) lightness(+20%) a(60%));

	--textColorTranslucent: color-mod(var(--textColor) a(.4));
	--textColorTransparent: color-mod(var(--textColor) a(.2));

	--linkColorVisited: color-mod(var(--accentColor) saturation(+20%));
	--linkColorDead: var(--red);
	--linkColorActive: var(--accentColorBrighter);
}
