:root{
	--red:#dc322f;
	--orange:#cb4b16;
	--yellow:#b58900;
	--green:#859900;
	--cyan:#2aa198;
	--blue:#268bd2;
	--violet:#6c71c4;
	--magenta:#d33682;
	--base03:#002b36;
	--base02:#073642;
	--base01:#586e75;
	--base00: #657b83;
	--base0:#839496;
	--base1:#93a1a1;
	--base2:#eee8d5;
	--base3:#fdf6e3;

	/* Day */
	/* --baseColor: var(--base2); */
	/* --textColor: var(--base01); */
	/* --textColorBolder: var(--base02); */
	/* --backColor: color-mod(var(--baseColor) l(-10%)); */

	/* Dark */
	--baseColor: var(--base03);
	--textColor: var(--base00);
	--textColorBolder: var(--base0);
	--backColor: color-mod(var(--baseColor) l(-3%));

	/*---------*/

	--deepColor: color-mod( var(--baseColor) l(-60%));

	--foreColor: color-mod( var(--baseColor) l(+3%));
	--foreColorBrighter: color-mod( var(--baseColor) l(+5%));

	--textColorTranslucent: color-mod(var(--textColor) a(.4));
	--textColorTransparent: color-mod(var(--textColor) a(.2));

	--accentColor: var(--blue);
	--accentColorBrighter: color-mod(var(--accentColor) lightness(+20%));
	--accentColorBrighterTranslucent: color-mod(var(--accentColor) lightness(+20%) a(60%));

	--linkColorVisited: color-mod(var(--accentColor) saturation(+20%));
	--linkColorDead: var(--red);
	--linkColorActive: var(--accentColorBrighter);
}
