/* This grid system based on CSS Wizardry Grids */
/* Source: https://github.com/csswizardry/csswizardry-grids/blob/master/csswizardry-grids.scss */

.s-cmsContent.o-grid{
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 72em;
}

.o-grid {
	margin: auto;
	padding-right: var(--gridGutter);
	max-width: var(--maxContentWidth);

	&.--noGutter {
		padding-right: 0;
		.o-grid__item {
			padding-left: 0;
		}
	}

	&.--alignRight {
		text-align: right;
		> .o-grid__item {
			text-align: left
		}
	}
	&.--alignCenter {
		text-align: center;
		> .o-grid__item {
			text-align: left
		}
	}
	&.--alignBottom > .o-grid__item {
		vertical-align: bottom;
	}
	&.--alignMiddle > .o-grid__item {
		vertical-align: middle;
	}
	hr {
		width: 100%
	}
	& .c-card {
		margin-bottom: 1em
	}
	.o-grid__item {
		display: inline-block;
		vertical-align: top;
		padding-left: var(--gridGutter);
		width: 100%;

		&.-col12   {width:100%}

		&.-col1-2  {width:50%}

		&.-col1-3  {width:33.333%}
		&.-col2-3  {width:66.666%}

		&.-col1-4  {width:25%}
		&.-col3-4  {width:75%}

		&.-col1-5  {width:20%}
		&.-col2-5  {width:40%}
		&.-col3-5  {width:60%}
		&.-col4-5  {width:80%}

		&.-col1-6  {width:16.666%}
		&.-col5-6  {width:83.333%}

		&.-col1-7  {width:14.285%}
		&.-col2-7  {width:28.571%}
		&.-col3-7  {width:42.857%}
		&.-col4-7  {width:57.142%}
		&.-col5-7  {width:71.428%}
		&.-col6-7  {width:85.714%}

		&.-col1-12 {width:8.333%}
		&.-col5-12 {width:41.666%}
		&.-col7-12 {width:58.333%}

		@media (--palm) {
			width: 100%;
			&.-col12\@palm   {width:100%}

			&.-col1-2\@palm  {width:50%}

			&.-col1-3\@palm  {width:33.333%}
			&.-col2-3\@palm  {width:66.666%}

			&.-col1-4\@palm  {width:25%}
			&.-col3-4\@palm  {width:75%}

			&.-col1-5\@palm  {width:20%}
			&.-col2-5\@palm  {width:40%}
			&.-col3-5\@palm  {width:60%}
			&.-col4-5\@palm  {width:80%}

			&.-col1-6\@palm  {width:16.666%}
			&.-col5-6\@palm  {width:83.333%}

			&.-col1-7\@palm  {width:14.285%}
			&.-col2-7\@palm  {width:28.571%}
			&.-col3-7\@palm  {width:42.857%}
			&.-col4-7\@palm  {width:57.142%}
			&.-col5-7\@palm  {width:71.428%}
			&.-col6-7\@palm  {width:85.714%}

			&.-col1-12\@palm {width:8.333%}
			&.-col5-12\@palm {width:41.666%}
			&.-col7-12\@palm {width:58.333%}
		}
		@media (--lap) {
			width: 100%;
			&.-col12\@lap   {width:100%}

			&.-col1-2\@lap  {width:50%}

			&.-col1-3\@lap  {width:33.333%}
			&.-col2-3\@lap  {width:66.666%}

			&.-col1-4\@lap  {width:25%}
			&.-col3-4\@lap  {width:75%}

			&.-col1-5\@lap  {width:20%}
			&.-col2-5\@lap  {width:40%}
			&.-col3-5\@lap  {width:60%}
			&.-col4-5\@lap  {width:80%}

			&.-col1-6\@lap  {width:16.666%}
			&.-col5-6\@lap  {width:83.333%}

			&.-col1-7\@lap  {width:14.285%}
			&.-col2-7\@lap  {width:28.571%}
			&.-col3-7\@lap  {width:42.857%}
			&.-col4-7\@lap  {width:57.142%}
			&.-col5-7\@lap  {width:71.428%}
			&.-col6-7\@lap  {width:85.714%}

			&.-col1-12\@lap {width:8.333%}
			&.-col5-12\@lap {width:41.666%}
			&.-col7-12\@lap {width:58.333%}
		}
	}
}
