{%- include "part/extra-background" -%}

<footer class="o-box o-center" aria-label=Main>
	<small style="text-align: center;display:block;">
		<a href=//github.com/username>GitHub</a> | <a href=//instagram.com/username>Instagram</a> | <a href=//mastodon.social/@username>Mastodon</a>
		<br>
		<a href="//github.com/egeesin/pxl">Source</a> • <a href="//pxl.egeesin.com/">Demo</a> • <a href="//github.com/egeesin/pxl/blob/main/LICENSE" itemprop=license>License</a> • <span title="The year everything started for me." itemprop=dateCreated>2008</span>—<span title="Last updated" itemprop=dateModified>{{ 'now' | date: '%Y' }}</span>
	</small>
</footer>
