{%- include "part/extra-background" -%}

<footer class="o-box o-center" aria-label=Main>
	<small style="text-align: center;display:block;">
		<a href=//github.com/{{ site.author.github }}>GitHub</a> | <a href=//instagram.com/{{ site.author.instagram }}>Instagram</a> | <a href=//mastodon.social/{{ site.author.mastodon}}>Mastodon</a>
		<br>
		<a href="//github.com/egeesin/pxl">Source</a> • <a href="//github.com/egeesin/pxl/blob/main/LICENSE" itemprop=license>License</a> • <span title="Last updated" itemprop=dateModified>{{ 'now' | date: '%Y' }}</span>
	</small>
</footer>
