<!--ðŸ—¨ï¸ Screen Reader Notice -->
<a 
	href=#content
	class="o-box u-visuallyHidden"
	style="z-index:9999;text-decoration:none;position:absolute;top:0"
	tabindex=0
	>
	<b>Skip to the content</b> (Enter â†©ï¸Ž)
</a>
{%- if site.author.email -%}
<a
	href="mailto:{{ site.author.email | escape }}?subject=Feedback%20About%20Accessibility"
	class="o-box u-visuallyHidden"
	style="z-index:9999;text-decoration:none;position:absolute;top:0"
	tabindex=0
	>
	<b>Send feedback about accessibility</b> (Enter â†©ï¸Ž)
</a>
{%- endif -%}
