<!--ðŸ—¨ï¸ Screen Reader Notice -->
<a 
	href=#content
	class="o-box u-visuallyHidden"
	style="z-index:9999;text-decoration:none;position:absolute;top:0"
	tabindex=0
	>
	<b>Skip to the content</b> (Enter â†©ï¸Ž)
</a>
<a
	href="mailto:&#97;&#101;&#103;&#101;&#97;&#110;&commat;&#100;&#117;&#99;&#107;&period;&#99;&#111;&#109;?subject=Feedback%20About%20Accessibility"
	class="o-box u-visuallyHidden"
	style="z-index:9999;text-decoration:none;position:absolute;top:0"
	tabindex=0
	>
	<b>Send feedback about accessibility</b> (Enter â†©ï¸Ž)
</a>
