/*****
 * Font sizes based on modular scale values and
 * compatible vertical rhythm metrics
 */

/* Vertical rhythm, offsetting type:
 * https://www.smashingmagazine.com/2012/12/css-baseline-the-good-the-bad-and-the-ugly/#the-ugly-offsetting-type
 */

/* Note: I used mixins here instead of extends because of the compression delta. (facsst) */
@define-mixin fontSize1 {
	font-size: var(--typeScale3); /* 32,929px */
	--lineHeight: calc(5 * var(--rhythmUnit)); /* 40px */
	line-height: var(--lineHeight); /* 40px */
	--iconSize: var(--typeScale3);
	/* Total height: 40px */

	/* TODO: Lines below doesn't work with postcss-calc (cssnano).
	 * Even in the docs says otherwise, there's no way to disable this in cssnano.
	 * Need to test this in a separate test repo later. */
	/* padding-top: calc((5 * var(--rhythmUnit) - 1ex) / 2.4); */ 
	/* padding-bottom: calc(var(--lineHeight) - calc(((5 * var(--lineHeight)) - 1ex) / 2.4)); */
}
@define-mixin fontSize2 {
	font-size: var(--typeScale2); /* 25,8877px */
	--lineHeight: calc(var(--rhythmUnit) * 4); /* 32px */
	line-height: var(--lineHeight); /* 40px */
	padding-block: calc(var(--rhythmUnit) / 2);
	--iconSize: var(--typeScale2);
	/* Total height: 40px */
}
@define-mixin fontSize3 {
	font-size: var(--typeScale1); /* 20,352px */
	--lineHeight: calc(var(--rhythmUnit) * 3); /* 24px */
	line-height: var(--lineHeight); /* 40px */
	padding-block: calc(var(--rhythmUnit) / 2);
	--iconSize: var(--typeScale1);
	/* Total height: 32px */
}
@define-mixin fontSize4 {
	font-size: var(--typeScaleBase);
	--lineHeight: calc(var(--rhythmUnit) * 3); /* 24px */
	line-height: var(--lineHeight); /* 40px */
	padding-block: calc(var(--rhythmUnit) / 2);
	--iconSize: var(--typeScaleBase);
	/* Total height: 32px */
}
@define-mixin fontSize5 {
	font-size: var(--typeScale-1); /* 12,578px */
	--lineHeight: calc(var(--rhythmUnit) * 2); /* 16px */
	line-height: var(--lineHeight); /* 40px */
	padding-block: calc(var(--rhythmUnit) / 2);
	--iconSize: var(--typeScale-1);
	/* Total height: 24px */
}
@define-mixin fontSize6 {
	font-size: var(--typeScale-2); /* 9,888px */
	--lineHeight: calc(var(--rhythmUnit) * 2); /* 16px */
	line-height: var(--lineHeight); /* 40px */
	padding-block: 0;
	--iconSize: var(--typeScale-2);
	/* Total height: 16px */

	@media (--wrist-or-lt) {
		@mixin fontSize5;
		/* opinionated */
		text-transform: uppercase;
		letter-spacing: 1px;
		--fontWeight: 700;
		/* opinionated */
	}
}

@define-mixin wrongCombination {
	position: relative !important;
	display: block !important;
	height: 120px !important;
	&:after {
		z-index: 9999;
		position: absolute;
		top: 0;
		left: 0;
		content: "This combination doesn't supported and look good.";
		--fontWeight: 700;
		font-variation-settings: "wght" 700;
		text-align: center;
		width: 100%;
		height: 100%;
		line-height: 100%;
		background-color: brown;
		color: #fff;
	}
}

