.u-clearFix:after{
	content:"";
	clear: both;
	display: table;
}
.u-unselectable *:not(a) .u-unselectable, .u-unselectable:not(a) {
	user-select: none;
	-webkit-user-drag: none;
	-webkit-touch-callout: none;
}
*:not(a) .u-unselectable, .u-unselectable:not(a) {
	pointer-events: none;
}


.u-sr-only {
/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	/* 1 */
	/* &:active, &:focus, &:focus-visible { */
	&:active, &:focus-visible{
	/*
	* Extends the .u-sr-only class to allow the element
	* to be focusable when navigated to via the keyboard:
	* https://www.drupal.org/node/897638
	*/
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		white-space: inherit;
		/* white-space: normal; */
		width: auto;
	}
}

/* Force to disable transition */
.u-transitionNone{
	transition: none !important;
	animation: none !important;
	*, *:before, *:after {
		transition: none !important;
		animation: none !important;
	}
}

@media print {
	.u-hidden\@print {
		display: none;
	}
}

@media (--lap-or-gt) {
	.u-hidden\@lap {
		display: none;
	}
}

.u-sticky {
	position: sticky;
}
@media (--palm-or-gt) {
	.u-sticky\@palm {
		position: sticky;
	}
}
@media (--lap-or-gt) {
	.u-sticky\@lap {
		position: sticky;
	}
}
.s-healthCheck {
	[class] {
	/**
	 * Outline all classes.
	 */
		outline: 5px solid lightgrey;
	}

	/**
	 * Outline all BEM Elements.
	 */
	[class*="__"] {
		outline: 5px solid grey;
	}

	/**
	 * Outline all BEM Modifiers.
	 */
	/* [class*="--"] { */
	/* 	outline: 5px solid darkgrey; */
	/* } */

	/**
	 * Outline all Object classes.
	 */
	[class^="o-"],
	[class*=" o-"] {
		outline: 5px solid orange;
	}

	/**
	 * Outline all Component classes.
	 */
	[class^="c-"],
	[class*=" c-"] {
		outline: 5px solid cyan;
	}

	/**
	 * Outline all Responsive classes.
	 */
	[class*="@"] {
		outline: 5px solid rosybrown;
	}

	/**
	 * Outline all Hack classes.
	 */
	[class^="_"] {
		outline: 5px solid red;
	}
}
