<include src='includes/page-header.html' locals='{
         "title":"Tables"
}'></include>

<main id=content class="s-cmsContent u-clearFix o-rustygrid --alignCenter" aria-label=Content>
	<div class="o-rustygrid__item -col1 -col2-3@palm">
		<article class="c-card --typePost">
			<header class="c-card__header c-header">
				<h1 class=c-card__title itemprop=heading>Tables</h1>
			</header>
		<table>
			<caption>Tables can have captions now.</caption>
			<tbody>
			<tr>
				<th>Person</th>
				<th>Number</th>
				<th>Third Column</th>
			</tr>
			<tr>
				<td>Someone Lastname</td>
				<td>900</td>
				<td>Nullam quis risus eget urna mollis ornare vel eu leo.</td>
			</tr>
			<tr>
				<td><a href=#!>Person Name</a></td>
				<td>1200</td>
				<td>Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla.</td>
			</tr>
			<tr>
				<td>Another Person</td>
				<td>1500</td>
				<td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit.</td>
			</tr>
			<tr>
				<td>Last One</td>
				<td>2800</td>
				<td>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</td>
			</tr>
			</tbody>
		</table>
		<table class="--rowZebra">
			<caption>Tables can have captions now.</caption>
			<tbody>
			<tr>
				<th>Person</th>
				<th>Number</th>
				<th>Third Column</th>
			</tr>
			<tr>
				<td>Someone Lastname</td>
				<td>900</td>
				<td>Nullam quis risus eget urna mollis ornare vel eu leo.</td>
			</tr>
			<tr>
				<td><a href=#!>Person Name</a></td>
				<td>1200</td>
				<td>Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla.</td>
			</tr>
			<tr>
				<td>Another Person</td>
				<td>1500</td>
				<td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit.</td>
			</tr>
			<tr>
				<td>Last One</td>
				<td>2800</td>
				<td>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</td>
			</tr>
			</tbody>
		</table>
		<div class="c-container__table-headerStickyBoth">
			<table class="--headerStickyBoth">
				<caption>Tables can have captions now.</caption>
				<thead>
					<tr>
					<th></th>
					<th>A</th>
					<th>B</th>
					<th>C</th>
					<th>D</th>
					<th>E</th>
					<th>F</th>
					<th>G</th>
					<th>H</th>
					<th>I</th>
					<th>J</th>
					<th>K</th>
					<th>L</th>
					<th>M</th>
					<th>N</th>
					<th>O</th>
					<th>P</th>
					<th>Q</th>
					<th>R</th>
					<th>S</th>
					<th>T</th>
					<th>U</th>
					<th>V</th>
					<th>W</th>
					<th>X</th>
					<th>Y</th>
					<th>Z</th>
					</tr>
				</thead>
				<tbody>
					<tr>
					<td>Anna</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					</tr>
					<tr>
					<td>James</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					<td>2</td>
					</tr>
					<tr>
					<td>Jennifer</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					<td>3</td>
					</tr>
					<tr>
					<td>Jeremiah</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					<td>4</td>
					</tr>
					<tr>
					<td>Jocelyn</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					<td>5</td>
					</tr>
					<tr>
					<td>Benjamin</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					<td>6</td>
					</tr>
					<tr>
					<td>Zed</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					<td>7</td>
					</tr>
				<tr>
					<td>Frank</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					<td>8</td>
					</tr>
				<tr>
					<td>Chris</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					<td>9</td>
					</tr>
				<tr>
					<td>Sarah</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					<td>10</td>
					</tr>
				<tr>
					<td>Rob</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					<td>11</td>
					</tr>
				<tr>
					<td>Danielle</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					<td>12</td>
					</tr>
				<tr>
					<td>Jessica</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					<td>13</td>
					</tr>
				</tbody>
			</table>
		</div>
		</article>
	</div>
</main>

<include src='includes/page-footer.html'></include>
