/***** Card Component
 */
.c-card {
	overflow: hidden;
	overflow-wrap: break-word;
	width: 100%;
	position: relative;
	background-color: var(--colorBase);

	padding: var(--c-card-padTop) var(--c-card-padSide) var(--c-card-padBottom);

	margin-block-end: 1rem;
	/* This might be redundant when parent element is grid/flexbox and has gap value. */

	/* background-clip: content-box; */
	/* opinionated */
	background-size: cover;
	/* /opinionated */

	/* Responsive Square */
	/* &.--viewSquare { */
	/* 	--size:240px; */
	/* 	padding: .75em; */
	/* 	position: relative; */
	/* 	width: calc(var(--size) / 2 ); */
	/* 	&:after{ */
	/* 		content: ""; */
	/* 		display: block; */
	/* 		padding-bottom: var(-- size); */
	/* 	} */
	/* 	> .inner { */
	/* 		position: absolute; */
	/* 		width: var(--size); */
	/* 		height: var(--size); */
	/* 	} */

	/* } */

	.o-rustygrid:not(.-viewMasonry) &.--typePost {
		@media (--lap-or-gt) {
			/* Bigger gaps inside card in a single post with bigger screen. */
			--c-card-padTop: calc(var(--rhythmUnit)*2);
			--c-card-padSide: 2rem;
			--c-card-padBottom: calc(var(--rhythmUnit)*3);
		}
	}

/*** Card Component with Photo Content
 */
	&.--typePhoto {
		/* padding: 0 var(--c-card-padSide) 0; */
		padding-block: 0;
		*:not(img):last-child {
			margin-block-end: var(--c-card-padBottom);
		}
		> img {
			position: relative;
			inset-inline-start: calc(var(--c-card-padSide) * -1);
			max-width: calc( var(--c-card-padSide) * 2 + 100%);
		}
	}

/*** Card Component inside Masonry Grid
 */
	/*Parent classes*/
	.o-rustygrid.-viewMasonry & {
		margin: 0;
		@media (--lap-or-gt) {
			&.--typePhoto {
				padding-block-end:0;
			}
		}
		&:focus-within {
			outline: 2px solid var(--colorAccent);
		}

		@media (--lap-or-gt) {
			.c-card.--typePost img {
				max-height: 40vh;
			}
		}
	}

	/*---Parent classes*/
	/* & + & { */
	/* 	margin-top: 2em; */
	/* } */
	& + hr {
		margin: 0;
		padding: 0;
		background-color: transparent;
		display: block;
		width: 100%;
		height: 2rem;
		border: 0;
		/* grid-column: 12 / 1; */
	}
	&__footer {
		a {
			color: currentColor;
			text-decoration: none;

		}
	}
}

/*** Card Component inside Rounded Corner Theme Modifier
 */
.-cornerRoundedTiny .c-card {
	border-radius: var(--radiusS);
}
:is(.-cornerRounded, .-cornerRoundedInner) .c-card {
	border-radius: var(--radiusL);
}
/* opinionated */
.-cornerRoundedInner .c-card :is(img,iframe,embed,video,audio,object){
	border-radius: var(--radiusS);
}
/* -opinionated */


/*** Header Component inside Card Component
 */
/* ^^ That's really a hard code but nice looking edit */
/* *:not(.o-rustygrid.-viewMasonry) > .o-rustygrid__item */
*:not(.-viewMasonry) > .js-posts .o-rustygrid__item{
	.c-card .c-header.-viewMedia {
		/* padding-bottom: 40%; */
		padding-bottom: 30%;
		@media (--palm-or-gt) {
		/* 16:9 Space */
			/* padding-bottom: 56.25%; */
			/* padding-bottom: calc(9 / 16 * 100)% */

			/* padding-bottom: 46.25%; */
			padding-bottom: calc(9 / 16 * 100 - 10)%
		}
		@media (--lap-or-gt) {
		/* 21:9 Ultra Wide Space */
			/* padding-bottom: 42.85%; */
			/* padding-bottom: 32.85%; */
			padding-bottom: calc(9 / 21 * 100 - 10)%
		}
	}
	.c-card.--typePhoto .c-header.-viewMedia {
		padding-bottom: 60%;
		@media (--palm-or-gt) {
			padding-bottom: 60%;
		}
		/* @media (--lap-or-gt) { */
		/* 	padding-bottom: 60%; */
		/* } */
	}
}

/*** Header Component with Media View inside Card Component
 */
	/* I want to get rid of -viewMedia class once :has support is globally available for the majority (including Firefox) */
.c-card .c-header.-viewMedia {
	/* Override parent(c-card) gap */
	width: calc( var(--c-card-padSide) * 2 + 100% );
	inset-block-start: calc( var(--c-card-padTop) * -1);
	inset-inline-start: calc( var(--c-card-padSide) * -1);
	/* Square Space */
	/* padding-bottom: 33%; */
	padding-block-end: 23%;
	margin-block-start: 0;

	/* Overriding/inheriting padding data
	 * from Card component
	 * over Header component */
	padding-inline: var(--c-card-padSide);
	/* INFO: This one ^ might supposed to have higher specifity before, check if works properly... */

	/* .o-rustygrid:not(.-viewMasonry) > .o-rustygrid__item & { */
	/* *:not(.-viewMasonry) > .o-rustygrid__item & { */
	*:not(.-viewMasonry) > .js-posts .o-rustygrid__item & {
		@media (--desk-or-gt) {
			/* width: calc( 4rem + 100% ); */
			width: calc( var(--c-crad-padSide)*4 + 100% );
			inset-inline-start: calc( var(--c-card-padSide) * -2);
		}
	}
	> img {
		/* Prevent image inside header section unselectable and draggable */
		user-select: none;
		-webkit-user-drag: none;
		-webkit-touch-callout: none;
		/* transition: transform 4s cubic-bezier(.08,.82,.17,1); */
		/* transform-origin: 50% 25%; */
	}
	/* &:hover img{ */
	/* 	transform: scale(1.1); */
	/* } */
	.c-card__meta {
		inset-block-start: var(--c-card-padTop);
	}
	/* .c-card__title { */
	/* 	position: absolute; */
	/* 	bottom:0; */
	/* } */
	:is(h4,h5,h6).c-card__meta {
		--fontWeight: 900;
	}
}
.c-card.--typePhoto .c-header.-viewMedia {
	padding-block-end: 60%;
}
:is(h4,h5,h6).c-card__meta {
	--fontWeight: 400;
}

/*** Meta Text inside Card Component
 *
 * Metadata like date of content, comment counter, SEO tags etc.
 */
.c-card__meta {
	text-transform:uppercase;
	&:is(.-alignStart,.-alignEnd) {
		display: inline-block;
		width: 50%;
		vertical-align: top;
	}
	&.-alignStart {
		text-align: start;
		padding-inline-end: .5rem;
	}
	&.-alignEnd {
		text-align: end;
		padding-inline-start: .5rem;
	}
	@media (--wrist-or-gt) {
		&:is(.-alignStart\@wrist-gt,.-alignEnd\@wrist-gt) {
			display: inline-block;
			width: 50%;
			vertical-align: top;
		}
		&.-alignStart\@wrist-gt {
			text-align: start;
			padding-inline-end: .5rem;
		}
		&.-alignEnd\@wrist-gt {
			text-align: end;
			padding-inline-start: .5rem;
		}
	}
}

/*** Footer section of Card Component
 */
.c-card__footer {
	margin-top: 2em;
}
