<div class="o-grid__item -col12 -col2-3@palm o-masonry__item">
	<article class="c-card --typePost">
		<header class="c-header c-card__header -viewWithMedia">
			<img src="./img/filler/ghost-square.jpg"/>
			<h6 class="c-card__meta -leftSide"><a href="#">19 August 2015</a> • <a href="#">2 Comments</a> • <a href="#">Edit</a></h6>
			<h6 class="c-card__meta -rightSide"><a href="#">Meaningless</a>, <a href="#">Filler</a>, <a href="#">Categories</a></h6>
			<h2 class="c-card__title"><a href="#">Post Example with Featured Image</a></h2>
		</header>
		<md>
		**A person who doesn't** make *any mistake* is ``a person`` who doesn't do anything. And biggest mistake in the world is to thought you're perfect.

		I think we really should give a crap to these idioms, especially when I type meaningless paragraphs like these, I see a reason to explain [this](google.com) sometimes. Thanks to me, I stretched my fingers a little and I am typing really something random things right now instead of being too lazy to copy-paste from Lorem Ipsum generators. Probably, this is should be longest sentence of the existence. I can't understand but that's really is.
		</md>
		<!-- <p>Hiç hata <b>yapmayan insan,</b> <i>hiçbir şey</i> yapmayan <code>insandır</code>. Ve hayatta en büyük hata, kendini hatasız sanmaktır.</p> -->
		<!-- <p>Bence bütün bu sözlere baya baya kulak asmak gerekir, hele hele böyle içi boş paragraflar yazarken <a href="https:www.google.com">bunu açıklama</a> ihtiyacı duyabiliyorum arada sırada. İyi ki biraz parmaklarımı esnetmişim de, lorem ipsumcu jeneratörlerinden kopyala yapıştırına üşenmişim de, iyi etmişim de böyle götümden şeyler uydurarak, hala bir şeyler yazmaya çalışmışım. Herhalde dünyanın en uzun cümlesi bu olsa gerek. Anlam veremiyorum ama cidden de öyle.</p> -->
		<img class="alignLeft" src="./img/filler/pxl.png"/>
		<md>
		So let's try to type longest paragraph of the world. To ease the process of breaking record I will make a list of names of all prime ministers irrelevently in here. Of course, I am too lazy to not remember name of prime ministers so I can make up this list. Let's see!
- John Jonathan
- Anne Anderson
- Jake Jackathon
- Michel Michelson

		</md>
		<!-- <p>O zaman bir de dünyanın en uzun paragrafını yazmaya deneyelim. Bu rekoru kırmayı kolaylaştırmak adına bütün cumhurbaşkanlarının adını alakasızca burada listeleyebilirim. Tabi ben bu konuda da cumhurbaşkanlarının isimlerini hatırlayamayacak kadar üşengeç olduğum için bu listeyi de götümden uydurabilirim. Ahanda şöyle bak.</p> -->
		<!-- <ul> -->
		<!-- 	<li>Mehmet Mehmetoğlu</li> -->
		<!-- 	<li>Salı Çarşamba</li> -->
		<!-- 	<li>Evvelki İsimler</li> -->
		<!-- 	<li>Aşırı Alakasız</li> -->
		<!-- 	<li>Yok Böyle Birşey</li> -->
		<!-- 	<li>Ali Cuma</li> -->
		<!-- </ul> -->
		<!-- <include src="layout/kitchensink.html"></include> -->
		<footer class="c-card__footer">
			<ul class="c-nav -positionTop -viewTag">
				<span class="c-nav__item"><b>  Tags:</b></span>
				<li class="c-nav__item"><a href="#">FusionFall</a></li>
				<li class="c-nav__item"><a href="#">Fortnite</a></li>
				<li class="c-nav__item"><a href="#">Minecraft</a></li>
				<li class="c-nav__item"><a href="#">Q&A</a></li>
			</ul>
		</footer>
	</article>
</div>
<div class="o-grid__item -col12 -col2-3@palm o-masonry__item">
	<article class="c-card --typePost">
		<header class="c-header c-card__header">
			<h2 class="c-card__title"><a href="#">Color Palette</a></h2>
		</header>
		<h5>Layers</h5>
		<div class="_colorBox" style="border: 2px solid #000;background-color:var(--deepColor)">Deep
		<div class="_colorBox" style="background-color:var(--backColor)">Back
		<div class="_colorBox" style="background-color:var(--baseColor)">Base
			<div class="_colorBox" style="background-color:var(--foreColor)">Fore*</div>
			<div class="_colorBox" style="background-color:var(--foreColorBrighter)">Fore Brighter*
		<div class="_colorBox" style="background-color:var(--frontColor)">Front
		</div>
		</div>
		</div>
		</div>
		</div>
		<div class="_colorPalette" style="background-color:#000">
			<div class="_bgBase">
				<ul>
					<li class="_txtText">Normal Text</li>
					<li class="_txtTextBolder">Bolder Text</li>
				</ul>
			</div>
			<div class="_bgRed">Red</div>
			<div class="_bgOrange">Orange</div>
			<div class="_bgYellow">Yellow</div>
			<div class="_bgGreen">Green</div>
			<div class="_bgCyan">Cyan</div>
			<div class="_bgBlue">Blue</div>
			<div class="_bgViolet">Violet</div>
			<div class="_bgMagenta">Magenta</div>
		</div>
		<!-- <div class="_colorPalette"> -->
		<!-- 	<div class="_bgBase03">B03</div> -->
		<!-- 	<div class="_bgBase02">B02</div> -->
		<!-- 	<div class="_bgBase01">B01</div> -->
		<!-- 	<div class="_bgBase00">B00</div> -->
		<!-- 	<div class="_bgBase0">B0</div> -->
		<!-- 	<div class="_bgBase1">B1</div> -->
		<!-- 	<div class="_bgBase2">B2</div> -->
		<!-- 	<div class="_bgBase3">B3</div> -->
		<!-- </div> -->
	</article>
</div>
<div class="o-grid__item -col12 -col2-3@palm o-masonry__item">
	<article class="c-card --typePost">
		<header class="c-header c-card__header">
			<h2 class="c-card__title"><a href="#">Background Patterns</a></h2>
		</header>
		<!-- <h5>Çapraz Metrik</h5> -->
		<h5>Diagonal Grid</h5>
		<div class="_colorPalette" style="background-color:#000">
			<div class="_bgDiagonalGrid" style="width:100%;height:8em"></div>
		</div>
		<!-- <h5>Yatay Izgara</h5> -->
		<h5>Horizontal Grid</h5>
		<div class="_colorPalette" style="background-color:#000">
			<div class="_bgHGrid" style="width:100%;height:8em"></div>
		</div>
		<!-- <h5>İzometrik (Beta)</h5> -->
		<h5>Isometric (WIP)</h5>
		<div class="_colorPalette" style="background-color:#000">
			<div class="_bgIsometric" style="width:100%;height:8em"></div>
		</div>
		<!-- <h5>Eski Ekran</h5> -->
		<h5>Old-School Screen</h5>
		<div class="_colorPalette" style="background-color:#000">
			<div class="_bgOldScreen" style="width:100%;height:8em"></div>
		</div>
	</article>
</div>
<div class="o-grid__item -col12 -col2-3@palm o-masonry__item">
	<article class="c-card --typePost">
		<header class="c-header c-card__header">
			<h2 class="c-card__title"><a href="#">Headings</a></h2>
		</header>
		<hgroup>
		<h1>This is Header 1</h1>
		<h2>And this is <a href='#'>Header 2</a></h2>
		<h3>Probably you don't know that but <a href='#'>this</a> is Header 3</h3>
		<h4>Of course, this is Header 4</h4>
		<h5>I hope this is Header 5</h5>
		<h6>This look like Header 6</h6>
		</hgroup>
		<lorem></lorem>
	</article>
</div>
<div class="o-grid__item -col12 -col2-3@palm o-masonry__item">
	<article class="c-card --typePost">
		<header class="c-header c-card__header">
			<h2 class="c-card__title"><a href="#">Inline Styles and Blockquotes</a></h2>
		</header>
		<p>This paragraph is nested inside an article. It contains many different, sometimes useful, <a href="https://www.w3schools.com/tags/">HTML5 tags</a>. Of course there are classics like <em>emphasis</em>, <strong>strong</strong>, and <small>small</small>        but there are many others as well. Hover the following text for abbreviation tag: <abbr title="abbreviation">abbr</abbr>. Similarly, you can use acronym tag like this: <acronym title="For The Win">ftw</acronym>. You can define <del>deleted text</del>        which often gets replaced with <ins>inserted</ins> text.</p>
		<p>You can also use <kbd>keyboard text</kbd>, which sometimes is styled similarly to the <code>&lt;code&gt;</code> or <samp>samp</samp> tags. Even more specifically, there is a tag just for <var>variables</var>. Not to be mistaken with blockquotes
		below, the quote tag lets you denote something as <q>quoted text</q>. Lastly don't forget the sub (H<sub>2</sub>O) and sup (E = MC<sup>2</sup>) tags. </p>
		<hr/>
		<blockquote>
		<p>Blockquote: I quickly explained that many big jobs involve few hazards</p>
		<blockquote>
		<p>This is a mult-line blockquote with a cite reference. People think focus means saying yes to the thing you’ve got to focus on. But that’s not what it means at all. It means saying no to the hundred other good ideas that there are. You have to pick
			carefully. I’m actually as proud of the things we haven’t done as the things I have done. Innovation is saying no to 1,000 things.
			<cite>Steve Jobs – Apple Worldwide Developers’ Conference, 1997</cite>
		</p>
		</blockquote>
		</blockquote>
	</article>
</div>
<div class="o-grid__item -col12 -col2-3@palm o-masonry__item">
	<article class="c-card --typePost">
		<header class="c-header c-card__header">
			<h2 class="c-card__title"><a href="#">Lists</a></h2>
		</header>
		<ul>
		<li>Unordered List item one
			<ul>
			<li>Nested list item
				<ul>
				<li>Level 3, item one</li>
				<li>Level 3, item two</li>
				<li>Level 3, item three</li>
				<li>Level 3, item four</li>
				</ul>
			</li>
			<li>List item two</li>
			<li>List item three</li>
			<li>List item four</li>
			</ul>
		</li>
		<li>List item two</li>
		<li>List item three</li>
		<li>List item four</li>
		</ul>
		<hr>
		<ol>
		<li>List item one
			<ol>
			<li>List item one
				<ol>
				<li>List item one</li>
				<li>List item two</li>
				<li>List item three</li>
				<li>List item four</li>
				</ol>
			</li>
			<li>List item two</li>
			<li>List item three</li>
			<li>List item four</li>
			</ol>
		</li>
		<li>List item two</li>
		<li>List item three</li>
		<li>List item four</li>
		</ol>
	</article>
</div>
<div class="o-grid__item -col12 -col2-3@palm o-masonry__item">
	<article class="c-card --typePost">
		<header class="c-header c-card__header">
			<h2 class="c-card__title"><a href="#">Icons</a></h2>

		</header>
		<ul>
			<li><i class="pi-tag"></i> Tag</li>
			<li><i class="pi-time"></i> Time</li>
			<li><i class="pi-comment"></i> Comment</li>
			<li><i class="pi-list"></i> List</li>
			<li><i class="pi-magnifier"></i> Search...</li>
			<li><i class="pi-globe"></i> Globe</li>
			<li><i class="pi-document"></i> Document</li>
			<li><i class="pi-folder"></i> Folder</li>
			<li><i class="pi-layout-single-column"></i> Single Column Layout</li>
			<li><i class="pi-layout-two-column"></i> Two Column Layout</li>
			<li><i class="pi-layout-masonry"></i> Masonry Layout</li>
			<li><i class="pi-list"></i> List</li>
			<li><h6><i class="pi-home"></i> Header 6</h6></li>
			<li><h5><i class="pi-home"></i> Header 5</h5></li>
			<li><h4><i class="pi-home"></i> Header 4</h4></li>
			<li><h3><i class="pi-home"></i> Header 3</h3></li>
			<li><h2><i class="pi-home"></i> Header 2</h2></li>
			<li><h1><i class="pi-home"></i> Header 1</h1></li>
		</ul>
	</article>
</div>
<div class="o-grid__item -col12 -col2-3@palm o-masonry__item">
	<article class="c-card --typePost">
		<header class="c-header c-card__header">
			<h2 class="c-card__title"><a href="#">Comments</a></h2>
		</header>
		<h5 class='author'>Gamora</h5>
		Did you do it?
		<blockquote>
			<h5 class='author'>Thanos</h5>
			Yes.
			<blockquote>
				<h5 class='author'>Gamora</h5>
				What did it cost?
				<blockquote>
					<h5 class='author'>Thanos</h5>
					Everything.
				</blockquote>
			</blockquote>
		</blockquote>
		<h5 class='author'>Morpheus</h5>
		Do you know what I'm talking about?
		<blockquote>
			<h5 class='author'>Neo</h5>
			The Matrix?
			<blockquote>
				<h5 class='author'>Morpheus</h5>
				Do you want to know what it is?
				<blockquote>
					<h5 class='author'>Neo</h5>
					[Nods.]
					<blockquote>
						<h5 class='author'>Morpheus</h5>
						The Matrix is everywhere. It is all around us. Even now, in this very room. You can see it when you look out your window, or when you turn on your television. You can feel it when you go to work. When you go to church. When you pay your taxes. It is the world that has been pulled over your eyes to blind you from the truth.
						<blockquote>
							<h5 class='author'>Neo</h5>
							What truth?
							<blockquote>
								<h5 class='author'>Morpheus</h5>
								That you are a slave, Neo. Like everyone else, you were born into bondage. Born into a prison that you cannot smell or taste or touch. A prison for your mind. Unfortunately, no one can be told what The Matrix is. You have to see it for yourself.
							</blockquote>
						</blockquote>
					</blockquote>
				</blockquote>
			</blockquote>
		</blockquote>
	</article>
</div>
<div class="o-grid__item -col12 -col2-3@palm o-masonry__item">
	<article class="c-card --typePost">
		<header class="c-header c-card__header">
			<h2 class="c-card__title"><a href="#">Buttons and Inputs</a></h2>
		</header>
		<form>
		<p>
			<label for="example-input-email">Email Address</label>
			<input type="email" id="example-input-email" placeholder="Enter address">
		</p>
		<p>
			<label for="example-input-password1">Number</label>
			<input type="number" id="example-input-number" placeholder="Number">
		</p>
		<p>
			<label for="example-input-password">Password</label>
			<input type="password" id="example-input-password" placeholder="Password">
		</p>
		<p>
			<label for="example-input-search">Search</label>
			<input type="search" id="example-input-search" placeholder="Search...">
		</p>
		<p>
			<label for="example-input-tel">Telephone Number</label>
			<input type="tel" id="example-input-tel" placeholder="Telephone number">
		</p>

		<p>
			<label for="example-input-text">Text</label>
			<input type="text" id="example-input-text" placeholder="Enter some text here">
		</p>
		<p>
			<label for="example-input-url">URL</label>
			<input type="url" id="example-input-url" placeholder="Enter a url here">
		</p>
		<p>
			<label for="example-input-color">Color</label>
			<input type="color" id="example-inupt-color" placeholder="#fff">
		</p>
		<p>
			<label for="example-input-date">Date</label>
			<input type="date" id="example-input-date" placeholder="date">
		</p>
		<p>
			<label for="example-input-date-time">Date / Time</label>
			<input type="datetime" id="example-input-date-time" placeholder="date / time">
		</p>
		<p>
			<label for="example-input-date-time-local">Date / Time Local</label>
			<input type="datetime-local" id="example-input-date-time-local" placeholder="date / time local">
		</p>
		<p>
			<label for="example-input-month">Month</label>
			<input type="month" id="example-input-month" placeholder="Month">
		</p>
		<p>
			<label for="example-input-week">Week</label>
			<input type="week" id="example-input-week" placeholder="Week">
		</p>
		<p>
			<label for="example-input-time">Time</label>
			<input type="time" id="example-input-time" placeholder="Time">
		</p>
		<p>
			<label for="example-select1">Example Select</label>
			<select id="example-select1">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			</select>
		</p>
		<p>
			<label for="example-select2">Example Multiple Select</label>
			<select multiple id="example-select2">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			</select>
		</p>
		<p>
			<label for="example-textarea">Example Text Area</label>
			<textarea id="example-textarea" rows="3"></textarea>
		</p>
		<p>
			<label for="example-input-file">File Input</label>
			<input type="file" id="example-input-file">
		</p>
		<fieldset>
			<legend>I am legend</legend>
			<div>
			<label>
				<input type="radio" name="options-radios" id="optionsR-radios1" value="option1" checked> Option one is this and that&mdash;be sure to include why it's great
			</label>
			</div>

			<div>
			<label>
				<input type="radio" name="options-radios" id="options-radios2" value="option2"> Option two can be something else and selecting it will deselect option one
			</label>
			</div>
			<div>
			<label>
				<input type="radio" name="optionsRadios" id="options-radios3" value="option3" disabled> Option three is disabled
			</label>
			</div>
		</fieldset>

		<fieldset>
			<legend>I am also legend</legend>
			<input type="checkbox"> Check me out
			<input type="checkbox"> Or check me out
		</fieldset>
		<p>
			<button type="button" name="button">Button</button>
			<input type="button" name="input" value="Input Button">
			<input type="submit" name="submit" value="Submit Button">
			<input type="reset" name="reset" value="Reset Button">
		</p>
		<input type="range" min="0" max="10">
		</form>
	</article>
</div>
<div class="o-grid__item -col12 -col2-3@palm o-masonry__item">
	<article class="c-card --typePost">
		<header class="c-header c-card__header">
			<h2 class="c-card__title"><a href="#">Code Block</a></h2>
		</header>
		<pre>
pre {
  display: block;
  padding: 7px;
  background-color: #F5F5F5;
  border: 1px solid #E1E1E8;
  border-radius: 3px;
  white-space: pre-wrap;
  word-break: break-all;
  font-family: Menlo, Monaco;
  line-height: 160%;
}</pre>
	</article>
</div>
<div class="o-grid__item -col12 -col2-3@palm o-masonry__item">
	<article class="c-card --typePost">
		<header class="c-header c-card__header">
			<h2 class="c-card__title"><a href="#">Grid Measure</a></h2>
		</header>
		<div class="o-grid --noGutter" style="text-align:center">
			<div class="o-grid__item -col12">Full</div>
			<hr>
			<div class="o-grid__item -col1-2">1/2</div>
			<div class="o-grid__item -col1-2">1/2</div>
			<hr>
			<div class="o-grid__item -col1-3">1/3</div>
			<div class="o-grid__item -col2-3">2/3</div>
			<hr>
			<div class="o-grid__item -col1-4">1/4</div>
			<div class="o-grid__item -col3-4">3/4</div>
			<hr>
			<div class="o-grid__item -col1-5">1/5</div>
			<div class="o-grid__item -col4-5">4/5</div>
			<hr>
			<div class="o-grid__item -col2-5">2/5</div>
			<div class="o-grid__item -col3-5">3/5</div>
			<hr>
			<div class="o-grid__item -col1-7">1/7</div>
			<div class="o-grid__item -col6-7">6/7</div>
			<hr>
			<div class="o-grid__item -col2-7">2/7</div>
			<div class="o-grid__item -col5-7">5/7</div>
			<hr>
			<div class="o-grid__item -col3-7">3/7</div>
			<div class="o-grid__item -col4-7">4/7</div>
			<hr>
			<div class="o-grid__item -col5-12">5/12</div>
			<div class="o-grid__item -col7-12">7/12</div>
		</div>
	</article>
</div>
<div class="o-grid__item -col12 -col2-3@palm o-masonry__item">
	<article class="c-card --typePost">
		<header class="c-header c-card__header">
			<h6 class="c-card__meta"><a href="#">19 August 2015</a> • 2 <a href="#">Comments</a> • <a href="#">Edit</a></h6>
			<h2 class="c-card__title"><a href="#">Post Example</a></h2>
		</header>
		<lorem></lorem>
		<img class="alignCenter" src="./img/filler/ghost-landscape-mini.jpg"/>
		<lorem></lorem>
		<footer class="c-card__footer">
			<ul class="c-nav -positionTop -viewTag">
				<span class="c-nav__item"><b>Tags:</b></span>
				<li class="c-nav__item"><a href="#">FusionFall</a></li>
				<li class="c-nav__item"><a href="#">Fortnite</a></li>
				<li class="c-nav__item"><a href="#">Minecraft</a></li>
			</ul>
		</footer>
	</article>
</div>
<div class="o-grid__item -col12 -col2-3@palm o-masonry__item">
	<article class="c-card --typePost">
		<header class="c-header c-card__header">
			<h2 class="c-card__title"><a href="#">4:3 Video</a></h2>
		</header>
		<div class="intrinsicContainer ratio4-3">
			<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/npTC6b5-yvM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</article>
</div>
<div class="o-grid__item -col12 -col2-3@palm o-masonry__item">
	<article class="c-card --typePost">
		<header class="c-header c-card__header">
			<h2 class="c-card__title"><a href="#">21:9 Video</a></h2>
		</header>
		<div class="intrinsicContainer ratio21-9">
			<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/CFpYltVydVs?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</article>
</div>
<div class="o-grid__item -col12 -col2-3@palm o-masonry__item">
	<article class="c-card --typePost">
		<header class="c-header c-card__header">
			<h2 class="c-card__title"><a href="#">Table</a></h2>
		</header>
		<!-- <table class="--noBorder --zebraRows"> -->
		<table>
		<!-- <table> -->
			<caption>Tables can have captions now.</caption>
			<tbody>
			<tr>
				<th>Person</th>
				<th>Number</th>
				<th>Third Column</th>
			</tr>
			<tr>
				<td>Someone Lastname</td>
				<td>900</td>
				<td>Nullam quis risus eget urna mollis ornare vel eu leo.</td>
			</tr>
			<tr>
				<td><a href="#">Person Name</a></td>
				<td>1200</td>
				<td>Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla.</td>
			</tr>
			<tr>
				<td>Another Person</td>
				<td>1500</td>
				<td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit.</td>
			</tr>
			<tr>
				<td>Last One</td>
				<td>2800</td>
				<td>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</td>
			</tr>
			</tbody>
		</table>
	</article>
</div>
