<div class="c-card --typePost o-masonry__item o-grid12__item">
	<header class="c-header c-card__header -viewFeaturedImage">
		<img src="img/ghost-square.jpg"/>
		<h6 class="c-card__meta"><a href="#">1 Ağustos 2015</a> • <a href="#">2 Yorum</a> • <a href="#">Düzenle</a></h6>
		<h2 class="c-card__title"><a href="#">JOAQUIN-JOKER Filminin Adı, Çıkış Tarihi Ve İlk Detayları Belli Oldu: Buyurun Buradan</a></h2>
	</header>
	<lorem></lorem>
	<footer class="c-card__footer">
		<ul class="c-nav -positionTop -viewTag">
			<span class="c-nav__item"><b>  Etiketler:</b></span>
			<li class="c-nav__item"><a href="#">Ege</a></li>
			<li class="c-nav__item"><a href="#">FusionFall</a></li>
			<li class="c-nav__item"><a href="#">Fortnite</a></li>
			<li class="c-nav__item"><a href="#">Minecraft</a></li>
			<li class="c-nav__item"><a href="#">Sık Sorulan Sorular</a></li>
		</ul>
	</footer>
</div>
<!-- <hr/> -->
<div class="c-card --typePost o-masonry__item o-grid12__item">
	<header class="c-header c-card__header">
		<h6 class="c-card__meta"><a href="#">2 Ağustos 2015</a> • 2 <a href="#">Yorum</a> • <a href="#">Düzenle</a></h6>
		<h2 class="c-card__title"><a href="#">Beceriksiz Çocuklarına FORTNITE HOCASI Tutan Ebeveynler Mi? Dünyanın Çivisi Çıkmış!</a></h2>
	</header>
	<lorem></lorem>
	<footer class="c-card__footer">
		<ul class="c-nav -positionTop -viewTag">
			<span class="c-nav__item"><b>Etiketler:</b></span>
			<li class="c-nav__item"><a href="#">Ege</a></li>
			<li class="c-nav__item"><a href="#">FusionFall</a></li>
			<li class="c-nav__item"><a href="#">Fortnite</a></li>
			<li class="c-nav__item"><a href="#">Minecraft</a></li>
			<li class="c-nav__item"><a href="#">Sık Sorulan Sorular</a></li>
		</ul>
	</footer>
</div>
<div class="c-card --typePost o-masonry__item o-grid12__item">
	<header class="c-header c-card__header">
		<h6 class="c-card__meta"><a href="#">3 Ağustos 2015</a> • 2 <a href="#">Yorum</a> • <a href="#">Düzenle</a></h6>
		<h2 class="c-card__title"><a href="#">Ali Larter: İki Gözüm Önüme Aksın RESIDENT EVIL 6 Serinin Son Filmi!</a></h2>
	</header>
	<lorem></lorem>
	<footer class="c-card__footer">
		<ul class="c-nav -positionTop -viewTag">
			<span class="c-nav__item"><b>Etiketler:</b></span>
			<li class="c-nav__item"><a href="#">Ege</a></li>
			<li class="c-nav__item"><a href="#">FusionFall</a></li>
			<li class="c-nav__item"><a href="#">Fortnite</a></li>
			<li class="c-nav__item"><a href="#">Minecraft</a></li>
		</ul>
	</footer>
</div>
<div class="c-card --typePost o-masonry__item o-grid12__item">
	<header class="c-header c-card__header">
		<h6 class="c-card__meta"><a href="#">4 Ağustos 2015</a> • 2 <a href="#">Yorum</a> • <a href="#">Düzenle</a></h6>
		<h2 class="c-card__title"><a href="#">Amerikan Sinemasının Ofis Partisi OSCAR Törenlerine Ne Gözle Bakmalı?</a></h2>
	</header>
	<lorem></lorem>
	<footer class="c-card__footer">
		<ul class="c-nav -positionTop -viewTag">
			<span class="c-nav__item"><b>Etiketler:</b></span>
			<li class="c-nav__item"><a href="#">Sık Sorulan Sorular</a></li>
		</ul>
	</footer>
</div>
<div class="c-card --typePost o-masonry__item o-grid12__item">
	<header class="c-header c-card__header">
		<h6 class="c-card__meta"><a href="#">5 Ağustos 2015</a> • 2 <a href="#">Yorum</a> • <a href="#">Düzenle</a></h6>
		<h2 class="c-card__title"><a href="#">“İYİ Kİ” Derdirten Üçüncü Yeniler’e “İYİ Kİ” Demenin Yazısı</a></h2>
	</header>
	<lorem></lorem>
	<footer class="c-card__footer">
		<ul class="c-nav -positionTop -viewTag">
			<span class="c-nav__item"><b>Etiketler:</b></span>
			<li class="c-nav__item"><a href="#">Ege</a></li>
			<li class="c-nav__item"><a href="#">Minecraft</a></li>
			<li class="c-nav__item"><a href="#">Sık Sorulan Sorular</a></li>
		</ul>
	</footer>
</div>
<div class="c-card --typePost o-masonry__item o-grid12__item">
	<header class="c-header c-card__header">
		<h6 class="c-card__meta"><a href="#">6 Ağustos 2015</a> • 2 <a href="#">Yorum</a> • <a href="#">Düzenle</a></h6>
		<h2 class="c-card__title"><a href="#">Çocukluğumuzun Sıcacık Dairesi 7 NUMARA’yı Hatırlıyor Muyuz? </a></h2>
	</header>
	<lorem></lorem>
</div>
<div class="c-card --typePost o-masonry__item o-grid12__item">
	<header class="c-header c-card__header">
		<h6 class="c-card__meta"><a href="#">5 Ağustos 2015</a> • 2 <a href="#">Yorum</a> • <a href="#">Düzenle</a></h6>
		<h2 class="c-card__title"><a href="#">“İYİ Kİ” Derdirten Üçüncü Yeniler’e “İYİ Kİ” Demenin Yazısı</a></h2>
	</header>
	<footer class="c-card__footer">
		<ul class="c-nav -positionTop -viewTag">
			<span class="c-nav__item"><b>Etiketler:</b></span>
			<li class="c-nav__item"><a href="#">Ege</a></li>
			<li class="c-nav__item"><a href="#">Minecraft</a></li>
			<li class="c-nav__item"><a href="#">Sık Sorulan Sorular</a></li>
		</ul>
	</footer>
</div>
