<!-- Fixed, full-sized background image -->
{% comment %} <div class="c-extBgFrame -stylePixelated -styleBlending -viewFullFixed"><img src="/img/filler/bg/darkforest.gif" alt=""></div> {% endcomment %}
{% comment %} <div class="c-extBgFrame -styleBlending -viewFullFixed"><img src="/img/filler/bg/holographic.webp" alt=""></div> {% endcomment %}
{% comment %} <div class="c-extBgFrame -viewFullFixed"><img src="/img/filler/bg/something.webp" alt=""></div> {% endcomment %}

<!-- Grain/Noise Effect -->
{% comment %} <div class="c-extBgFrame -viewStaticPageHeight -filterGrainy"></div> {% endcomment %}

<!-- Single Color Background -->
{% comment %} <div class="c-extBgFrame -viewStaticPageHeight" style=background-color:var(--colorAccent);mix-blend-mode:color;opacity:.66></div> {% endcomment %}

<!-- Gradient (135deg) Background -->
{% comment %} <div class="c-extBgFrame -viewStaticPageHeight -filterGradient" style="--angle:135deg;--1:var(--colorAccent);--2:var(--hue02);"></div> {% endcomment %}

<!-- Gradient (Parallel with page flow) Background -->
{% comment %} <div class="c-extBgFrame -viewStaticPageHeight -filterGradient" style=--1:var(--colorAccent);--2:var(--hue02)></div> {% endcomment %}

<footer class="o-box o-center" aria-label=Main>
	<small style="text-align: center;display:block;">
		<a href=//github.com/username>GitHub</a> | <a href=//instagram.com/username>Instagram</a> | <a href=//mastodon.social/@username>Mastodon</a>
		<br>
		<a href="//github.com/egeesin/pxl">Source</a> • <a href="//pxl.egeesin.com/">Demo</a> • <a href="//github.com/egeesin/pxl/blob/main/LICENSE" itemprop=license>License</a> • <span title="The year everything started for me." itemprop=dateCreated>2008</span>—<span title="Last updated" itemprop=dateModified>{{ 'now' | date: '%Y' }}</span>
	</small>
</footer>
