.c-card {

	/* opinionated */
	border-radius: .8em;

	overflow: hidden;
	overflow-wrap: break-word;
	width: 100%;
	position: relative;
	background-color: var(--baseColor);
	/* @supports ( (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px)) ) { */
	/* 	background-color: color-mod(var(--baseColor) a(85%)); */
	/* 	-webkit-backdrop-filter: blur(2px); */
	/* 			backdrop-filter: blur(2px); */
	/* } */
	/* background-color: var(--baseColor); */
	padding: 1em 1em;
	margin-bottom: 1em;
	@media (--lap) {
		padding: 1em 2em;
	}
	/*Parent classes*/
	.o-masonry & {
		margin: 0;
		@media (--lap) {
			padding: 1em;
		}
	}
	& .o-masonry {
		grip-gap: 0;
		padding: 0;
	}

	/*---Parent classes*/
	/* & + & { */
	/* 	margin-top: 2em; */
	/* } */
	& + hr {
		margin: 0;
		padding: 0;
		background-color: transparent;
		display: block;
		width: 100%;
		height: 2em;
		border: 0;
		grid-column: 12 / 1;
	}
	&__footer {
		a {
			color: currentColor;
			text-decoration: none;

		}
	}
}

.c-card__header {
	margin-bottom:1em;
	h1,h2,h3,h4,h5,h6 {
	/* &__title, &__meta{ */
		margin-top: 0
	}
}
*:not(.o-masonry) > .o-masonry__item > .c-card > .c-card__header.-viewWithMedia {
/* ^^ That's really a hard code but nice looking edit */
	padding-top: 40%;
	@media (--palm) {
	/* 16:9 Space */
		padding-top: 56.25%;
	}
	@media (--lap) {
	/* 21:9 Ultra Wide Space */
		padding-top: 42.85%;
	}
}
.c-card__header.-viewWithMedia {
	/* Override parent(c-card) gap */
	width: calc( 2em + 100% );
	top: -1em;
	left: -1em;
	/* Square Space */
	padding-top: 33%;
	margin-bottom: 0;
	*:not(.o-masonry) > .o-masonry__item > .c-card > & {
		@media (--lap) {
			width: calc( 4em + 100% );
			left: -2em;
		}
	}
	> img {
		transition: transform .5s ease;
		transform-origin: 50% 0%;
	}
	&:hover img{
		transform: scale(1.1);
	}
}
.c-card__meta {
	text-transform:uppercase;
	font-weight:400;
	&.-leftSide, &.-rightSide {
		display: inline-block;
		width: 50%;
		vertical-align: top;
	}
	&.-leftSide {
		text-align: left;
		padding-right: .5rem;
	}
	&.-rightSide {
		text-align: right;
		padding-left: .5rem;
	}
}
.c-card__footer {
	margin-top: 2em;
}
