.c-header {
	color: var(--textColorBolder);
	a {
		color: currentColor;
		text-decoration: none;
		&:hover, &:focus {
			color: currentColor;
			text-decoration: underline;
		}
	}
	&.-viewWithMedia {
		/* Warning: Make sure box-sizing set as border-box */

		/* background-color: var(--deepColor); */
		padding-left: 1em;
		padding-right: 1em;
		position: relative;
		overflow: hidden;
		text-shadow: #020202 0px 0px 1px, #020202 0px 0px 1px, #020202 0px 0px 1px,
					 #020202 0px 0px 1px, #020202 0px 0px 1px, #020202 0px 0px 1px;
		color: #FDFDFD;
		/* > * { */
		> *:not(img) {
			position: relative;
		}
		> img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
		&:before {
			position: relative;
			content: '';
			display: block;
		}
	}
}
