<!-- <aside class="sidebar"></aside> -->

<div id="mainFooter" class="c-frame --typeText">
	<div class="c-frame__content">
		<h6 style="text-align: center;font-weight: 400;"><a href="https://github.com/egeesin/pxl">GitHub Repo</a> - <a href="https://egeesin.com/">egeesin.com</a><br>I have no rights in here, yet... 2008-2018</h6>
	</div>
</div>
<script type="text/javascript" src="{{ "/assets/vendor.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/script.min.js" | relative_url }}"></script>
