{% assign pages = site.pages | sort: 'order' %}

<ul id="mainNav" class="c-nav -viewTree -collapsible">
<label class="c-toggleTrigger -viewMobile" for="c-toggleNav"><a>Menu</a></label>
{% for node in pages %}
{% if node.url contains ".xml" or node.url contains "404"%}
{% else %}
  {% assign node_parts = node.url | split: '/' %}
  {% assign node_depth = node_parts | size %}

  {% if node_depth == 2 %}
    <li class="c-nav__item{% if page.url contains node.url %} -currentPage{% endif %}">
      <a href="{{ node.url }}">
        {% if node.link %}
          {{ node.link }}
        {% else %}
          {{ node.title }}
        {% endif %}
      </a>

      {% assign node_root = '/' | append: node_parts[1] | append: '/' %}
      {% assign has_children = false %}
      {% for subnode in pages %}
        {% if subnode.url contains node_root and subnode.url != node_root %}
          {% assign has_children = true %}
        {% endif %}
      {% endfor %}

      {% if has_children == true %}
        <ul class="c-nav__submenu">
          {% for subnode in pages %}
            {% if subnode.url contains node_root and subnode.url != node_root %}
              {% assign node_parts = subnode.url | split: '/' %}
              {% assign node_depth = node_parts | size %}

              {% if node_depth == 3 %}
                <li class="c-nav__item{% if page.url contains subnode.url %} -currentPage{% endif %}">
                  <a href="{{ subnode.url }}">
                    {% if subnode.link %}
                      {{ subnode.link }}
                    {% else %}
                      {{ subnode.title }}
                    {% endif %}
                  </a>

                  {% assign subnode_root = '/' | append: node_parts[1] | append: '/' | append: node_parts[2] | append: '/' %}
                  {% assign has_children = false %}
                  {% for subsubnode in pages %}
                    {% if subsubnode.url contains subnode_root and subsubnode.url != subnode_root %}
                      {% assign has_children = true %}
                    {% endif %}
                  {% endfor %}

                  {% if has_children == true %}
                    <ul class="c-nav__submenu">
                      {% for subsubnode in pages %}
                        {% if subsubnode.url contains subnode_root and subsubnode.url != subnode_root %}
                          <li class="c-nav__item{% if page.url contains subsubnode.url %} -currentPage{% endif %}">
                            <a href="{{ subsubnode.url }}">
                              {% if subsubnode.link %}
                                {{ subsubnode.link }}
                              {% else %}
                                {{ subsubnode.title }}
                              {% endif %}
                            </a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endif %}
{% endif %}
{% endfor %}
</ul>
