<input id="c-toggleNav" type="checkbox">
{% assign menu = site.menus.top-menu %}
{% if menu %}
<ul id="mainNav" class="c-nav -viewTree -collapsible">
	<label class="c-toggleTrigger --viewIconOnly" for="c-toggleNav" onclick></label>
	{% for item in menu %}
		<li class="c-nav__item"><a href="{{ item.url }}">{{ item.pre }} {{ item.title }}{{ item.post }}</a>
			{% if item.children %}
				{% assign menu = item.children %}
				{% if menu %}
					<ul class="c-nav__submenu">
						{% for item in menu %}
							<li class="c-nav__item"><a href="{{ item.url }}">{{ item.pre }} {{ item.title }}{{ item.post }}</a>
								{% if item.children %}
									{% assign menu = item.children %}
									{% if menu %}
										<ul class="c-nav__submenu">
											{% for item in menu %}
												<li class="c-nav__item"><a href="{{ item.url }}">{{ item.pre }} {{ item.title }}{{ item.post }}</a></li>{{ item.separator }}
											{% endfor %}
										</ul>
									{% endif %}
								{% endif %}
							</li>{{ item.separator }}
						{% endfor %}
					</ul>
				{% endif %}
			{% endif %}
		</li>{{ item.separator }}
	{% endfor %}
</ul>
{% endif %}
