{% assign page_paths = site.header_pages | default: default_paths %}

{% assign navurl = page.url | remove: 'index.html' %}

{% if page_paths %}
<ul id="mainNav" class="c-nav -viewTree -collapsible">
	<label class="c-toggleTrigger -viewMobile" for="c-toggleNav"><a>Menu</a></label>
	{% for path in page_paths %}
		{% assign my_page = site.pages | where: "path", path | first %}
		{% if my_page.title %}
		<li class="c-nav__item{% if my_page.url == navurl %} -currentPage{%endif%}"><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
		{% endif %}
	{% endfor %}

</ul>
{% endif %}
