/***** Box Layout Primitive with Card View
 * Note: Check base/02-primitive.css for box styles.
 */
.o-box.-viewCard.o-center {
	width: calc(100% - calc(var(--boxViewCard-padSide)*2) - calc(var(--border, 0px)*2));
	/* o-center has content-box sizing, width needs adjustment in boxes*/

}
.o-box.-viewCard {
	overflow: hidden;
	/* overflow-wrap: break-word; */
	/* width: max-content; */
	width: 100%;
	position: relative;

	padding: calc(var(--boxViewCard-padTop) - var(--border, 0px)) calc(var(--boxViewCard-padSide) - var(--border, 0px)) calc(var(--boxViewCard-padBottom) - var(--border, 0px));

	/* Top padding trims if first child is a header component. */
	&:has(.c-header:first-child){
		padding-block-start: 0;
	}

	/* background-clip: content-box; */
	background-size: cover;/* opinionated */

/*** Box Layout Primitive with Card View inside Masonry Grid
 */
	/* Parent class */
	.o-rustygrid.-viewMasonry & {
		/* @media (--lap-or-gt) { */
		/* 	&.--typePhoto { */
		/* 		padding-block-end:0; */
		/* 	} */
		/* } */
		/* Highlight card inside masonry grid when screen reader focuses on something inside it */
		&:focus-within {
			outline: 2px solid var(--colorAccent);
		}

		/* Set limit images inside card component in bigger screens */
		@media (--lap-or-gt) {
			.o-box img {
				max-height: 40svh;
			}
		}
	}
	& + hr {
		margin: 0;
		padding: 0;
		background-color: transparent;
		display: block;
		width: 100%;
		height: calc(var(--rhythmUnit)*4);
		border: 0;
		/* grid-column: 12 / 1; */
	}
	&__footer {
		a {
			color: currentColor;
			text-decoration: none;
		}
	}
}

/*** Box Layout Primitive with Card View inside Rounded Corner Theme Modifier
 */
:where(.t-modRoot).-cornerRoundedTiny .o-box.-viewCard {
	border-radius: var(--radiusS);
}
:where(.t-modRoot):is(.-cornerRounded, .-cornerRoundedInner) .o-box.-viewCard {
	border-radius: var(--radiusL);
}
:where(.t-modRoot).-cornerRoundedInner .o-box.-viewCard :is(img,iframe,embed,video,audio,object){/* opinionated */
	border-radius: var(--radiusS);
}


/*** Header Component inside Box Layout Primitive with Card View
 *
 * Article: Height equals width with pure CSS
 * https://mademyday.de/height-equals-width-with-pure-css/
 */

/* ^^ That's really a hard code but nice looking edit */
/* *:not(.o-rustygrid.-viewMasonry) > .o-rustygrid__item */
*:not(.-viewMasonry) > .js-posts .o-rustygrid__item{
	.o-box.-viewCard .c-header:has(> img, > picture, > video, > figure) {
		/* padding-bottom: 40%; */
		padding-bottom: 30%;
		@media (--palm-or-gt) {
		/* 16:9 Space */
			/* padding-bottom: 56.25%; */
			/* padding-bottom: calc(9 / 16 * 100)% */

			/* padding-bottom: 46.25%; */
			padding-bottom: calc(9 / 16 * 100 - 10)%
		}
		@media (--lap-or-gt) {
		/* 21:9 Ultra Wide Space */
			/* padding-bottom: 42.85%; */
			/* padding-bottom: 32.85%; */
			padding-bottom: calc(9 / 21 * 100 - 10)%
		}
	}
}

/*** Header Component with Media inside Box Layout Primitive with Card View
 */
.o-box.-viewCard .c-header:has(> img, > picture, > video, > figure) {
	/* Override parent(o-box) gap */
	width: calc( var(--boxViewCard-padSide) * 2 + 100% );
	inset-block-start: calc( var(--boxViewCard-padTop) * -1);
	inset-inline-start: calc( var(--boxViewCard-padSide) * -1);

	/* Overriding/inheriting padding data
	 * from Card component
	 * over Header component */
	padding-inline: var(--boxViewCard-padSide);
	/* INFO: This one ^ might supposed to have higher specifity before, check if works properly... */

	/* Method 1: Old Padding Aspect Ratio Hack */
	/* padding-block-end: 23%; */

	/* Method 2: Flex & Aspect Ratio */
	aspect-ratio:9/5;
	display:flex;
    flex-wrap: wrap;
	align-items: baseline;
	/* align-items: end; */
	justify-items: stretch;
    align-content: space-between;
    /* align-content: flex-end; */

	/* .o-rustygrid:not(.-viewMasonry) > .o-rustygrid__item & { */
	/* *:not(.-viewMasonry) > .o-rustygrid__item & { */
	*:not(.-viewMasonry) > .js-posts .o-rustygrid__item & {
		@media (--desk-or-gt) {
			/* width: calc( 4rem + 100% ); */
			width: calc( var(--c-crad-padSide)*4 + 100% );
			inset-inline-start: calc( var(--boxViewCard-padSide) * -2);
		}
	}
	> img {
		/* Prevent image inside header section unselectable and draggable */
		user-select: none;
		-webkit-user-drag: none;
		-webkit-touch-callout: none;
		/* transition: transform 4s cubic-bezier(.08,.82,.17,1); */
		/* transform-origin: 50% 25%; */
	}
	/* &:hover img{ */
	/* 	transform: scale(1.1); */
	/* } */

	/* .o-box__meta { */
	/* 	inset-block-start: var(--boxViewCard-padTop); */
	/* } */

	/* .o-box__title { */
	/* 	position: absolute; */
	/* 	bottom:0; */
	/* } */

	:is(.o-box__title,.o-box__meta) a[href] {
		color: inherit;
	}
	:is(h4,h5,h6).o-box__meta {
		--fontWeight: 900;
	}
}
/* .o-box.-viewCard .c-header:has(> img, > picture, > video, > figure) { */
/* 	padding-block-end: 60%; */
/* } */
:is(h4,h5,h6).o-box__meta {
	--fontWeight: 400;
}

/*** Meta Text inside Box Layout Primitive with Card View
 *
 * Metadata like date of content, comment counter, SEO tags etc.
 */
.o-box__meta {
	text-transform:uppercase;
	inline-size: 100%;
	/* display: inline-block; */
	&:is(.-alignStart,.-alignEnd) {
		inline-size: 50%;
	}
	&.-alignStart {
		float: left;
		text-align: start;
		padding-inline-end: 1ch;
	}
	&.-alignEnd {
		float: right;
		text-align: end;
		padding-inline-start: 1ch;
	}
	/* Meta in devices that fits bigger than wrist */
	@media (--wrist-or-gt) {
		&:is(.-alignStart\@wrist-gt,.-alignEnd\@wrist-gt) {
			inline-size: 50%;
		}
		&.-alignStart\@wrist-gt {
			padding-inline-end: 1ch;
			text-align: start;
			float: left;
		}
		&.-alignEnd\@wrist-gt {
			float: right;
			text-align: end;
			padding-inline-start: 1ch;
		}
	}
}
/* Trim extra space between meta and title. */
.o-box__meta + .o-box__title {
	margin-block-start: 0;
	clear: both;
	/* display: inline-block;  */
}
