:root {
	/**** Type Scale
	 **/
	/** 1. Set global values */

	--typeScaleRoot: 16px;/* Default font size: 16px */
	--typeScaleBase: 16px;
	--typeScaleRatio: 1.25; /* Modular Scale Ratio */

	/** 2. Set different root font sizes in order to get diff value */
	@media (--wrist-or-lt) {
		--typeScaleBase: 12px; /* 12px */
	}
	@media (--lap-or-gt) {
		--typeScaleBase: 18px;

		/* --typeScaleBase: clamp(16px, 0.556rem + 0.69vw, 22px) /1* from 16px (at 1024px) to 22px (at 1888px) *1/ */
		/* Generated via https://min-max-calculator.9elements.com */
		/* Warning: It renders really slow if you try to resize on older devices! */
	}
	@media (--wall-or-gt) {
		--typeScaleBase: 22px;
	}
	/* @media (--titan-or-gt) { */
	/* 	--typeScaleBase: 24px; */
	/* } */

	--typeScaleDiff: calc(var(--typeScaleBase) - var(--typeScaleRoot));/* Equation of diff value */

	/* Multiply with several powers of the ratio for bigger values */
	--typeScale3: calc( var(--typeScaleRoot) * var(--typeScaleRatio) * var(--typeScaleRatio) * var(--typeScaleRatio) + var(--typeScaleDiff));
	--typeScale2: calc( var(--typeScaleRoot) * var(--typeScaleRatio) * var(--typeScaleRatio) + var(--typeScaleDiff));
	--typeScale1: calc( var(--typeScaleRoot) * var(--typeScaleRatio) + var(--typeScaleDiff));

	/* Divide with several powers of the ratio for smaller values */
	--typeScale-1: calc( var(--typeScaleRoot) / var(--typeScaleRatio) + var(--typeScaleDiff));
	--typeScale-2: calc( var(--typeScaleRoot) / var(--typeScaleRatio) / var(--typeScaleRatio) + var(--typeScaleDiff));

	/**** Vertical Rhythm/Baseline Grid
	 */
	--lineHeight: 1.5rem; /* 24px */

	--rhythmUnit: calc(var(--lineHeight)/3); /* 8px */ /* opinionated */

	/*** Set font size
	 */
	font-size: var(--typeScaleBase);

	/*** Set font and accent color
	 */
	color: var(--colorText);
	accentColor: var(--colorAccent);

	/*** Theme dependant font weight defaults
	 * */
	--fontWeight: 400;
	--fontWeightMultiplier: 1;
	--letterSpacing: 0ch;
	/* Make variable fonts thinner overall and add subtle letter spacing in dark theme */
	&[data-theme=dark] {
	/* @media (prefers-color-scheme: dark) { */
		--fontWeightMultiplier: .85;
		--letterSpacing: .02ch;
	}
	font-weight: calc( var(--fontWeight, 400) * var(--fontWeightMultiplier, 1) );

}

html {
	/* Set a highlight color for tabbed elements in iOS/iPadOS touch interfaces */
	-webkit-tap-highlight-color: var(--colorAccentBrighterOpac60);
}
body {
	/* Set line height here (if value unit is rem,
	 * line-height should be specified since
	 * it's one level lower than root element (HTML),
	 * because of Safari. */
	line-height: var(--lineHeight);
}


/*** Page-Wide Gradient Background + Contour Line
 */

/* Note: Bottom color must have a fallback bg-color in body, */
/* Note: In iOS/iPadOS Safari 12, gradient isn't page-wide but viewport-wide */

/* html { */
/* 	position: relative; */
/* 	/1* Note: If background attachment is fixed, backgrounds that use repeating gradients may occur slow scrolling speed, low FPS etc. in some browsers (confirmed on Safari 12). */
/* 	/1* top:0; *1/ */
/* 	&:before { */
/* 		content: ""; */
/* 		position: absolute; */
/* 		top: 0; */
/* 		left: 0; */
/* 		width: 100%; */
/* 		height: 100%; */
/* 		z-index: -9999; */
/* 		background: linear-gradient(to bottom, transparent, var(--blue)); */
/* 	} */
/* } */

/* Set the font family and relevant rendering options
 */
body {
	font-family: var(--fontMain);
	/* font-weight: calc(400 * var(--fontWeightMultiplier, 1)); */
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; /* disables subpixel antialias */
    /* text-rendering: optimizeLegibility; */
}

/* Set the background of the webpage
 */
body {
	/* height: auto; */

	/* Dynamic background color based on current theme */
	/* background-color: var(--colorBack); */
	background-color: var(--colorBg, gray);


	/* Horizontal Grid (PNG) */
	/* background: var(--colorBg) repeat top left; */
	/* background-image: url("img/filler/bg/grid24.webp"); */
	/* @media (--lap-or-gt) { */
	/* 	background-image: url("img/filler/bg/grid27.webp"); */
	/* } */
	/* @media (--mall-or-gt) { */
	/* 	background-image: url("img/filler/bg/grid33.webp"); */
	/* } */

	/* Noise Texture (PNG) */
	/* background: var(--colorBg) repeat top left; */
	/* background-image: url(img/pattern/noise-product.png); */
	/* @media (--hidpi) { */
	/* 	background-size: 180px 180px; */
	/* } */

}
/* .t-modRoot:where(-presetAcetate, .-presetNeumorphism) body { */
.t-modRoot:where(-presetAcetate, .-presetNeumorphism) body {
	background-color: var(--colorBase);
}

/* Set VF font weight every element except codeblock, variable, keyboard key and samples
 */
:not(code, var, kbd, samp) {
	/* --wght: calc(var(--fontWeight, 400) * var(--fontWeightMultiplier, 1)); */
	/* font-variation-settings: "wght" var(--wght); */

	/* TODO: This dark-mode friendly VF font-weight declaration might not work for non-VF fallbacks, need one. */
	font-weight: calc(var(--fontWeight, 400) * var(--fontWeightMultiplier, 1));
	letter-spacing: var(--letterSpacing, 0);
}

/* Set VF font weight for bolder elements
 */
strong,b,h1,h2,h3,h4,h5,h6{
	--fontWeight: 700;
}
th {
	--fontWeight: 600;
}

/***** Header & Paragraph Styles
 */
h1,h2,h3,h4,h5,h6,p{
	/* margin: .5rem auto; */
	margin-block: var(--rhythmUnit);
	position: relative;
	overflow-wrap: break-word;
}
p {
	hyphens: auto
}
:not(:is(h1,h2,h3,h4,h5,h6,legend,hr)) + :is(h1, h2, h3, h4, h5, h6) {
	margin-block-start: calc(var(--rhythmUnit)*3);
}
/* Set heading sizes based on modular scale.
 *
 * Source: https://www.modularscale.com/
 */
h1 { @mixin fontSize1;}
h2 { @mixin fontSize2;}
h3 { @mixin fontSize3;}
h4 { @mixin fontSize4;}
h5 { @mixin fontSize5;}
h6 { @mixin fontSize6;}

/* opinionated */
h1,h2,h3 {
	font-family: var(--fontHeading);
}
/* Make letter spacing adjustments to headers (except small devices). */
@media not (--wrist-or-lt) {
	h1,h2{
		letter-spacing: -1px;
		letter-spacing: calc(var(--letterSpacing)-1px);
	}
	h3 {
		letter-spacing: -.5px;
		letter-spacing: calc(var(--letterSpacing)-.5px);
	}
}
/* -opinionated */

/* Heading 5 and 6 styles for small (around 2 inch) smartwatch screens */
@media (--wrist-or-lt) { /* opinionated */
	h5, h6 {
		@mixin fontSize5;
		/* font-variant-caps: all-small-caps; */
		text-transform: uppercase;
		letter-spacing: 1px;
		letter-spacing: calc(var(--letterSpacing)+1px);
		--fontWeight: 400;
	}
}
p,caption,ul{
	/* padding-top: .35em; */ /* 5,6px */
	/* padding-bottom: .15em; */ /* 2,4px */
	padding-block: calc(var(--rhythmUnit) / 2);

	/* padding-top: calc((var(--lineHeight) - 1ex) / 2.4); */
	/* padding-bottom: calc(var(--lineHeight) - ((var(--lineHeight) - 1ex) / 2.4)); */
	/* /1* Default division value is 2, but I adjusted to snap to baseline and keep the rhythm at the same time. *1/ */

	/* Total intended size: 32px */

	/* Notice the total amount (.35+.15=.5) dividable with (.25) which is an selected unit for vertical rhythm */
}
hr{
	margin-block-end: -1px;
	/* margin-top: .5em; */
	/* padding-top: .5em; */
	padding-block: var(--rhythmUnit);
	border: 0;
	border-block-start: 1px solid var(--colorText);
}
ul{ /* opinionated */
	margin-block: calc(var(--rhythmunit)*2);
	margin-inline: 0;
	padding-inline-start: calc(var(--rhythmUnit)*5);
}
blockquote {
	margin-block: calc(var(--rhythmunit)*2);
	margin-inline: 0;
	padding: 0;
	padding-inline-start: calc(var(--rhythmUnit)*2);
	/* border-left: 2px solid currentColor; */
	border-inline-start: 1px solid currentColor;
}

/* Global Anchor Styles */
a {
	touch-action: manipulation;
	/* color: var(--colorAccent); */
	/* color: currentColor; */

	/* Why are hyperlinks blue?:
	 * https://blog.mozilla.org/en/internet-culture/deep-dives/why-are-hyperlinks-blue/ */
	color: var(--colorTextBolder);
	text-decoration-thickness: .125em;
	text-underline-offset: .0625em;
	text-decoration-color: var(--colorAccent);
	text-decoration-skip-ink: auto;
	transition-property: text-decoration-thickness, text-underline-offset;
	transition-duration: .15s;
	transition-timing-function: cubic-bezier(.08,.82,.17,1);
	/* TODO: Create different line colors based on href */
	& > svg {
		pointer-events: none;
	}
	/* &:hover, &:visited, &:focus { */
	&:hover, &:focus-visible {
		color: var(--colorAccentBrighter);

	}
	@media (any-hover: hover) {
		/* &:hover, &:visited:hover, &:focus, &:focus-visible { */
		&:hover, &:visited:hover, &:focus-visible {
			text-decoration-skip-ink: none;
			text-underline-offset: .125em;
			text-decoration-thickness: .25em;
		}
		&:active {
			/* text-underline-offset: .0625em; */
			text-underline-offset: 0;
			transition: none;
		}
	}
	&:visited {
		/* color: var(--colorLinkVisited); */
		text-decoration-color: var(--colorLinkVisited);
	}
	/* &[href=""] { */
	/* 	color: var(--colorLinkDead); */
	/* } */
}
/* TODO: Make a little sign for links that goes to external links */
/* This is from zachleat/11ty docs site, investigate script too. */
/* &[href^="//"]:not(.minilink):not(.elv-externalexempt)::after, a[href^="http://"]:not(.minilink):not(.elv-externalexempt)::after, a[href^="https://"]:not(.minilink):not(.elv-externalexempt)::after */
/* &[href^="//"]::after, &[href^="http://"]::after, &[href^="https://"]::after */

/* Adjust line offset/thickness */
abbr, acronym {
	text-underline-offset: .0625em;
	text-decoration-thickness: .125em;
}
/* Strikethrough */
del, s {
	text-decoration-thickness: .125em;
}
ins, u {
	text-underline-offset: .0625em;
}
abbr[title],acronym[title]{
	cursor: help;
}

pre,code,kbd,samp{
	font-family: var(--fontMono);
}
pre {
	/* overflow: auto; */ /* Already exists in current reset */
	background-color: var(--colorBack);
	border-radius: var(--radiusInnerDefault);
	padding: calc(var(--rhythmUnit) * 2 );
	code, var {
		background-color: transparent;
		font-size: initial;
		padding: initial;
	}
}

code, var, kbd, samp {/* opinionated */
	background-color: var(--colorBack);
	/* font-size:1em; */
	padding-block: calc(var(--rhythmUnit)/4);
	padding-inline: calc(var(--rhythmUnit)/2);
	border-radius: var(--radiusInnerDefault);
}

/* Realistic Marker Element*/
/* Source: https://www.abeautifulsite.net/posts/a-clever-way-to-style-the-mark-element/ */
mark {/* opinionated */
	background: linear-gradient(-100deg, hsl(60 100% 50% / .3), hsl(60 100% 50% / .7) 95%, hsl(60 100% 50% / .1));
	color: black;
	padding: calc(var(--rhythmUnit)/2);
	/* @media (prefers-color-scheme: dark) { */
	[data-theme=dark] & {
		color: hsl(60 100% 50%);
		background: linear-gradient(-100deg, hsl(60 100% 50% / .1), hsl(60 100% 50% / .2) 95%, hsl(60 100% 50% / .1));
	}
	:where(.-cornerRoundedTiny) & {
		border-radius: var(--radiusM) 0;
	}
	:where(.-cornerRounded, .-cornerRoundedInner) & {
		border-radius: var(--radiusL) 0;
	}
}

var {/* opinionated */
	padding-inline-start: .2rem; /* Lower left padding because it seem off from the center while it's slanted by default. */
	padding-inline-end: .3rem;
	/* Sum of these are connected to vertical rhythm unit (.5) */
}

figcaption {
	@mixin fontSize5;
}

table {
	--borderTable: var(--borderHairline);
	border: var(--borderTable) solid var(--colorText);
	/* border: var(--borderTable) solid var(--colorTextOpac40); */
	border-collapse: collapse;
	:is(td, th){
		/* border: var(--borderTable) solid currentColor; */
		border: var(--borderTable) solid var(--colorText);
		/* border: 1px solid var(--colorTextOpac40); */
		padding: calc(var(--rhythmUnit)/2);
	}

	&.--noBorder :is(td, th) {
		border: none;
		padding: initial;
	}
	&.--rowZebra {
		tbody tr:nth-child(odd) {
			background-color: var(--colorTextOpac075) ;
		}
	}
	&.--headerStickyBoth {
		/* Source: https://css-tricks.com/idea-simple-responsive-spreadsheet/ */

		/* Heading of the table */
		th {
			background-color: var(--colorTextOpac075) ;
			position: sticky;
			inset-block-start: calc(var(--borderTable*-1));
			z-index: 2;

			/* The first cell that lives in the top left of our spreadsheet */
			&:first-of-type {
				inset-inline-start: 0;
				z-index: 3;
			}
		}

		/* The first column that we want to stick to the left */
		tbody tr td:first-of-type {
			background-color: var(--colorTextOpac075) ;
			position: sticky;
			inset-inline-start: calc(var(--borderTable*-1));
			z-index: 1;
		}
	}
}
/* This class name may not be final */
.c-container__table-headerStickyBoth {
	overflow: scroll;
}

:is(.-cornerRounded,.-cornerRoundedInner,.-cornerRoundedTiny){
	table{
		border-collapse: separate;
		overflow:hidden;
		border-spacing: 0;
		border-block-end-width:0;
		border-inline-end-width:0
	}
	table.--rowZebra{
		border-block-end-width:var(--borderTable);
		:is(td,th){
			border-block-end-width:0;
		}
	}
	:is(td,th){
		border-block-start-width:0;
		border-inline-start-width:0
	}
	/* :is(tr:first-child :is(td,th):last-child, tr:last-child  :is(td,th):first-child, tr:last-child  :is(td,th):last-child ) { */
	/* 	overflow:hidden; */
	/* } */
}

table{
	border-radius: var(--radiusInnerDefault);
}
/* tr:first-child :is(td,th):first-child { border-top-left-radius:     var(--radiusInnerDefault)} */
/* tr:first-child :is(td,th):last-child  { border-top-right-radius:    var(--radiusInnerDefault)} */
/* tr:last-child  :is(td,th):first-child { border-bottom-left-radius:  var(--radiusInnerDefault)} */
/* tr:last-child  :is(td,th):last-child  { border-bottom-right-radius: var(--radiusInnerDefault)} */
:where(table, thead, tbody:not:first-child, :is(caption) + tbody) > tr:first-child :is(td,th):first-child { border-start-start-radius:  var(--radiusInnerDefault)}
:where(table, thead, tbody:not:first-child, :is(caption) + tbody) > tr:first-child :is(td,th):last-child  { border-start-end-radius:    var(--radiusInnerDefault)}
:where(table, tfoot, tbody:not:first-child, :is(caption) + tbody) > tr:last-child  :is(td,th):first-child { border-end-start-radius:    var(--radiusInnerDefault)}
:where(table, tfoot, tbody:not:first-child, :is(caption) + tbody) > tr:last-child  :is(td,th):last-child  { border-end-end-radius:      var(--radiusInnerDefault)}

/***** WP compatible, CMS exclusive
 *     inline article components
 */
.s-cmsContent img {
	max-width: 100%;
	width: auto;
	height: auto;
}
.aligncenter {
	clear: both;
	display: block;
	margin-inline: auto;
}
.alignleft, .alignright {
	display: inline;
}
.alignleft {
	float: left;
	/*margin-right: 1em;*/
	margin-inline-end: var(--c-card-padSide);
}
.alignright {
	/* float: right; */
	/*margin-left: 1em;*/
	margin-inline-start: var(--c-card-padSide);
}
/* .c-card.--viewMedia { */
/* 	.aligncenter,.alignleft,.alignright { */
/* 		margin: 0 !important; */
/* 		float: auto !important; */
/* 		clear: auto !important; */
/* 		display: block !important; */
/* 	} */
/* } */

/*TODO: Improved headings needs testing.
 */
/* ._s-improvedHeadings { */
/* 	/1* opinionated *1/ */
	/* h1,h2,h3,h4,h5 { */
	/* 	position:relative; */
	/* } */
	/* h1 { */
	/* 	left: -1.1rem */
	/* } */
	/* h2 { */
	/* 	left: -0.92rem */
	/* } */
	/* h3 { */
	/* 	left: -0.74rem */
	/* } */
	/* h4 { */
	/* 	left: -0.56rem */
	/* } */
	/* h5 { */
	/* 	left: -0.4rem */
	/* } */
/* 	/1* -opinionated *1/ */
/* 	/1* .c-card{ *1/ */
/* 	/1* 	padding-left: calc(var(--c-card-padSide) * 1.6); *1/ */
/* 	/1* 	padding-right: calc(var(--c-card-padSide) * 1.6); *1/ */
/* 	/1* } *1/ */
/* 	/1* .o-rustygrid, .o-masonry { *1/ */
/* 	/1* 	padding: 0; *1/ */
/* 	/1* } *1/ */
/* 	h1,h2,h3,h4,h5 { */
/* 		max-width: 32ch; */
/* 	} */
/* 	p { */
/* 		max-width: 63ch; */
/* 	} */
/* } */
