:root{
  /* --fontWeightMultiplier: 1; */
  /* @media (prefers-color-scheme: dark) { */
  /*   --fontWeightMultiplier: .85; */
  /* } */
  --iconColor: currentColor;
  --iconWeight: 2px;

  @media (--hidpi) {
    --iconWeight: 1.5px;
    /* --iconWeight: calc( 2px * var(--fontWeightMultiplier, 1) ); */
  }
}
/* @font-face { */
/*   font-family: "pxl-icon"; */
/*   src: url("font/pxl-icon.woff2") format("woff2"); */
/*   font-weight: normal; */
/*   font-style: normal; */
/*   font-display: block; */
/* } */
.pi{
  /* --fontWeightMultiplier: 0.5; */
  --iconSize: 18px;
  display:inline;
  width: auto;
  height: var(--iconSize);
  margin-block-start: calc((var(--lineHeight) - var(--iconSize))/2.5);
  margin-block-end: calc((var(--lineHeight) - var(--iconSize))/1.5);
  /* margin-block: calc(var(--lineHeight)*3 */
  /* vertical-align: -.2ex; */
  /* vertical-align: -.05rem; */
  fill:var(--iconColor);

  @media (--titan) {
    --iconSize: 27px;
  }

  /* margin:0 0.1667em; */
  /* margin-inline: .1667rem; */

  &.-widthDuo {
    width: calc(var(--iconSize)*2));
    /* min-width: 2em; */
  }
  /* &.-size18 { */
  /* } */
  &.-size36 {
    --iconSize: 36px;
    --iconWeight: 1px;
    height: 2rem;
  }
  &.-size72 {
    --iconSize: 72px;
    --iconWeight: .5px;
  }
  &.-size144 {
    --iconSize: 144px;
    --iconWeight: .5px;
  }

  /* doesn't work since can't affect on 'use' external sources
  /* path, ellipsis, circle, rect { */
  /*   fill: red !important; */
  /*   stroke: red !important; */
  /* } */
}

