<!-- available options: -justified -->
<ul class="c-nav -viewDropdown -positionTop -justified">
	<label class="c-toggleTrigger -viewMobile" for="c-toggleNav"><a><!--<i data-feather="menu"></i>-->Menu</a></label>
	<!-- <li class="c-nav__item"><a href="#">Home</a></li> -->
	<!-- <li class="c-nav__item"><a href="#">About Me</a></li> -->
	<!-- <li class="c-nav__item"><a href="#">Blog</a></li> -->
	<!-- <li class="c-nav__item"><a href="#">Works</a></li> -->
	<!-- <li class="c-nav__item"><a href="#">Articles</a></li> -->
	<li class="c-nav__item -currentPage"><a href="#"><i data-feather="home"></i> Ana Sayfa</a></li>
	<li class="c-nav__item"><a href="#"><i data-feather="user"></i> Hakkımda</a></li>
	<li class="c-nav__item"><a href="#"><i data-feather="align-left"></i> Blog</a></li>
	<li class="c-nav__item -hasChildren"><a href="https://google.com"><i data-feather="box"></i> Kategoriler</a>
		<ul class="c-nav__submenu">
			<li class="c-nav__item"><a href="#">bir</a></li>
			<li class="c-nav__item"><a href="#">iki</a></li>
			<li class="c-nav__item"><a href="#">üç</a></li>
		</ul>
	</li>
	<li class="c-nav__item"><a href="#"><i data-feather="image"></i> Galeri</a></li>
	<li class="c-nav__item -hasChildren"><a href="#"><i data-feather="image"></i> Yeni Oyunlar</a>
		<ul class="c-nav__submenu">
			<li class="c-nav__item"><a href="#">FF Legacy Gelişmeleri</a></li>
			<li class="c-nav__item"><a href="#">FF Retro Gelişmeleri</a></li>
			<li class="c-nav__item -hasChildren"><a href="#">Deneme</a>
				<ul class="submenu">
					<li class="c-nav__item"><a href="#">little one</a></li>
					<li class="c-nav__item"><a href="#">little one</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="c-nav__item"><a href="#"><i data-feather="archive"></i> Arşiv</a></li>
	<li class="c-nav__item"><a href="#"><i data-feather="search"></i> Arama</a></li>
</ul>
