<input id="c-toggleNav" type="checkbox">
<!-- Available options for c-nav: -collapsible -->
<ul id="mainNav" class="c-nav -viewTree -collapsible">
<!-- <ul class="c-nav -viewDropdown -positionTop -justified"> -->
	<label class="c-toggleTrigger -viewMobile" for="c-toggleNav"><a></a></label>
	<!-- <li class="c-nav__item"><a href="#">Home</a></li> -->
	<!-- <li class="c-nav__item"><a href="#">About Me</a></li> -->
	<!-- <li class="c-nav__item"><a href="#">Blog</a></li> -->
	<!-- <li class="c-nav__item"><a href="#">Works</a></li> -->
	<!-- <li class="c-nav__item"><a href="#">Articles</a></li> -->

	<!-- Search engine input -->
    <!-- <li class="c-nav__item"><input type="search" id="example-input-search" placeholder="Search..."></li> -->
    <input type="search" size="0" placeholder="Search...">

	<li class="c-nav__item -currentPage"><a href="#">Home</a></li>
	<hr/>
	<li class="c-nav__item"><a href="https://google.com">Parent Nav Item</a>
		<ul class="c-nav__submenu">
			<li class="c-nav__item"><a href="#">Nav Item</a></li>
			<li class="c-nav__item"><a href="#">Also Nav Item</a></li>
			<hr/>
			<li class="c-nav__item"><a href="#">Nav Item</a></li>
		</ul>
	</li>

	<!-- <li class="c-nav__item"><a href="https://google.com">İfadeler</a> -->
	<!-- 	<ul class="c-nav__submenu"> -->
	<!-- 		<li class="c-nav__item"><a href="#"></a></li> -->
	<!-- 		<li class="c-nav__item"><a href="#">Armut</a></li> -->
	<!-- 	</ul> -->
	<!-- </li> -->
	<li class="c-nav__item"><a href="https://google.com">Fruits</a>
		<ul class="c-nav__submenu">
			<li class="c-nav__item"><a href="#">Apple</a>
				<ul class="c-nav__submenu">
					<li class="c-nav__item"><a href="#">Green</a></li>
					<li class="c-nav__item"><a href="#">Red</a></li>
				</ul></li>
			<li class="c-nav__item"><a href="#">Pear</a></li>
			<li class="c-nav__item"><a href="#">Orange</a></li>
			<hr/>
			<li class="c-nav__item"><a href="#">Strawberry</a></li>
			<li class="c-nav__item"><a href="#">Banana</a>
				<ul class="c-nav__submenu">
					<li class="c-nav__item"><a href="#">Native</a></li>
					<li class="c-nav__item"><a href="#">Imported</a></li>
				</ul></li>
			<li class="c-nav__item"><a href="#">Raspberry</a></li>
		</ul>
	</li>
	<hr/>
	<li class="c-nav__item"><a href="#">Shrt Itm</a>
		<ul class="c-nav__submenu">
			<li class="c-nav__item"><a href="#">Overly complicated, detailed nav item</a></li>
			<li class="c-nav__item"><a href="#">Also overly detailed, complicated nav item</a></li>
		</ul>
	</li>
</ul>
