/***** Header Component
 */
.c-header {
	color: var(--colorTextBolder);
	margin-block-end:var(--rhythmUnit);
	& :is(h1,h2,h3,h4,h5,h6) {
		margin-block-start: 0
	}
	a {
		color: currentColor;
		text-decoration-line: none;
		@media (any-hover: hover) {
			/* &:hover, &:focus { */
			&:hover, &:focus-visible {
				color: currentColor;
				text-decoration-line: underline;
			}
		}
	}
}

/***** Header Component with Media View
 */
.c-header.-viewMedia {
	/* I want to get rid of -viewMedia class once :has support is globally available for the majority (including Firefox) */

	/* Warning: Make sure box-sizing set as border-box */

	/* background-color: var(--colorBackmost); */
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	/* padding-left: 1em; */
	/* padding-right: 1em; */
	position: relative;
	overflow: hidden;

	/* text-shadow: #020202 0 0 1px, #020202 0 0 1px, #020202 0 0 1px, */
	/* 			 #020202 0 0 1px, #020202 0 0 1px, #020202 0 0 1px; */
	/* text-shadow: var(--colorBackmost) 0 0 1px, var(--colorBackmost) 0 0 1px, var(--colorBackmost) 0 0 1px, */
	/* 			 var(--colorBackmost) 0 0 1px, var(--colorBackmost) 0 0 1px, var(--colorBackmost) 0 0 1px; */
	/* Generated from https://owumaro.github.io/text-stroke-generator/
		*
		* Approximately 2px stroke
		*/
	--stroke: var(--colorText);
	text-shadow:
	var(--stroke) 2px 0 0,
	var(--stroke) 1.75517px 0.958851px 0,
	var(--stroke) 1.0806px 1.68294px 0,
	var(--stroke) 0.141474px 1.99499px 0,
	var(--stroke) -0.832294px 1.81859px 0,
	var(--stroke) -1.60229px 1.19694px 0,
	var(--stroke) -1.97999px 0.28224px 0,
	var(--stroke) -1.87291px -0.701566px 0,
	var(--stroke) -1.30729px -1.51361px 0,
	var(--stroke) -0.421592px -1.95506px 0,
	var(--stroke) 0.567324px -1.91785px 0,
	var(--stroke) 1.41734px -1.41108px 0,
	var(--stroke) 1.92034px -0.558831px 0;

	/* color: #FDFDFD; */
	color: var(--colorFront);
	/* @media (prefers-color-scheme: dark) { */
	.t-color[data-theme=dark] & {
		/* TODO: pxl #9 */
		color: var(--colorTextBolder);
		--stroke: var(--colorBackmost);
	}
	.pi {
	/* Add border to all icons inside header modified with -viewMedia */
		--iconWeight:1.75px;/*opinionated*/
		filter:
		drop-shadow(calc(var(--iconWeight)*2) 0 0 var(--stroke))
		drop-shadow(0 calc(var(--iconWeight)*2) 0 var(--stroke))
		drop-shadow(calc(var(--iconWeight)*-2) calc(var(--iconWeight)*-2) 0 var(--stroke));
		/* filter: /1* Glitchy look *1/ */
		/* drop-shadow(calc(var(--iconWeight)*2) 0 0 var(--red)) */
		/* drop-shadow(0 calc(var(--iconWeight)*2) 0 var(--green)) */
		/* drop-shadow(calc(var(--iconWeight) * -2) calc(var(--iconWeight) * -2) 0 var(--blue)); */
	}

	/* > * { */
	> *:not(img) {
		position: relative;
	}
	> img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		/* opinionated */
		height: 100%;
		object-fit: cover;
		/*-opinionated */
	}
	&:before {
		position: relative;
		content: '';
		display: block;
	}
}
/*** Opinionated Header/Page Title
	*/
/* opinionated */
/* .c-header__title { */
/* 	/1* Title divider *1/ */
/* 	&:before { */
/* 		content: "/"; */
/* 		font-weight: 100; */
/* 		--fontWeight: 100; */
/* 		text-decoration-line: none; */
/* 	} */
/* } */
/* -opinionated */
